@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.MajorEquipmentStatuses
@using JXNippon.CentralizedDatabaseSystem.Shared.Commons

<div class="row">
    <div class="col">
        <DailyDataGrid @ref=DailyDataGrid LoadData="@LoadData" TItem="DailyMajorEquipmentStatus" TDialog="MajorEquipmentStatusDialog"
            PagerAlwaysVisible="@PagerAlwaysVisible">
            <Columns>
                <RadzenDataGridColumn TItem="DailyMajorEquipmentStatus" Property="MajorEquipmentName" Filterable="false" Title="Name" Frozen="true" Pickable="false">           
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyMajorEquipmentStatus" Property="Status" Title="Status">
                    <Template Context="item">
                        <StatusGridColumnTemplate Status="@(item.Status)"></StatusGridColumnTemplate>
                    </Template>           
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyMajorEquipmentStatus" Property="Remark" Title="Remark"/>
                <RadzenDataGridColumn TItem="DailyMajorEquipmentStatus" Property="Date" Title="Date" SortOrder="SortOrder.Descending" Visible="@ShowDateColumn">
                    <Template Context="item">
                        @String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:d}", item.DateUI)
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </DailyDataGrid>  
    </div>
</div>