@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.CoolingMediumSystems
@using JXNippon.CentralizedDatabaseSystem.Domain.Extensions
@using JXNippon.CentralizedDatabaseSystem.Shared.Commons

<div class="row">
    <div class="col">
        <DailyDataGrid @ref=DailyDataGrid LoadData="@LoadData" TItem="DailyCoolingMediumSystem" TDialog="CoolingMediumSystemDialog"
            PagerAlwaysVisible="@PagerAlwaysVisible" QueryFilter=QueryFilterAsync>
             <Columns>
                <RadzenDataGridColumn TItem="DailyCoolingMediumSystem" Property="CoolingMediumSystemName" Title="Name">           
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyCoolingMediumSystem" Property="Status" Title="Status">
                    <Template Context="item">
                        <StatusGridColumnTemplate Status="@(item.Status)"></StatusGridColumnTemplate>
                    </Template>           
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyCoolingMediumSystem" Property="Remark" Title="Remark"/>
                <RadzenDataGridColumn TItem="DailyCoolingMediumSystem" Property="Date" Title="Date" SortOrder="SortOrder.Descending" Visible="@ShowDateColumn">
                    <Template Context="item">
                        @String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:d}", item.DateUI)
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </DailyDataGrid>  
    </div>
</div>