@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.DailyProductions
@using JXNippon.CentralizedDatabaseSystem.Models
@using JXNippon.CentralizedDatabaseSystem.Shared.Commons

<DailyDialog TItem=DailyFPSOHelangProduction Item="@Item" CustomColumns=@CustomColumns MenuAction=@MenuAction IsViewing=@isViewing>
    <ChildContent>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="FPSO Cumulative Gas Export (MMscf)" />
                </div>
                <div class="col-8">
                    <RadzenNumeric Name="FPSOCumulativeGasExport" class="w-100" @bind-Value="@Item.FPSOCumulativeGasExport" Disabled=@isViewing
                    Placeholder="Enter FPSO cumulative gas export (MMscf) ..." TextProperty="FPSOCumulativeGasExport"></RadzenNumeric>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="FPSO Cumulative Gas Export Remark" />
                </div>
                <div class="col-8">
                    <RadzenTextArea Name="FPSOCumulativeGasExportRemark" class="w-100" Placeholder="Enter remark..." @bind-Value="@Item.FPSOCumulativeGasExportRemark" Disabled=@isViewing></RadzenTextArea>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="FPSO Cumulative Crude Oil (bbl)" />
                </div>
                <div class="col-8">
                    <RadzenNumeric Name="FPSOCumulativeCrudeOil" class="w-100" @bind-Value="@Item.FPSOCumulativeCrudeOil" Disabled=@isViewing
                    Placeholder="Enter FPSO cumulative crude Oil (bbl) ..." TextProperty="FPSOCumulativeCrudeOil"></RadzenNumeric>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="FPSO Cumulative Crude Oil Remark" />
                </div>
                <div class="col-8">
                    <RadzenTextArea Name="FPSOCumulativeCrudeOilRemark" class="w-100" Placeholder="Enter remark..." @bind-Value="@Item.FPSOCumulativeCrudeOilRemark" Disabled=@isViewing></RadzenTextArea>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="FPSO Crude API reading" />
                </div>
                <div class="col-8">
                    <RadzenTextArea Name="FPSOCrudeAPIReading" class="w-100" Placeholder="Enter FPSO crude API reading..." @bind-Value="@Item.FPSOCrudeAPIReading" Disabled=@isViewing></RadzenTextArea>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Estimated HIP Crude to FPSO (bbl)" />
                </div>
                <div class="col-8">
                    <RadzenNumeric Name="EstimatedHIPCrudeToFPSO" class="w-100" @bind-Value="@Item.EstimatedHIPCrudeToFPSO" Disabled=@isViewing
                    Placeholder="Enter estimated HIP crude to FPSO (bbl) ..." TextProperty="EstimatedHIPCrudeToFPSO"></RadzenNumeric>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Estimated HIP Crude to FPSO Remark" />
                </div>
                <div class="col-8">
                    <RadzenTextArea Name="EstimatedHIPCrudeToFPSORemark" class="w-100" Placeholder="Enter remark..." @bind-Value="@Item.EstimatedHIPCrudeToFPSORemark" Disabled=@isViewing></RadzenTextArea>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Estimated LWP Crude to FPSO (bbl)" />
                </div>
                <div class="col-8">
                    <RadzenNumeric Name="EstimatedLWPCrudeToFPSO" class="w-100" @bind-Value="@Item.EstimatedLWPCrudeToFPSO" Disabled=@isViewing
                    Placeholder="Enter estimated LWP crude to FPSO (bbl) ..." TextProperty="EstimatedLWPCrudeToFPSO"></RadzenNumeric>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Estimated LWP Crude to FPSO Remark" />
                </div>
                <div class="col-8">
                    <RadzenTextArea Name="EstimatedLWPCrudeToFPSORemark" class="w-100" Placeholder="Enter remark..." @bind-Value="@Item.EstimatedLWPCrudeToFPSORemark" Disabled=@isViewing></RadzenTextArea>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Estimated HIP Condy Divert to FPSO (bbl)" />
                </div>
                <div class="col-8">
                    <RadzenNumeric Name="HIPCondyDivertToFPSO" class="w-100" @bind-Value="@Item.HIPCondyDivertToFPSO" Disabled=@isViewing
                    Placeholder="Enter estimated HIP condy divert to FPSO (bbl) ..." TextProperty="HIPCondyDivertToFPSO"></RadzenNumeric>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Estimated HIP Condy Divert to FPSO Remark" />
                </div>
                <div class="col-8">
                    <RadzenTextArea Name="HIPCondyDivertToFPSORemark" class="w-100" Placeholder="Enter remark..." @bind-Value="@Item.HIPCondyDivertToFPSORemark" Disabled=@isViewing></RadzenTextArea>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="FPSO Cumulative Water Production (bbl)" />
                </div>
                <div class="col-8">
                    <RadzenNumeric Name="FPSOCumulativeWaterProduction" class="w-100" @bind-Value="@Item.FPSOCumulativeWaterProduction" Disabled=@isViewing
                    Placeholder="Enter FPSO cumulative water production (bbl) ..." TextProperty="FPSOCumulativeWaterProduction"></RadzenNumeric>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="FPSO Cumulative Water Production Remark" />
                </div>
                <div class="col-8">
                    <RadzenTextArea Name="FPSOCumulativeWaterProductionRemark" class="w-100" Placeholder="Enter remark..." @bind-Value="@Item.FPSOCumulativeWaterProductionRemark" Disabled=@isViewing></RadzenTextArea>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="FPSO Flaring (MMscf)" />
                </div>
                <div class="col-8">
                    <RadzenNumeric Name="FPSOFlaring" class="w-100" @bind-Value="@Item.FPSOFlaring" Disabled=@isViewing
                    Placeholder="Enter FPSO flaring (MMscf) ..." TextProperty="FPSOFlaring"></RadzenNumeric>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="FPSO Flaring Remark" />
                </div>
                <div class="col-8">
                    <RadzenTextArea Name="FPSOFlaringRemark" class="w-100" Placeholder="Enter remark..." @bind-Value="@Item.FPSOFlaringRemark" Disabled=@isViewing></RadzenTextArea>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="FPSO Fuel Gas Consumption (MMscf)" />
                </div>
                <div class="col-8">
                    <RadzenNumeric Name="FPSOFuelGasConsumption" class="w-100" @bind-Value="@Item.FPSOFuelGasConsumption" Disabled=@isViewing
                    Placeholder="Enter FPSO fuel gas consumption (MMscf) ..." TextProperty="FPSOFuelGasConsumption"></RadzenNumeric>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="FPSO Fuel Gas Consumption Remark" />
                </div>
                <div class="col-8">
                    <RadzenTextArea Name="FPSOFuelGasConsumptionRemark" class="w-100" Placeholder="Enter remark..." @bind-Value="@Item.FPSOFuelGasConsumptionRemark" Disabled=@isViewing></RadzenTextArea>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Date" />
                </div>
                <div class="col-8">
                    <RadzenDatePicker class="w-100" DateFormat="d" @bind-Value="@Item.DateUI" ShowTime="false" Disabled=@isViewing></RadzenDatePicker>
                </div>
            </div>
    </ChildContent>
</DailyDialog>