@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.DailyProductions
@using JXNippon.CentralizedDatabaseSystem.Shared.Commons

<div class="row">
    <div class="col">
        <DailyDataGrid @ref=DailyDataGrid LoadData="@LoadData" TItem="DailyFPSOHelangProduction" TDialog="FPSOHelangProductionDialog"
            PagerAlwaysVisible="@PagerAlwaysVisible">
            <Columns>
                <RadzenDataGridColumn TItem="DailyFPSOHelangProduction" Property="FPSOCumulativeGasExport" Title="FPSO Cumulative Gas Export (MMscf)"/>
                <RadzenDataGridColumn TItem="DailyFPSOHelangProduction" Property="FPSOGasExportGODCPlan" Title="FPSO Gas Export FODC Plan"/>
                <RadzenDataGridColumn TItem="DailyFPSOHelangProduction" Property="FPSOCumulativeGasExportRemark" Title="FPSO Cumulative Gas Export Remark">
                    <Template Context="item">
                        <p style="white-space:pre-wrap">@item.FPSOCumulativeGasExportRemark</p>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyFPSOHelangProduction" Property="FPSOCumulativeCrudeOil" Title="FPSO Cumulative Crude Oil (bbl)"/>
                <RadzenDataGridColumn TItem="DailyFPSOHelangProduction" Property="FPSOCumulativeCrudeOilRemark" Title="FPSO Cumulative Crude Oil Remark">
                    <Template Context="item">
                        <p style="white-space:pre-wrap">@item.FPSOCumulativeCrudeOilRemark</p>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyFPSOHelangProduction" Property="FPSOCrudeAPIReadingInletSep" Title="FPSO Crude API reading Inlet Sep"/>
                <RadzenDataGridColumn TItem="DailyFPSOHelangProduction" Property="FPSOCrudeAPIReadingReceivingTankCOTNumber" Title="FPSO Crude API reading Receiving Tank COT Number">
                    <Template Context="item">
                        <p style="white-space:pre-wrap">@item.FPSOCrudeAPIReadingReceivingTankCOTNumber</p>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyFPSOHelangProduction" Property="FPSOCrudeAPIReadingReceivingTank" Title="FPSO Crude API reading Receiving Tank"/>
                <RadzenDataGridColumn TItem="DailyFPSOHelangProduction" Property="EstimatedHIPCrudeToFPSO" Title="Estimated HIP Crude to FPSO (bbl)"/>
                <RadzenDataGridColumn TItem="DailyFPSOHelangProduction" Property="EstimatedHIPCrudeToFPSORemark" Title="Estimated HIP Crude to FPSO Remark">
                    <Template Context="item">
                        <p style="white-space:pre-wrap">@item.EstimatedHIPCrudeToFPSORemark</p>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyFPSOHelangProduction" Property="EstimatedLWPCrudeToFPSO" Title="Estimated LWP Crude to FPSO (bbl)"/>
                <RadzenDataGridColumn TItem="DailyFPSOHelangProduction" Property="EstimatedLWPCrudeToFPSORemark" Title="Estimated LWP Crude to FPSO Remark">
                    <Template Context="item">
                        <p style="white-space:pre-wrap">@item.EstimatedLWPCrudeToFPSORemark</p>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyFPSOHelangProduction" Property="HIPCondyDivertToFPSO" Title="Estimated HIP Condy Divert to FPSO (bbl)"/>
                <RadzenDataGridColumn TItem="DailyFPSOHelangProduction" Property="HIPCondyDivertToFPSORemark" Title="Estimated HIP Condy Divert to FPSO Remark">
                    <Template Context="item">
                        <p style="white-space:pre-wrap">@item.HIPCondyDivertToFPSORemark</p>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyFPSOHelangProduction" Property="FPSOCumulativeWaterProduction" Title="FPSO Cumulative Water Production (bbl)"/>
                <RadzenDataGridColumn TItem="DailyFPSOHelangProduction" Property="FPSOCumulativeWaterProductionRemark" Title="FPSO Cumulative Water Production Remark">
                    <Template Context="item">
                        <p style="white-space:pre-wrap">@item.FPSOCumulativeWaterProductionRemark</p>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyFPSOHelangProduction" Property="FPSOFlaring" Title="FPSO Flaring (MMscf)"/>
                <RadzenDataGridColumn TItem="DailyFPSOHelangProduction" Property="FPSOFlaringRemark" Title="FPSO Flaring Remark">
                    <Template Context="item">
                        <p style="white-space:pre-wrap">@item.FPSOFlaringRemark</p>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyFPSOHelangProduction" Property="FPSOFuelGasConsumption" Title="FPSO Fuel Gas Consumption (MMscf)"/>
                <RadzenDataGridColumn TItem="DailyFPSOHelangProduction" Property="FPSOFuelGasConsumptionRemark" Title="FPSO Fuel Gas Consumption Remark">
                    <Template Context="item">
                        <p style="white-space:pre-wrap">@item.FPSOFuelGasConsumptionRemark</p>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyFPSOHelangProduction" Property="Date" Title="Date" SortOrder="SortOrder.Descending" Visible="@ShowDateColumn">
                    <Template Context="item">
                        @String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:d}", item.DateUI)
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </DailyDataGrid>  
    </div>
</div>