@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.DailyProductions
@using JXNippon.CentralizedDatabaseSystem.Shared.Commons

<div class="row">
    <div class="col">
        <DailyDataGrid @ref=DailyDataGrid LoadData="@LoadData" TItem="DailySK10Production" TDialog="ProductionSK10Dialog" ReportDate="@this.ReportDate"
            PagerAlwaysVisible="@PagerAlwaysVisible">
            <Columns>
                <RadzenDataGridColumn TItem="DailySK10Production" Property="SK10CumulativeGasExport" Filterable="false" Title="SK10 Cumulative Gas Export (MMscf) " Frozen="true" Pickable="false" />
                <RadzenDataGridColumn TItem="DailySK10Production" Property="SK10GasExportGODCPlan" Filterable="false" Title="SK10 Gas Export GODC Plan (MMscfd)" Frozen="true" Pickable="false" />
                <RadzenDataGridColumn TItem="DailySK10Production" Property="SK10GasExportGODCPlanRemark" Title="Remark">
                    <Template Context="item">
                        <p style="white-space:pre-wrap">@item.SK10GasExportGODCPlanRemark</p>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailySK10Production" Property="Date" Title="Date" SortOrder="SortOrder.Descending" Visible="@ShowDateColumn">
                    <Template Context="item">
                        @String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:d}", item.DateUI)
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </DailyDataGrid>  
    </div>
</div>