@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.DailyProductions
@using JXNippon.CentralizedDatabaseSystem.Shared.Commons

<div class="row">
    <div class="col">
        <DailyDataGrid @ref=DailyDataGrid LoadData="@LoadData" TItem="DailyHIPProduction" TDialog="ProductionHIPDialog" ReportDate="@this.ReportDate"
            PagerAlwaysVisible="@PagerAlwaysVisible">
            <Columns>
                <RadzenDataGridColumn TItem="DailyHIPProduction" Property="HIPCumulativeGasExport" Title="HIP Cumulative Gas Export (MMscf)"/>
                <RadzenDataGridColumn TItem="DailyHIPProduction" Property="HIPGasExportGODCPlan" Title="HIP Gas Export GODC Plan"/>
                <RadzenDataGridColumn TItem="DailyHIPProduction" Property="HIPCumulativeGasExportRemark" Title="HIP Cumulative Gas Export Remark">
                    <Template Context="item">
                        <p style="white-space:pre-wrap">@item.HIPCumulativeGasExportRemark</p>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyHIPProduction" Property="HIPCumulativeCondensateExport" Title="HIP Cumulative Condensate Export (bbl)"/>
                <RadzenDataGridColumn TItem="DailyHIPProduction" Property="HIPCumulativeCondensateExportRemark" Title="HIP Cumulative Condensate Export Remark">
                    <Template Context="item">
                        <p style="white-space:pre-wrap">@item.HIPCumulativeCondensateExportRemark</p>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyHIPProduction" Property="HIPCumulativeWaterProduction" Title="HIP Cumulative Water Production (bbl)"/>
                <RadzenDataGridColumn TItem="DailyHIPProduction" Property="HIPCumulativeWaterProductionRemark" Title="HIP Cumulative Water Production Remark">
                    <Template Context="item">
                        <p style="white-space:pre-wrap">@item.HIPCumulativeWaterProductionRemark</p>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyHIPProduction" Property="FuelGas" Title="Fuel Gas (MMscf)"/>
                <RadzenDataGridColumn TItem="DailyHIPProduction" Property="FuelGasRemark" Title="Fuel Gas Remark">
                    <Template Context="item">
                        <p style="white-space:pre-wrap">@item.FuelGasRemark</p>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyHIPProduction" Property="HPVent" Title="HP Vent (MMscf)"/>
                <RadzenDataGridColumn TItem="DailyHIPProduction" Property="HPVentRemark" Title="HP Vent Remark">
                    <Template Context="item">
                        <p style="white-space:pre-wrap">@item.HPVentRemark</p>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyHIPProduction" Property="LPVent" Title="LP Vent (MMscf)"/>
                <RadzenDataGridColumn TItem="DailyHIPProduction" Property="LPVentRemark" Title="LP Vent Remark">
                    <Template Context="item">
                        <p style="white-space:pre-wrap">@item.LPVentRemark</p>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyHIPProduction" Property="WaterContentInGas" Title="Water Content in Gas (lb/MMscf)"/>
                <RadzenDataGridColumn TItem="DailyHIPProduction" Property="WaterContentInGasRemark" Title="Water Content in Gas Remark">
                    <Template Context="item">
                        <p style="white-space:pre-wrap">@item.WaterContentInGasRemark</p>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyHIPProduction" Property="CondensateWaterCutMeterPercentage" Title="Condensate Water Cut Meter (%)"/>
                <RadzenDataGridColumn TItem="DailyHIPProduction" Property="CondensateWaterCutMeterPPM" Title="Condensate Water Cut Meter (PPM)"/>
                <RadzenDataGridColumn TItem="DailyHIPProduction" Property="CondensateWaterCutMeterRemark" Title="Condensate Water Cut Meter Remark">
                    <Template Context="item">
                        <p style="white-space:pre-wrap">@item.CondensateWaterCutMeterRemark</p>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyHIPProduction" Property="OilInWaterReading" Title="Oil In Water Reading (PPM)"/>
                <RadzenDataGridColumn TItem="DailyHIPProduction" Property="OilInWaterReadingRemark" Title="Oil In Water Reading Remark">
                    <Template Context="item">
                        <p style="white-space:pre-wrap">@item.OilInWaterReadingRemark</p>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyHIPProduction" Property="Date" Title="Date" SortOrder="SortOrder.Descending" Visible="@ShowDateColumn">
                    <Template Context="item">
                        @string.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:d}", item.DateUI)
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </DailyDataGrid>  
    </div>
</div>