@using JXNippon.CentralizedDatabaseSystem.Shared.Description
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <div class="result-view d-flex align-items-center justify-content-center gap-3">
                        <GenericDescription Height="300px" ImageFile="@ImageFile.CompleteLogin" Description="Logging in...">
                            <ChildContent>
                                <Spin size="large" />
                            </ChildContent>
                        </GenericDescription>
                    </div>
                </Authorizing>
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated != true)
                    {
                        <RedirectToLogin />
                    }
                    else
                    {
                        <div class="result-view d-flex align-items-center justify-content-center gap-3">
                            <GenericDescription Height="300px" ImageFile="@ImageFile.ErrorForbidden" Description="Sorry, you are not authorized to access this page. Please contact administrator.">
                            </GenericDescription>
                        </div>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <div class="result-view d-flex align-items-center justify-content-center gap-3">
                    <GenericDescription Height="300px" ImageFile="@ImageFile.ErrorNotFound" Description="Sorry, the page you visited does not exist.">
                    </GenericDescription>
                </div>
            </LayoutView>
        </NotFound>
    </Router>

</CascadingAuthenticationState>
<AntContainer />