<CascadingAuthenticationState>
    <AppState>
        <Router AppAssembly="@typeof(App).Assembly">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                    <Authorizing>
                       <div class="result-view d-flex align-items-center justify-content-center gap-3">
                            <div class="fa-3x in-progress">
                                <i class="fas fa-circle-notch fa-spin"></i>
                            </div>
                            <div class="h2 in-progress">Logging you in...</div>
                        </div>
                    </Authorizing>
                    <NotAuthorized>
                        @if (context.User.Identity?.IsAuthenticated != true)
                        {
                            <RedirectToLogin />
                        }
                        else
                        {
                            <div class="result-view d-flex align-items-center justify-content-center gap-3">
                                <Result Status="403"
                                    Title="403"
                                    SubTitle="Sorry, you are not authorized to access this page."/>
                            </div>    
                        }
                    </NotAuthorized>
                </AuthorizeRouteView>
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Found>
            <NotFound>
                <PageTitle>Not found</PageTitle>
                <LayoutView Layout="@typeof(MainLayout)">
                    <div class="result-view d-flex align-items-center justify-content-center gap-3">
                        <Result Status="404"
                            Title="404"
                            SubTitle="Sorry, the page you visited does not exist."/>
                    </div>    
                </LayoutView>
            </NotFound>
        </Router>
        <AntContainer />
    </AppState>
</CascadingAuthenticationState>