@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.Utilities
@using JXNippon.CentralizedDatabaseSystem.Shared.Commons

<div class="row">
    <div class="col">
        <DailyDataGrid @ref=DailyDataGrid LoadData="@LoadData" TItem="DailyNitrogenGenerator" TDialog="NitrogenGeneratorDialog"
            PagerAlwaysVisible="@PagerAlwaysVisible">
            <Columns>
                <RadzenDataGridColumn TItem="DailyNitrogenGenerator" Property="UtilityName" Title="Utility Name" />
                <RadzenDataGridColumn TItem="DailyNitrogenGenerator" Property="Status" Title="Status">
                    <Template Context="item">
                        <StatusGridColumnTemplate Status="@(item.Status)"></StatusGridColumnTemplate>
                    </Template>           
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyNitrogenGenerator" Property="OxygenPercentage" Title="Oxygen %"/>
                <RadzenDataGridColumn TItem="DailyNitrogenGenerator" Property="Remark" Title="Remark">
                    <Template Context="item">
                        <p style="white-space:pre-wrap">@item.Remark</p>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyNitrogenGenerator" Property="Date" Title="Date" SortOrder="SortOrder.Descending" Visible="@ShowDateColumn">
                    <Template Context="item">
                        @String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:d}", item.DateUI)
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </DailyDataGrid>  
    </div>
</div>