@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.WellHeadAndSeparationSystems
@using JXNippon.CentralizedDatabaseSystem.Shared.Commons

<div class="row">
    <div class="col">
        <DailyDataGrid @ref=DailyDataGrid LoadData="@LoadData" @bind-Items=@this.Data OnItemsChanged=@this.DataChanged TItem="DailyWellHeadAndSeparationSystem" TDialog="WellHeadAndSeparationSystemDialog" ReportDate="@this.ReportDate"
            PagerAlwaysVisible="@PagerAlwaysVisible">
            <Columns>
                <RadzenDataGridColumn TItem="DailyWellHeadAndSeparationSystem" Property="StationRecyclePV2015" Filterable="false" Title="Station Recycle PV-2015 %" Frozen="true" Pickable="false" />
                <RadzenDataGridColumn TItem="DailyWellHeadAndSeparationSystem" Property="StationRecyclePV2015Control" Filterable="false" Title="Station Recycle PV-2015 Control" Frozen="true" Pickable="false" />
                <RadzenDataGridColumn TItem="DailyWellHeadAndSeparationSystem" Property="ProductionSeparatorV2010PV" Title="Production Separator V-2010 PV"/>
                <RadzenDataGridColumn TItem="DailyWellHeadAndSeparationSystem" Property="TestSeparatorV2000PV" Title="Test Separator V-2000 PV"/>
                <RadzenDataGridColumn TItem="DailyWellHeadAndSeparationSystem" Property="SayBoltColour" Title="Say Bolt Colour"/>
                <RadzenDataGridColumn TItem="DailyWellHeadAndSeparationSystem" Property="SandFilterS0400Status" Title="Sand Filter S-0400 Status">
                    <Template Context="item">
                        <StatusGridColumnTemplate Status="@(item.SandFilterS0400Status)"></StatusGridColumnTemplate>
                    </Template>        
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyWellHeadAndSeparationSystem" Property="S0400" Title="S-0400 ΔP (bar)"/>
                <RadzenDataGridColumn TItem="DailyWellHeadAndSeparationSystem" Property="Date" Title="Date" SortOrder="SortOrder.Descending" Visible="@ShowDateColumn">
                    <Template Context="item">
                        @String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:d}", item.DateUI)
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </DailyDataGrid>  
    </div>
</div>