@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.PowerGenerationAndDistributions
@using JXNippon.CentralizedDatabaseSystem.Shared.Commons

<div class="row">
    <div class="col">
        <DailyDataGrid @ref=DailyDataGrid LoadData="@LoadData" TItem="DailyPowerGenerationAndDistribution" TDialog="PowerGenerationAndDistributionManagementDialog" ReportDate="@this.ReportDate"
            PagerAlwaysVisible="@PagerAlwaysVisible"
            QueryFilter=QueryFilterAsync>
            <Columns>
                <RadzenDataGridColumn TItem="DailyPowerGenerationAndDistribution" Property="PowerGeneratorName" Filterable="false" Title="Name" Pickable="false">           
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyPowerGenerationAndDistribution" Property="Status" Title="Status">
                    <Template Context="item">
                        <StatusGridColumnTemplate Status="@(item.Status)"></StatusGridColumnTemplate>
                    </Template>         
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyPowerGenerationAndDistribution" Property="Remark" Title="Remark"/>
                <RadzenDataGridColumn TItem="DailyPowerGenerationAndDistribution" Property="Date" Title="Date" SortOrder="SortOrder.Descending" Visible="@ShowDateColumn" Groupable="false">
                    <Template Context="item">
                        @String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:d}", item.DateUI)
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </DailyDataGrid>  
    </div>
</div>