@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.LWPActivities
@using JXNippon.CentralizedDatabaseSystem.Shared.Commons

<div class="row">
    <div class="col">
        <DailyDataGrid @ref=DailyDataGrid LoadData="@LoadData" TItem="DailyLWPActivity" TDialog="LWPActivityDialog" ReportDate="@this.ReportDate"
            PagerAlwaysVisible="@PagerAlwaysVisible">
          <Columns>
                <RadzenDataGridColumn TItem="DailyLWPActivity" Property="Remark" Title="Remark" Width="100px" />
                <RadzenDataGridColumn TItem="DailyLWPActivity" Property="Date" Title="Date" Width="30px" SortOrder="SortOrder.Descending" Visible="@ShowDateColumn">
                    <Template Context="DailyLWPActivity">
                        @String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:d}", DailyLWPActivity.Date.ToLocalTime())
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </DailyDataGrid>  
    </div>
</div>