@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.GasCondensateExportSamplerAndExportLines
@using JXNippon.CentralizedDatabaseSystem.Shared.Commons

<div class="row">
    <div class="col">
        <DailyDataGrid @ref=DailyDataGrid LoadData="@LoadData" TItem="DailyGasCondensateExportSamplerAndExportLine" TDialog="GasCondensateExportSamplerAndExportLineDialog" ReportDate="@this.ReportDate"
            PagerAlwaysVisible="@PagerAlwaysVisible">
            <Columns>
                <RadzenDataGridColumn TItem="DailyGasCondensateExportSamplerAndExportLine" Property="LastPiggingDate" Title="Last Pigging Date" Visible="@ShowDateColumn">
                    <Template Context="dailyGasCondensateExportSamplerAndExportLine">
                        @String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:d}", dailyGasCondensateExportSamplerAndExportLine.LastPiggingDateUI)
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyGasCondensateExportSamplerAndExportLine" Property="NextPiggingDate" Title="Next Pigging Date" Visible="@ShowDateColumn">
                    <Template Context="dailyGasCondensateExportSamplerAndExportLine">
                        @String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:d}", dailyGasCondensateExportSamplerAndExportLine.NextPiggingDateUI)
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyGasCondensateExportSamplerAndExportLine" Property="TrunkLinePressure" Title="Trunk Line Pressure" />
                <RadzenDataGridColumn TItem="DailyGasCondensateExportSamplerAndExportLine" Property="PV2901SP" Title="PV-2901 SP" />
                <RadzenDataGridColumn TItem="DailyGasCondensateExportSamplerAndExportLine" Property="GasSamplerId" Title="Gas Sampler Id" />
                <RadzenDataGridColumn TItem="DailyGasCondensateExportSamplerAndExportLine" Property="LastChangeOut" Title="Last Change Out" Visible="@ShowDateColumn">
                    <Template Context="dailyGasCondensateExportSamplerAndExportLine">
                        @String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:d}", dailyGasCondensateExportSamplerAndExportLine.LastChangeOutDateUI)
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyGasCondensateExportSamplerAndExportLine" Property="GasSamplerContent" Title="Gas Sampler Content (ml)" />
                <RadzenDataGridColumn TItem="DailyGasCondensateExportSamplerAndExportLine" Property="NextChangeOut" Title="Next Change Out" Visible="@ShowDateColumn">
                    <Template Context="dailyGasCondensateExportSamplerAndExportLine">
                        @String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:d}", dailyGasCondensateExportSamplerAndExportLine.NextChangeOutDateUI)
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyGasCondensateExportSamplerAndExportLine" Property="CondySamplerId" Title="Condy Sampler Id" />
                <RadzenDataGridColumn TItem="DailyGasCondensateExportSamplerAndExportLine" Property="LastSampling" Title="Last Sampling" Visible="@ShowDateColumn">
                    <Template Context="dailyGasCondensateExportSamplerAndExportLine">
                        @String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:d}", dailyGasCondensateExportSamplerAndExportLine.LastSamplingDateUI)
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyGasCondensateExportSamplerAndExportLine" Property="CondySamplerContent" Title="Condy Sampler Content (ml)" />
                <RadzenDataGridColumn TItem="DailyGasCondensateExportSamplerAndExportLine" Property="NextSampling" Title="Next Sampling" SortOrder="SortOrder.Descending" Visible="@ShowDateColumn">
                    <Template Context="dailyGasCondensateExportSamplerAndExportLine">
                        @String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:d}", dailyGasCondensateExportSamplerAndExportLine.NextSamplingDateUI)
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyGasCondensateExportSamplerAndExportLine" Property="Date" Title="Date" SortOrder="SortOrder.Descending" Visible="@ShowDateColumn">
                    <Template Context="dailyGasCondensateExportSamplerAndExportLine">
                        @String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:d}", dailyGasCondensateExportSamplerAndExportLine.DateUI)
                    </Template>
                </RadzenDataGridColumn>
            </Columns>

        </DailyDataGrid>  
    </div>
</div>