@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.GasCondensateExportSamplerAndExportLines
@using JXNippon.CentralizedDatabaseSystem.Shared.Commons

<DailyDialog TItem=DailyGasCondensateExportSamplerAndExportLine Item="@Item" CustomColumns=@CustomColumns MenuAction=@MenuAction IsViewing=@isViewing>
    <ChildContent>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Last Pigging Date" />
                </div>
                <div class="col-8">
                    <RadzenDatePicker class="w-100" DateFormat="d" @bind-Value="@Item.LastPiggingDateUI" ShowTime="false" Disabled=@isViewing></RadzenDatePicker>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Next Pigging Date" />
                </div>
                <div class="col-8">
                    <RadzenDatePicker class="w-100" DateFormat="d" @bind-Value="@Item.NextPiggingDateUI" ShowTime="false" Disabled=@isViewing></RadzenDatePicker>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Trunk Line Pressure" />
                </div>
                <div class="col-8">
                    <RadzenNumeric Name="TrunkLinePressure" class="w-100" @bind-Value="@Item.TrunkLinePressure" Disabled=@isViewing
                    Placeholder="Enter trunk line pressure ..." TextProperty="TrunkLinePressure"></RadzenNumeric>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="PV-2901 SP" />
                </div>
                <div class="col-8">
                    <RadzenNumeric Name="PV2901SP" class="w-100" @bind-Value="@Item.PV2901SP" Disabled=@isViewing
                    Placeholder="Enter PV-2901 SP ..." TextProperty="PV2901SP"></RadzenNumeric>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Gas Sampler Id" />
                </div>
                <div class="col-8">
                    <RadzenTextArea Name="GasSamplerId" class="w-100" Placeholder="Enter gas sampler id..." @bind-Value="@Item.GasSamplerId" Disabled=@isViewing></RadzenTextArea>
                    <RadzenRequiredValidator Component="GasSamplerId" Text="Gas sampler id is required" Popup=false/>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Last Change Out" />
                </div>
                <div class="col-8">
                    <RadzenDatePicker class="w-100" DateFormat="d" @bind-Value="@Item.LastChangeOutDateUI" ShowTime="false" Disabled=@isViewing></RadzenDatePicker>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Gas Sampler Content (ml)" />
                </div>
                <div class="col-8">
                    <RadzenNumeric Name="GasSamplerContent" class="w-100" @bind-Value="@Item.GasSamplerContent" Disabled=@isViewing
                    Placeholder="Enter gas sampler content ..." TextProperty="GasSamplerContent"></RadzenNumeric>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Next Change Out" />
                </div>
                <div class="col-8">
                    <RadzenDatePicker class="w-100" DateFormat="d" @bind-Value="@Item.NextChangeOutDateUI" ShowTime="false" Disabled=@isViewing></RadzenDatePicker>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Condy Sampler Id" />
                </div>
                <div class="col-8">
                    <RadzenTextArea Name="CondySamplerId" class="w-100" Placeholder="Enter condy sampler id..." @bind-Value="@Item.CondySamplerId" Disabled=@isViewing></RadzenTextArea>
                    <RadzenRequiredValidator Component="CondySamplerId" Text="Condy sampler id is required" Popup=false/>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Last Sampling" />
                </div>
                <div class="col-8">
                    <RadzenDatePicker class="w-100" DateFormat="d" @bind-Value="@Item.LastSamplingDateUI" ShowTime="false" Disabled=@isViewing></RadzenDatePicker>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Condy Sampler Content (ml)" />
                </div>
                <div class="col-8">
                    <RadzenNumeric Name="CondySamplerContent" class="w-100" @bind-Value="@Item.CondySamplerContent" Disabled=@isViewing
                    Placeholder="Enter condy sampler content ..." TextProperty="CondySamplerContent"></RadzenNumeric>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Next Sampling" />
                </div>
                <div class="col-8">
                    <RadzenDatePicker class="w-100" DateFormat="d" @bind-Value="@Item.NextSamplingDateUI" ShowTime="false" Disabled=@isViewing></RadzenDatePicker>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Date" />
                </div>
                <div class="col-8">
                    <RadzenDatePicker class="w-100" DateFormat="d" @bind-Value="@Item.DateUI" ShowTime="false" Disabled=@isViewing></RadzenDatePicker>
                </div>
            </div>
    </ChildContent>
</DailyDialog>