@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.GlycolRegenerationSystems
@using JXNippon.CentralizedDatabaseSystem.Shared.Commons

<div class="row">
    <div class="col">
        <DailyDataGrid @ref=DailyDataGrid LoadData="@LoadData" TItem="DailyGlycolPump" TDialog="GlycolPumpDialog"
            PagerAlwaysVisible="@PagerAlwaysVisible">
            <Columns>
                <RadzenDataGridColumn TItem="DailyGlycolPump" Property="GlycolPumpName" Title="Glycol Pump Name" />
                <RadzenDataGridColumn TItem="DailyGlycolPump" Property="Status" Title="Status">
                    <Template Context="item">
                        <StatusGridColumnTemplate Status="@(item.Status)"></StatusGridColumnTemplate>
                    </Template>           
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyGlycolPump" Property="Remark" Title="Remark" />
                <RadzenDataGridColumn TItem="DailyGlycolPump" Property="Date" Title="Date" SortOrder="SortOrder.Descending" Visible="@ShowDateColumn">
                    <Template Context="item">
                        @String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:d}", item.DateUI)
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </DailyDataGrid>  
    </div>
</div>