<Empty Image="@this._images[this.ImageFile]" ImageStyle='@($"height: {this.Height}; width: {this.Width};")' Class="@($"{this.Class} align-middle")">
    <DescriptionTemplate>
        <span>@this.Description</span>
    </DescriptionTemplate>
    <ChildContent>
        @this.ChildContent
    </ChildContent>
</Empty>