@if (this.IsVisible)
{
    <div class="col-sm-12 col-md-4 py-2 px-2 h-100" @onclick="@OnButtonClick">
        <Card Hoverable Style="background: transparent; min-height:30vh; border: 0;">
            <div class="d-flex align-items-center justify-content-center gap-3 h-100">
                <GenericDescription Height="200px" ImageFile="@ImageFile" Description="@Description">
                    <ChildContent>
                        <h4 @onclick="@OnButtonClick">@ButtonText</h4>
                    </ChildContent>
                </GenericDescription>
            </div>
        </Card>
    </div> 
}
