@page "/filemanagement"
@using System.Linq;
@using System.Linq.Dynamic.Core;
@using Affra.Core.Domain.Services
@using JXNippon.CentralizedDatabaseSystem.Domain.Extensions
@using JXNippon.CentralizedDatabaseSystem.Domain.FileManagements
@using Microsoft.OData.Client
@using Microsoft.OData.Extensions.Client
@inject IFileManagementService FileManagementService
@inject IGenericService<DataExtractorODataService.Affra.Service.DataExtractor.Domain.Files.File> GenericFileService

<PageTitle>File Management</PageTitle>

<h1>File Management</h1>
<RadzenButton Text="Reload" Click="@Reload" Style="margin-bottom: 20px;" />
<RadzenDataGrid @ref="grid" IsLoading="@isLoading" Count="@count" Data="@files" LoadData="@LoadData" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowSorting="true" AllowFiltering="false" AllowPaging="true" PageSize="10" PagerHorizontalAlign="HorizontalAlign.Center" TItem="DataExtractorODataService.Affra.Service.DataExtractor.Domain.Files.File" ColumnWidth="200px">
    <Columns>
        <RadzenDataGridColumn TItem="DataExtractorODataService.Affra.Service.DataExtractor.Domain.Files.File" Property="FolderName" Filterable="false" Title="Folder Name" Frozen="true" Width="50px" TextAlign="TextAlign.Center" />
        <RadzenDataGridColumn TItem="DataExtractorODataService.Affra.Service.DataExtractor.Domain.Files.File" Property="FileName" Title="File Name" />
        <RadzenDataGridColumn TItem="DataExtractorODataService.Affra.Service.DataExtractor.Domain.Files.File" Property="LastUpdatedDateTime" Title="Last Updated Date Time" Width="150px">
              <Template Context="file">
                  @String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:f}", file.LastUpdatedDateTime.ToLocalTime())
              </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="DataExtractorODataService.Affra.Service.DataExtractor.Domain.Files.File" Property="ProcessStatus" Title="Process Status"/>
        <RadzenDataGridColumn TItem="DataExtractorODataService.Affra.Service.DataExtractor.Domain.Files.File" Context="sampleBlazorModelsSampleOrder" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="120px">
            <Template Context="file">
                <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Class="m-1" Click="@(args => EditRow(file))" @onclick:stopPropagation="true">
                </RadzenButton>
            </Template>
            <EditTemplate Context="file">
                <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Primary" Class="m-1" Click="@((args) => SaveRow(file))">
                </RadzenButton>
                <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Class="m-1" Click="@((args) => CancelEdit(file))">
                </RadzenButton>
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="DataExtractorODataService.Affra.Service.DataExtractor.Domain.Files.File" Context="order" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="60px">
            <Template Context="file">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Small" Class="m-1" Click="@(args => DeleteRow(file))"  @onclick:stopPropagation="true">
                </RadzenButton>
            </Template>
            <EditTemplate Context="file">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Small" Class="m-1" Click="@(args => DeleteRow(file))">
                </RadzenButton>
            </EditTemplate>
        </RadzenDataGridColumn>

    </Columns>
</RadzenDataGrid>

@code {
    private RadzenDataGrid<DataExtractorODataService.Affra.Service.DataExtractor.Domain.Files.File> grid;
    private IEnumerable<DataExtractorODataService.Affra.Service.DataExtractor.Domain.Files.File> files;
    private DataExtractorODataService.Affra.Service.DataExtractor.Domain.Files.File fileToInsert;
    private int count;
    private bool isLoading;

    async Task Reload()
    {
        grid.Reset(true); 
        await grid.Reload();
    }

    async Task LoadData(LoadDataArgs args)
    {
        isLoading = true;

        var filesResponse = await FileManagementService.Get()
            .AppendQuery(args.Filter, args.Skip, args.Top, args.OrderBy)
            .ToQueryOperationResponseAsync<DataExtractorODataService.Affra.Service.DataExtractor.Domain.Files.File>();

        count = (int)filesResponse.Count;
        files = filesResponse.ToList();

        isLoading = false;
    }

    async Task EditRow(DataExtractorODataService.Affra.Service.DataExtractor.Domain.Files.File file)
    {
        await grid.EditRow(file);
    }

    async Task SaveRow(DataExtractorODataService.Affra.Service.DataExtractor.Domain.Files.File file)
    {
        if (file == fileToInsert)
        {
            fileToInsert = null;
        }
        await GenericFileService.InsertAsync(file);
        await grid.UpdateRow(file);
    }

    void CancelEdit(DataExtractorODataService.Affra.Service.DataExtractor.Domain.Files.File file)
    {
        if (file == fileToInsert)
        {
            fileToInsert = null;
        }

        grid.CancelEditRow(file);

    }

    async Task DeleteRow(DataExtractorODataService.Affra.Service.DataExtractor.Domain.Files.File file)
    {
        if (file == fileToInsert)
        {
            fileToInsert = null;
        }

        if (files.Contains(file))
        {
            await GenericFileService.DeleteAsync(file);
            await grid.Reload();
        }
        else
        {
            grid.CancelEditRow(file);
        }
    }


}
