@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.ProducedWaterTreatmentSystems

<div class="row">
    <div class="col">
        <RadzenButton Click="@ReloadAsync" Text="Refresh" Icon="refresh" ButtonStyle="ButtonStyle.Light" Style="margin-bottom: 20px;" Visible="@ShowRefreshButton" />   
        <RadzenDataGrid @ref="grid" IsLoading="@isLoading" Count="@Count" Data="@items" LoadData="@LoadDataAsync" 
            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowSorting="true" AllowFiltering="false" AllowPaging="true" 
            PageSize="10" PagerHorizontalAlign="HorizontalAlign.Center" TItem="DailyDeOilerInjection" 
            ColumnWidth="200px" AllowColumnResize="true" ShowPagingSummary="true" 
            AllowMultiColumnSorting="true" ShowMultiColumnSortingIndex="true"
            PagerAlwaysVisible="@PagerAlwaysVisible" CellContextMenu=@OnCellContextMenu>
            <EmptyTemplate>                
                <div class="row" @oncontextmenu=@(args => OnCellContextMenu(args)) @oncontextmenu:preventDefault="true">
                    <a>No records to display.</a>
                </div>                    
            </EmptyTemplate>
            <Columns>
                <RadzenDataGridColumn TItem="DailyDeOilerInjection" Property="InjectionPoint" Title="Injection Point" Width="40px">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyDeOilerInjection" Property="InjectionStatus" Title="Injection Status"  Width="40px">
                    <Template Context="item">
                        <StatusGridColumnTemplate Status="@(item.InjectionStatus)"></StatusGridColumnTemplate>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyDeOilerInjection" Property="Date" Title="Date" Width="30px" SortOrder="SortOrder.Descending" Visible="@ShowDateColumn">
                    <Template Context="DailyDeOilerInjection">
                        @String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:d}", DailyDeOilerInjection.Date.ToLocalTime())
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyDeOilerInjection" Property="TodayLevel" Title="Today's Level" Width="30px" />
                <RadzenDataGridColumn TItem="DailyDeOilerInjection" Property="YesterdayLevel" Title="Yesterday's Level" Width="30px"/>
                <RadzenDataGridColumn TItem="DailyDeOilerInjection" Property="LevelDrop" Title="Level Drop" Width="30px"/>
                <RadzenDataGridColumn TItem="DailyDeOilerInjection" Property="PumpStroke" Title="Pump Stroke / Min" Width="30px"/>
                <RadzenDataGridColumn TItem="DailyDeOilerInjection" Property="PumpDischarge" Title="Pump Discharge (I/d)" Width="30px"/>
                <RadzenDataGridColumn TItem="DailyDeOilerInjection" Property="TotalTank" Title="Total Tank" Width="30px"/>
                <RadzenDataGridColumn TItem="DailyDeOilerInjection" Property="Drums" Title="Drums" Width="30px"/>
      
            </Columns>

        </RadzenDataGrid>  
    </div>
</div>


@code
{
    private void OnCellContextMenu(MouseEventArgs args)
    {
        bool hasRowData = (args as DataGridCellMouseEventArgs<DailyDeOilerInjection>) != null;
        ContextMenuService.Open(args, ds =>
           @<RadzenMenu Click="@(e => OnMenuItemClickAsync(args as DataGridCellMouseEventArgs<DailyDeOilerInjection>, e))">
                <RadzenMenuItem Text="Add ..." Value="0" Icon="note_add"/>
                <RadzenMenuItem Text="Edit ..." Value="1" Icon="description" Visible=@hasRowData/>
                <RadzenMenuItem Text="Delete ..." Value="2" Icon="delete" Visible=@hasRowData/>
                <RadzenMenuItem Text="View ..." Value="3" Icon="launch" Visible=@hasRowData/>
                <RadzenMenuItem Text="Refresh" Value="4" Icon="refresh"/>
        </RadzenMenu>
        );  
    }

    private async Task OnMenuItemClickAsync(DataGridCellMouseEventArgs<DailyDeOilerInjection> args, MenuItemEventArgs e)
    {
        int i = (int)e.Value;
        if (i == 0)
        {
            await ShowDialogAsync(
                new DailyDeOilerInjection() { InjectionPoint = args?.Data?.InjectionPoint, Date = DateTimeOffset.Now.Date },
                i,
                "Add");
        }
        else if (i == 1)
        {
            args.Data.Date = args.Data.Date.ToLocalTime();
            await ShowDialogAsync(args.Data, i, "Edit");
        }
        else if (i == 2)
        {
            await ShowDialogAsync(args.Data, i, "Delete");
        }
        else if (i == 3)
        {
            args.Data.Date = args.Data.Date.ToLocalTime();
            await ShowDialogAsync(args.Data, i, "View");
        }
        else if (i == 4)
        {
            await grid.Reload();      
        }
    }
}