@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.ProducedWaterTreatmentSystems
@using JXNippon.CentralizedDatabaseSystem.Shared.Commons

<div class="row">
    <div class="col">
        <DailyDataGrid @ref=DailyDataGrid LoadData="@LoadData" TItem="DailyDeOilerInjection" TDialog="DeOilerInjectionDialog"
            PagerAlwaysVisible="@PagerAlwaysVisible">
            <Columns>
                <RadzenDataGridColumn TItem="DailyDeOilerInjection" Property="InjectionPoint" Title="Injection Point" Width="40px">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyDeOilerInjection" Property="InjectionStatus" Title="Injection Status"  Width="40px">
                    <Template Context="item">
                        <StatusGridColumnTemplate Status="@(item.InjectionStatus)"></StatusGridColumnTemplate>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyDeOilerInjection" Property="Date" Title="Date" Width="30px" SortOrder="SortOrder.Descending" Visible="@ShowDateColumn">
                    <Template Context="dailyDeOilerInjection">
                        @String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:d}", dailyDeOilerInjection.DateUI)
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyDeOilerInjection" Property="TodayLevel" Title="Today's Level" Width="30px" />
                <RadzenDataGridColumn TItem="DailyDeOilerInjection" Property="YesterdayLevel" Title="Yesterday's Level" Width="30px"/>
                <RadzenDataGridColumn TItem="DailyDeOilerInjection" Property="LevelDrop" Title="Level Drop" Width="30px"/>
                <RadzenDataGridColumn TItem="DailyDeOilerInjection" Property="PumpStroke" Title="Pump Stroke / Min" Width="30px"/>
                <RadzenDataGridColumn TItem="DailyDeOilerInjection" Property="PumpDischarge" Title="Pump Discharge (I/d)" Width="30px"/>
                <RadzenDataGridColumn TItem="DailyDeOilerInjection" Property="TotalTank" Title="Tote Tank" Width="30px"/>
                <RadzenDataGridColumn TItem="DailyDeOilerInjection" Property="Drums" Title="Drums" Width="30px"/>   
            </Columns>
        </DailyDataGrid>  
    </div>
</div>