@using AntDesign;
@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.AvailabilityAndReliabilityReport;
@using JXNippon.CentralizedDatabaseSystem.Shared.Description

<Layout Class="layout-view">
    <Sider Width="100" >
        <Layout Style="height: 100%;background-color: white;">
            <Header>
                <div class="row">
                    <div class="col-6">
                        <span>Year</span>
                    </div>
                </div>
            </Header>
            <Content style="overflow-y: auto; max-height: 100%;">
                @if (YearList is not null && YearList.Count > 0)
                {
                    <Menu DefaultSelectedKeys=@(new[] { YearList[0].ToString() }) @ref=@menu Style="height: 100%;" Mode=@MenuMode.Inline OnMenuItemClicked=OnMenuItemSelectAsync>
                        @foreach (int yearItem in YearList)
                        {
                            <SubMenu Key="@yearItem.ToString()">
                                <TitleTemplate>
                                    <span style="font-size: 16px; margin-left: 0px;">@yearItem</span>
                                </TitleTemplate>
                                <ChildContent>
                                    @foreach (string month in GetMonthList())
                                    {
                                        <MenuItem Key="@month.ToString()"><span style="font-size: 16px; margin-left: 0px;">@month</span></MenuItem>
                                    }
                                </ChildContent>
                            </SubMenu>
                        }
                    </Menu>
                }
            </Content>
        </Layout>
    </Sider>
    <Layout Style="height:100%;">
        <Header Style="border-left: 1px solid #dbe0ea">
            <div class="row">
                <div class="col-6">
                    <span>Layang Gas Template Report</span>
                </div>
            </div>
        </Header>
        <Content Style="height:100%;background-color: white;">
            @if(this.Items is not null)
            {
                <AvailabilityAndReliabilityTableView Year="@HIPItems.Date.Year.ToString()">
                    <AvailabilityAndReliabilityTableRow RowName="HIP">
                        <DecimalMonthlyAvailabilityAndReliabilityDataItem Year="@this.HIPItems.Date.Year.ToString()" OnDataUpdate="OnDataUpdateHandler" IsEditable=true IsRequired=true @bind-Value=@this.HIPItems.TotalUnplannedInterruption TItem="MonthlyHIPAvailabilityAndReliabilityCalculation" ItemId="@this.HIPItems.Id" Item="@this.HIPItems" />
                    </AvailabilityAndReliabilityTableRow>
                </AvailabilityAndReliabilityTableView>
            }
            else
            {
                <div class="min-vh-56 d-flex align-items-center justify-content-center gap-3">
                    <GenericDescription Height="250px" ImageFile="@ImageFile.NoData" Description="No gas master deferment created.">
                    </GenericDescription>
                </div>
            }
        </Content>
    </Layout>
</Layout>