@using JXNippon.CentralizedDatabaseSystem.Domain.Users
@using UserODataService.Affra.Service.User.Domain.Users

<RadzenTemplateForm Data="@Item" Submit="@( async (User args) => { await SubmitAsync(args); })">
    <div class="row">
        <div class="col">
            @if (this.IsUserEdit)
            {
                <div class="row py-2">
                    <div class="col-4 align-items-center d-flex">
                        <RadzenLabel class="dialogTextSize" Text="Color" />
                    </div>
                    <div class="col-8">
                        <RadzenColorPicker Name="AvatarColor" class="w-100" Placeholder="Select color..." @bind-Value="@this.userPersonalization.AvatarColor" Disabled=@isViewing></RadzenColorPicker>
                    </div>
                </div> 
                <div class="row py-2">
                    <div class="col-4 align-items-center d-flex">
                        <RadzenLabel class="dialogTextSize" Text="Avatar" />
                    </div>
                    <div class="col-8">
                        <div class="row">
                            @foreach(var ava in availableAvatar)
                            {
                                <div class="col-1" @onclick=@(() => this.OnSelect(ava))>
                                    <Avatar Src=@($"avatar\\{ava}.png") Style=@($"vertical-align: middle; background-color: {(this.userPersonalization.AvatarId == ava ? this.userPersonalization.AvatarColor : "Transparent")};") Size="large">
                                        <span style="font-size: 16px;"></span>
                                    </Avatar>
                                </div>                          
                            }
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="row py-2">
                    <div class="col-4 align-items-center d-flex">
                        <RadzenLabel class="dialogTextSize" Text="Role" />
                    </div>
                    <div class="col-8">
                        <RadzenDropDown Name="Role" class="w-100" Placeholder="Select role..." Data=@roles @bind-Value="@Item.Role" Disabled=@isViewing></RadzenDropDown>
                        <RadzenRequiredValidator Component="Role" Text="Role is required" Popup=false/>
                    </div>
                </div>
            }
            
            <div class="row justify-content-center py-4" hidden=@isViewing>
                <div class="col-md-12 d-flex align-items-end justify-content-center">
                    <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" Disabled=@isViewing/>
                    <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="cancel" style="display: inline-block; margin-left: 10px;" Text="Cancel" Click="@Cancel"/>
                </div>
            </div>
        </div>
    </div>
</RadzenTemplateForm>
