@using JXNippon.CentralizedDatabaseSystem.Domain.Users
@using UserODataService.Affra.Service.User.Domain.Users

<RadzenTemplateForm Data="@Item" Submit="@( async (User args) => { await SubmitAsync(args); })">
    <div class="row">
        <div class="col">
            @if (this.IsUserEdit)
            {
                <div class="row py-2">
                    <div class="col-4 align-items-center d-flex">
                        <RadzenLabel class="dialogTextSize" Text="Color" />
                    </div>
                    <div class="col-8">
                        <RadzenColorPicker Name="AvatarColor" class="w-100" Placeholder="Select color..." @bind-Value="@this.userPersonalization.AvatarColor" Disabled=@isViewing></RadzenColorPicker>
                    </div>
                </div> 
                <div class="row py-2">
                    <div class="col-4 align-items-center d-flex">
                        <RadzenLabel class="dialogTextSize" Text="Avatar" />
                    </div>
                    <div class="col-8">
                        <div class="row">
                            @foreach(var ava in availableAvatar)
                            {
                                <div class="col-1" @onclick=@(() => this.OnSelect(ava))>
                                    <Avatar Src=@($"avatar\\{ava}.png") Style=@($"vertical-align: middle; background-color: {(this.userPersonalization.AvatarId == ava ? this.userPersonalization.AvatarColor : "Transparent")};") Size="large">
                                        <span style="font-size: 16px;"></span>
                                    </Avatar>
                                </div>                          
                            }
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="row py-2">
                    <div class="col-4 align-items-center d-flex">
                        <RadzenLabel class="dialogTextSize" Text="Email" />
                    </div>
                    <div class="col-8">
                        <RadzenTextBox Name="Email" class="w-100" Placeholder="Enter email..." @bind-Value="@Item.Email" Disabled=@isViewing></RadzenTextBox>
                        <RadzenRequiredValidator Component="Email" Text="Email is required" Popup=false />
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-4 align-items-center d-flex">
                        <RadzenLabel class="dialogTextSize" Text="Fullname" />
                    </div>
                    <div class="col-8">
                        <RadzenTextBox Name="Name" class="w-100" Placeholder="Enter name..." @bind-Value="@Item.Name" Disabled=@isViewing></RadzenTextBox>
                        <RadzenRequiredValidator Component="Name" Text="Name is required" Popup=false />
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-4 align-items-center d-flex">
                        <RadzenLabel class="dialogTextSize" Text="Role" />
                    </div>
                    <div class="col-8">
                        <RadzenDropDown Name="Role" class="w-100" Placeholder="Select role..." Data=@roles @bind-Value="@Item.Role" Disabled=@isViewing></RadzenDropDown>
                        <RadzenRequiredValidator Component="Role" Text="Role is required" Popup=false/>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-4 align-items-center d-flex">
                        <RadzenLabel class="dialogTextSize" Text="Position" />
                    </div>
                    <div class="col-8">
                        <RadzenTextBox Name="Position" class="w-100" Placeholder="Enter position..." @bind-Value="@Item.Position" Disabled=@isViewing></RadzenTextBox>
                        <RadzenRequiredValidator Component="Position" Text="Position is required" Popup=false />
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-4 align-items-center d-flex">
                        <RadzenLabel class="dialogTextSize" Text="Department" />
                    </div>
                    <div class="col-8">
                        <RadzenTextBox Name="Department" class="w-100" Placeholder="Enter department..." @bind-Value="@Item.Department" Disabled=@isViewing></RadzenTextBox>
                        <RadzenRequiredValidator Component="Department" Text="Department is required" Popup=false />
                    </div>
                </div>
            }
            
            <div class="row justify-content-center py-4" hidden=@isViewing>
                <div class="col-md-12 d-flex align-items-end justify-content-center">
                    <Button HtmlType="submit" Type="primary" Size="@("large")" Disabled=@isViewing>
                        <ChildContent>
                            <Icon Type="save" Theme="outline" Class="anticon-big" />
                            <span style="font-size: 18px; margin-left: 10px;">Save</span>
                        </ChildContent>
                    </Button>
                    <Button Style="display: inline-block; margin-left: 10px;" Size="@("large")" OnClick="@Cancel">
                        <ChildContent>
                            <Icon Type="close-circle" Theme="outline" Class="anticon-big" />
                            <span style="font-size: 18px; margin-left: 10px;">Cancel</span>
                        </ChildContent>
                    </Button>
                </div>
            </div>
        </div>
    </div>
</RadzenTemplateForm>
