@page "/"
@using DataExtractorODataService.Affra.Service.DataExtractor.Domain.DataFiles

<PageTitle>Home</PageTitle>
<RadzenBreadCrumb>
    <ChildContent>
        <RadzenBreadCrumbItem Path="/" Text="Home" />
    </ChildContent>
</RadzenBreadCrumb>
<DashboardFilterPanel @ref="filterPanel" Change=@(args => OnChangeAsync(args)) />
 <div class="row py-2">
    <div class="col">
        <RadzenButton Text="Export Combined Daily Report" Icon="grid_on" ButtonStyle="ButtonStyle.Primary" Style="margin-bottom: 20px;"/>
    </div>
</div>
 <div class="row py-2">
    <div class="col">
        <RadzenPanel AllowCollapse="true">
            <HeaderTemplate>
                <h4 class="m-0 d-flex align-items-center title">
                    3. Daily Production
                </h4>
            </HeaderTemplate>
            <ChildContent>
                <div class="row py-2">
                    <div class="col">
                        <RadzenPanel AllowCollapse="true">
                            <HeaderTemplate>
                                <h4 class="m-0 d-flex align-items-center title">
                                    SK10 Production
                                </h4>
                            </HeaderTemplate>
                            <ChildContent>
                                <ProductionSK10DataGrid @ref="productionSK10DataGrid" LoadData=@(args => LoadProductionSK10DataGridAsync(args))/>
                            </ChildContent>
                            <SummaryTemplate>
                                <RadzenCard class="mt-3">
                                    <b>@productionSK10DataGrid.Count record(s)</b>
                                </RadzenCard>
                            </SummaryTemplate>
                        </RadzenPanel>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col">
                        <RadzenPanel AllowCollapse="true">
                            <HeaderTemplate>
                                <h4 class="m-0 d-flex align-items-center title">
                                    HIP Production
                                </h4>
                            </HeaderTemplate>
                            <ChildContent>
                                <ProductionHIPDataGrid @ref="productionHIPDataGrid" LoadData=@(args => LoadProductionHIPDataGridAsync(args))/>
                            </ChildContent>
                            <SummaryTemplate>
                                <RadzenCard class="mt-3">
                                    <b>@productionHIPDataGrid.Count record(s)</b>
                                </RadzenCard>
                            </SummaryTemplate>
                        </RadzenPanel>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col">
                        <RadzenPanel AllowCollapse="true">
                            <HeaderTemplate>
                                <h4 class="m-0 d-flex align-items-center title">
                                    FPSO Production
                                </h4>
                            </HeaderTemplate>
                            <ChildContent>
                                <ProductionFPSOHelangDataGrid @ref="productionFPSOHelangDataGrid" LoadData=@(args => LoadProductionFPSODataGridAsync(args))/>
                            </ChildContent>
                            <SummaryTemplate>
                                <RadzenCard class="mt-3">
                                    <b>@productionFPSOHelangDataGrid.Count record(s)</b>
                                </RadzenCard>
                            </SummaryTemplate>
                        </RadzenPanel>
                    </div>
                </div>
            </ChildContent>
            <SummaryTemplate>
                <RadzenCard class="mt-3">
                    <b>@(productionSK10DataGrid.Count + productionHIPDataGrid.Count + productionFPSOHelangDataGrid.Count) record(s).</b>
                </RadzenCard>
            </SummaryTemplate>
        </RadzenPanel>
    </div>
</div>
 <div class="row py-2">
    <div class="col">
        <RadzenPanel AllowCollapse="true">
            <HeaderTemplate>
                <h4 class="m-0 d-flex align-items-center title">
                    4. Major Equipment Status
                </h4>
            </HeaderTemplate>
            <ChildContent>
                <MajorEquipmentStatusDataGrid @ref="majorEquipmentStatusDataGrid" LoadData=@(args => LoadMajorEquipmentDataGridAsync(args))/>
            </ChildContent>
            <SummaryTemplate>
                <RadzenCard class="mt-3">
                    <b>@majorEquipmentStatusDataGrid.Count record(s).</b>
                </RadzenCard>
            </SummaryTemplate>
        </RadzenPanel>
    </div>
</div>
 <div class="row py-2">
    <div class="col">
        <RadzenPanel AllowCollapse="true">
            <HeaderTemplate>
                <h4 class="m-0 d-flex align-items-center title">
                    6. WellHead & Separation System
                </h4>
            </HeaderTemplate>
            <ChildContent>
                <WellHeadAndSeparationSystemDataGrid @ref="wellHeadAndSeparationSystemDataGrid" LoadData=@(args => LoadWellHeadAndSeparationSystemDataGridAsync(args))/>
                <div class="row py-2">
                    <div class="col">
                        <RadzenPanel AllowCollapse="true">
                            <HeaderTemplate>
                                <h4 class="m-0 d-flex align-items-center title">
                                    Well Stream Cooler
                                </h4>
                            </HeaderTemplate>
                            <ChildContent>
                                <WellStreamCoolerDataGrid @ref="wellStreamCoolerDataGrid" LoadData=@(args => LoadWellStreamCoolerDataGridAsync(args))/>
                            </ChildContent>
                            <SummaryTemplate>
                                <RadzenCard class="mt-3">
                                    <b>@wellStreamCoolerDataGrid.Count record(s)</b>
                                </RadzenCard>
                            </SummaryTemplate>
                        </RadzenPanel>
                    </div>
                </div>
            </ChildContent>
            <SummaryTemplate>
                <RadzenCard class="mt-3">
                    <b>@wellHeadAndSeparationSystemDataGrid.Count record(s).</b>
                </RadzenCard>
            </SummaryTemplate>
        </RadzenPanel>
    </div>
</div>
<div class="row py-2">
    <div class="col">
        <RadzenPanel AllowCollapse="true">
            <HeaderTemplate>
                <h4 class="m-0 d-flex align-items-center title">
                    12. Power Generation & Distrubution
                </h4>
            </HeaderTemplate>
            <ChildContent>
                <PowerGenerationAndDistributionManagementDataGrid @ref="powerGenerationAndDistributionManagementDataGrid" LoadData=@(args => LoadPowerGenerationAndDistributionManagementDataGridAsync(args))/>
            </ChildContent>
            <SummaryTemplate>
                <RadzenCard class="mt-3">
                    <b>@powerGenerationAndDistributionManagementDataGrid.Count record(s).</b>
                </RadzenCard>
            </SummaryTemplate>
        </RadzenPanel>
    </div>
</div>
<div class="row py-2">
    <div class="col">
        <RadzenPanel AllowCollapse="true">
            <HeaderTemplate>
                <h4 class="m-0 d-flex align-items-center title">
                    14. Tilted Plate Separator V-3000 & Produced Water Treatment System
                </h4>
            </HeaderTemplate>
            <ChildContent>
                <ProducedWaterTreatmentSystemManagementDataGrid @ref="producedWaterTreatmentSystemManagementDataGrid" LoadData=@(args => LoadProducedWaterTreatmentSystemManagementDataGridAsync(args))/>
                <div class="row py-2">
                    <div class="col">
                        <RadzenPanel AllowCollapse="true">
                            <HeaderTemplate>
                                <h4 class="m-0 d-flex align-items-center title">
                                    De-oiler Injection
                                </h4>
                            </HeaderTemplate>
                            <ChildContent>
                                <DeOilerInjectionDataGrid @ref="deOilerInjectionDataGrid" LoadData=@(args => LoadDeOilerInjectionDataGridAsync(args))/>
                            </ChildContent>
                            <SummaryTemplate>
                                <RadzenCard class="mt-3">
                                    <b>@deOilerInjectionDataGrid.Count record(s)</b>
                                </RadzenCard>
                            </SummaryTemplate>
                        </RadzenPanel>
                    </div>
                </div>
            </ChildContent>
            <SummaryTemplate>
                <RadzenCard class="mt-3">
                    <b>@producedWaterTreatmentSystemManagementDataGrid.Count record(s)</b>
                </RadzenCard>
            </SummaryTemplate>
        </RadzenPanel>
    </div>
</div>
