@page "/"
@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.ProducedWaterTreatmentSystems
@using DataExtractorODataService.Affra.Service.DataExtractor.Domain.DataFiles
@using JXNippon.CentralizedDatabaseSystem.Models
@using JXNippon.CentralizedDatabaseSystem.Shared.OIMSummary
@using JXNippon.CentralizedDatabaseSystem.Shared.Logistic
@using JXNippon.CentralizedDatabaseSystem.Shared.Dashboard
@using JXNippon.CentralizedDatabaseSystem.Shared.MajorEquipment
@using JXNippon.CentralizedDatabaseSystem.Shared.CommunicationSystem
@using JXNippon.CentralizedDatabaseSystem.Shared.DailyProduction
@using JXNippon.CentralizedDatabaseSystem.Shared.RollsRoyceGasEngineAndKawasakiCompressionSystem
@using JXNippon.CentralizedDatabaseSystem.Shared.WellHeadAndSeparationSystem
@using JXNippon.CentralizedDatabaseSystem.Shared.WellHead
@using JXNippon.CentralizedDatabaseSystem.Shared.PowerGenerationAndDistributionManagement
@using JXNippon.CentralizedDatabaseSystem.Shared.ProducedWaterTreatmentSystemManagement
@using JXNippon.CentralizedDatabaseSystem.Shared.FileManagement
@using JXNippon.CentralizedDatabaseSystem.Shared.LWPActivity
@using JXNippon.CentralizedDatabaseSystem.Shared.HealthSafetyAndEnvironment
@using JXNippon.CentralizedDatabaseSystem.Shared.ChemicalInjection
@using JXNippon.CentralizedDatabaseSystem.Shared.GlycolRegenerationSystem
@using JXNippon.CentralizedDatabaseSystem.Shared.GasAndCondensateExportSamplersAndExportLine
@using JXNippon.CentralizedDatabaseSystem.Shared.CoolingMediumSystem
@using JXNippon.CentralizedDatabaseSystem.Shared.LivingQuartersUtilitiesAndOthers
@using JXNippon.CentralizedDatabaseSystem.Shared.SandDisposalDesander
@using JXNippon.CentralizedDatabaseSystem.Shared.VendorActivities
@using ViewODataService.Affra.Service.View.Domain.Views

<PageTitle>Dashboard</PageTitle>
<RadzenBreadCrumb>
    <ChildContent>
        <RadzenBreadCrumbItem Path="/" Text="Dashboard" />
    </ChildContent>
</RadzenBreadCrumb>
@foreach(var row in view.Rows)
{
    <div class="row">
        @foreach(var col in row.Columns) 
        {
            if (col is LineChart column)
            {
                <div class="col">
                    <RadzenCard>                  
                        <Chart TType="@column.Type" AxisTitle="@column.AxisTitle" FormatString="@column.FormatString" 
                    Step="@TimeSpan.FromMinutes(column.StepInMinutes)" ChartSeries="@column.ChartSeries"></Chart></RadzenCard>  
                </div> 
            }
        }
    </div>
}
