@page "/dashboard"
@using BlazorDateRangePicker
@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.ProducedWaterTreatmentSystems
@using DataExtractorODataService.Affra.Service.DataExtractor.Domain.DataFiles
@using JXNippon.CentralizedDatabaseSystem.Models
@using JXNippon.CentralizedDatabaseSystem.Shared.OIMSummary
@using JXNippon.CentralizedDatabaseSystem.Shared.Logistic
@using JXNippon.CentralizedDatabaseSystem.Shared.Dashboard
@using JXNippon.CentralizedDatabaseSystem.Shared.MajorEquipment
@using JXNippon.CentralizedDatabaseSystem.Shared.CommunicationSystem
@using JXNippon.CentralizedDatabaseSystem.Shared.DailyProduction
@using JXNippon.CentralizedDatabaseSystem.Shared.RollsRoyceGasEngineAndKawasakiCompressionSystem
@using JXNippon.CentralizedDatabaseSystem.Shared.Views
@using JXNippon.CentralizedDatabaseSystem.Shared.WellHeadAndSeparationSystem
@using JXNippon.CentralizedDatabaseSystem.Shared.WellHead
@using JXNippon.CentralizedDatabaseSystem.Shared.PowerGenerationAndDistributionManagement
@using JXNippon.CentralizedDatabaseSystem.Shared.ProducedWaterTreatmentSystemManagement
@using JXNippon.CentralizedDatabaseSystem.Shared.FileManagement
@using JXNippon.CentralizedDatabaseSystem.Shared.LWPActivity
@using JXNippon.CentralizedDatabaseSystem.Shared.HealthSafetyAndEnvironment
@using JXNippon.CentralizedDatabaseSystem.Shared.ChemicalInjection
@using JXNippon.CentralizedDatabaseSystem.Shared.GlycolRegenerationSystem
@using JXNippon.CentralizedDatabaseSystem.Shared.GasAndCondensateExportSamplersAndExportLine
@using JXNippon.CentralizedDatabaseSystem.Shared.CoolingMediumSystem
@using JXNippon.CentralizedDatabaseSystem.Shared.LivingQuartersUtilitiesAndOthers
@using JXNippon.CentralizedDatabaseSystem.Shared.SandDisposalDesander
@using JXNippon.CentralizedDatabaseSystem.Shared.VendorActivities
@using ViewODataService.Affra.Service.View.Domain.Views

<PageTitle>Dashboard</PageTitle>
<div class="py-2">
    <div class="row">
        <div class="col-3">
                <DateRangePicker class="form-control form-control-sm" placeholder="Select dates..."
                OnRangeSelect="OnRangeSelectAsync"
                @bind-StartDate="startDate" @bind-EndDate="endDate"
                MinDate="DateTimeOffset.Now.AddYears(-1)" MaxDate="DateTimeOffset.Now"
                ShowOnlyOneCalendar="false"
                MaxSpan="TimeSpan.FromDays(62)">
                <PickerTemplate>
                    <div id="@context.Id" @onclick="context.Toggle" class="date-range-picker">
                        <i class="oi oi-calendar"></i>&nbsp;
                        <span>@context.FormattedRange @(string.IsNullOrEmpty(context.FormattedRange) ? "Choose dates..." : "")</span>
                        <i class="oi oi-chevron-bottom float-right"></i>
                    </div>
                </PickerTemplate>    
            </DateRangePicker>
        </div>
    </div>

    <ViewComponent @ref="viewComponent" View=@view StartDate="@startDate" EndDate="@endDate"/>
</div>
