@page "/filemanagement"
@using DataExtractorODataService.Affra.Service.DataExtractor.Domain.DataFiles

<PageTitle>File Management</PageTitle>
<div class="container">
    <div class="row py-5">
        <div class="col">
            <RadzenCard>
                <RadzenDataList WrapItems="true" Count="@count" LoadData="@LoadData" AllowPaging="true" Data="@files" TItem="DataFile" PageSize="9" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
                    <Template Context="file">
                        <RadzenCard Style="width:300px;">
                            <div class="d-flex flex-row align-items-center">
                                 <div>
                                    <h4 class="mb-0" Style="color:#0AA1DD;"><i class="oi oi-spreadsheet"></i> @(file.FileName)</h4>
                                    <div>Folder : @file.FolderName</div>
                                    <div style="font-size: .8em">Attempts: @(file.NumberOfAttempts)</div>
                                </div>
                            </div>
                            <hr style="border: none; background-color: rgba(0,0,0,.08); height: 1px; margin: 1rem 0;" />
                            <div class="row">
                                <div class="col-md-8 text-truncate card-time">
                                    <b>@String.Format(System.Globalization.CultureInfo.CurrentCulture, "Last Modified : {0:d}", file.LastModifiedDateTime.ToLocalTime())</b>
                                </div>
                                <div class="col-md-8 text-truncate card-time">
                                    <b>@String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:t}", file.LastModifiedDateTime.ToLocalTime())</b>
                                </div>
                                <div class="col-md-4 text-right">
                                     @if (file.ProcessStatus == FileProcessStatus.Completed)
                                    {
                                        <RadzenBadge BadgeStyle="BadgeStyle.Success" Text="@(file.ProcessStatus.ToString())"/>
                                    }
                                    else if (file.ProcessStatus == FileProcessStatus.Failed)
                                    {
                                        <RadzenBadge BadgeStyle="BadgeStyle.Danger" Text="@(file.ProcessStatus.ToString())"/>
                                    }
                                    else if (file.ProcessStatus == FileProcessStatus.Pending)
                                    {
                                        <RadzenBadge BadgeStyle="BadgeStyle.Light" Text="@(file.ProcessStatus.ToString())"/>
                                    }
                                    else
                                    {
                                        <RadzenBadge BadgeStyle="BadgeStyle.Info" Text="@(file.ProcessStatus.ToString())"/>
                                    }
                                    
                                </div>
                            </div>
                        </RadzenCard>
                    </Template>
                    
                </RadzenDataList>

            </RadzenCard>
        </div>
    </div>
</div>