@page "/filemanagement"
@using DataExtractorODataService.Affra.Service.DataExtractor.Domain.DataFiles

<PageTitle>File Management</PageTitle>

<h1>File Management</h1>
<RadzenButton Text="Reload" Click="@Reload" Style="margin-bottom: 20px;" />
<RadzenDataGrid @ref="grid" IsLoading="@isLoading" Count="@count" Data="@files" LoadData="@LoadData" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowSorting="true" AllowFiltering="false" AllowPaging="true" PageSize="10" PagerHorizontalAlign="HorizontalAlign.Center" TItem="DataFile" ColumnWidth="200px">
    <Columns>
        <RadzenDataGridColumn TItem="DataFile" Property="FolderName" Filterable="false" Title="Folder" Frozen="true" Width="200px" TextAlign="TextAlign.Center" />
        <RadzenDataGridColumn TItem="DataFile" Property="FileName" Title="File" />
        <RadzenDataGridColumn TItem="DataFile" Property="LastModifiedDateTime" Title="Last Modified Date Time" Width="200px">
            <Template Context="file">
                @String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:f}", file.LastModifiedDateTime.ToLocalTime())
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="DataFile" Property="NumberOfAttempts" Title="Attempts" Width="60px">
            <EditTemplate Context="file">
                <RadzenNumeric @bind-Value="file.NumberOfAttempts" Style="width:100%" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="DataFile" Property="ProcessStatus" Title="Status" Width="100px"/>
        <RadzenDataGridColumn TItem="DataFile" Context="file" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="120px">
            <Template Context="file">
                <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Class="m-1" Click="@(args => EditRow(file))" @onclick:stopPropagation="true">
                </RadzenButton>
            </Template>
            <EditTemplate Context="file">
                <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Primary" Class="m-1" Click="@((args) => SaveRow(file))">
                </RadzenButton>
                <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Class="m-1" Click="@((args) => CancelEdit(file))">
                </RadzenButton>
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="DataFile" Context="order" Filterable="false" Sortable="false" TextAlign="TextAlign.Center">
            <Template Context="file">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Small" Class="m-1" Click="@(args => DeleteRow(file))"  @onclick:stopPropagation="true">
                </RadzenButton>
            </Template>
            <EditTemplate Context="file">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Small" Class="m-1" Click="@(args => DeleteRow(file))">
                </RadzenButton>
            </EditTemplate>
        </RadzenDataGridColumn>

    </Columns>
</RadzenDataGrid>
