@page "/"
@using JXNippon.CentralizedDatabaseSystem.Shared.Description
@attribute [Authorize]

<PageTitle>Home</PageTitle>

<div class="container">
    <div class="row pt-4 px-2">
        <Card Class="card-shadow top-card">         
            <div class="row">
                <AuthorizeView>
                    <Authorized>
                        <div class="home-title">Welcome to Centralized Database System, @context.User.Identity.Name!</div>
                    </Authorized>
                </AuthorizeView>  
                <div class="home-subtitle my-3">Get started with dashboard, management of change, reports, file management and more!</div>
            </div>
            <div class="row mt-3 mt-md-4 px-1">
                <Search Placeholder="Search..." Size="large" @bind-value=@search OnChange=OnSearchChange ClassicSearchIcon/>
            </div>
        </Card>
  
    </div>
    <div class="row py-2">
        <HomePageCard @ref=homePageCardRef Visible=@IsVisibleSearch("operation dashboard stat chart table") ImageFile="@ImageFile.Stats" Description="View statistics, chart and more via dashboard."
            ButtonText="Operation Dashboard" OnButtonClick=@(args => this.Navigate("operation/dashboard"))>
        </HomePageCard>  
        <HomePageCard @ref=homePageCardRef Visible=@IsVisibleSearch("operation daily combined report") ImageFile="@ImageFile.DataExtraction" Description="Validate, view and export combined daily report."
            ButtonText="Get Started" OnButtonClick=@(args => this.Navigate("operation/combineddailyreport"))>
        </HomePageCard> 
        <HomePageCard @ref=homePageCardRef Visible=@IsVisibleSearch("operation management of change moc") ImageFile="@ImageFile.Steps" Description="Create, approve or extend management of change."
            ButtonText="Management Of Change" OnButtonClick=@(args => this.Navigate("operation/managementofchange"))>
        </HomePageCard> 
        <HomePageCard @ref=homePageCardRef Visible=@IsVisibleSearch("operation management of change moc summary")  ImageFile="@ImageFile.Merger" Description="View management of change summary."
            ButtonText="View summary" OnButtonClick=@(args => this.Navigate("operation/managementofchangesummary"))>
        </HomePageCard>

        @if (this.isSearchEmpty)
        {
            <div class="d-flex align-items-center justify-content-center gap-3">
                <GenericDescription Height="300px" ImageFile="@ImageFile.Search" Description="Please try another search.">
                </GenericDescription>
            </div> 
        }

    </div>
</div>