@page "/"
@using JXNippon.CentralizedDatabaseSystem.Shared.Description
@attribute [Authorize]

<PageTitle>Home</PageTitle>

<div class="container home">
    <div class="row pt-4 px-2">
        <Card Class="top-card">         
            <div class="row">
                <AuthorizeView>
                    <Authorized>
                        <div class="home-title">Welcome to Centralized Database System, @context.User.Identity.Name!</div>
                    </Authorized>
                </AuthorizeView>  
                <div class="home-subtitle my-3">Get started with dashboard, management of change, reports, file management and more!</div>
            </div>
            <div class="row mt-3 mt-md-4 px-1">
                <input type="text" class="home-search-bar" placeholder="Search..." value="@this.search" @oninput="(e)=> this.OnSearchChange(e.Value.ToString())" autocomplete="off">
            </div>
        </Card>
  
    </div>
    <div class="row py-2">
        <HomePageCard @ref=homePageCardRef Search=@this.search SearchKeys=@("operation dashboard stat chart table") ImageFile="@ImageFile.Stats" Description="View statistics, chart and more via dashboard."
            ButtonText="Operation Dashboard" OnButtonClick=@(args => this.Navigate("operation/dashboard"))>
        </HomePageCard>  
        <HomePageCard @ref=homePageCardRef Search=@this.search SearchKeys=@("operation daily combined report cdr") ImageFile="@ImageFile.DataExtraction" Description="Validate, view and export combined daily report."
            ButtonText="Get Started" OnButtonClick=@(args => this.Navigate("operation/combineddailyreport"))>
        </HomePageCard> 
        <HomePageCard @ref=homePageCardRef Search=@this.search SearchKeys=@("operation management of change moc") ImageFile="@ImageFile.Steps" Description="Create, approve or extend management of change."
            ButtonText="Management Of Change" OnButtonClick=@(args => this.Navigate("operation/managementofchange"))>
        </HomePageCard> 
        <HomePageCard @ref=homePageCardRef Search=@this.search SearchKeys=@("operation management of change moc summary")  ImageFile="@ImageFile.Merger" Description="View management of change summary."
            ButtonText="View Summary" OnButtonClick=@(args => this.Navigate("operation/managementofchangesummary"))>
        </HomePageCard>
        <HomePageCard @ref=homePageCardRef Search=@this.search SearchKeys=@("well allocation dashboard")  ImageFile="@ImageFile.Filter" Description="View statistics, chart and more via dashboard."
            ButtonText="Well Allocation Dashboard" OnButtonClick=@(args => this.Navigate("wellallocation/dashboard"))>
        </HomePageCard>
        <HomePageCard @ref=homePageCardRef Search=@this.search SearchKeys=@("well allocation pe report")  ImageFile="@ImageFile.Dashboard" Description="View and export PE report."
            ButtonText="View PE Report" OnButtonClick=@(args => this.Navigate("wellallocation/pereport"))>
        </HomePageCard>
        <HomePageCard @ref=homePageCardRef Search=@this.search SearchKeys=@("deferment dashboard")  ImageFile="@ImageFile.Piechart" Description="View statistics, chart and more via dashboard."
            ButtonText="Deferment Dashboard" OnButtonClick=@(args => this.Navigate("deferment/dashboard"))>
        </HomePageCard>
        <HomePageCard @ref=homePageCardRef Search=@this.search SearchKeys=@("deferment report")  ImageFile="@ImageFile.FeatureOverview" Description="View and export deferment report."
            ButtonText="View Deferment Report" OnButtonClick=@(args => this.Navigate("deferment/report"))>
        </HomePageCard>
        <HomePageCard @ref=homePageCardRef Search=@this.search SearchKeys=@("file management")  ImageFile="@ImageFile.FileSearch" Description="View status and progress of data extraction."
            ButtonText="Manage File" OnButtonClick=@(args => this.Navigate("more/filemanagement"))>
        </HomePageCard>
        <HomePageCard @ref=homePageCardRef Search=@this.search SearchKeys=@("user management")  ImageFile="@ImageFile.People" Description="View and manage users."
            ButtonText="Manage User" OnButtonClick=@(args => this.Navigate("more/usermanagement"))>
        </HomePageCard>
        <HomePageCard @ref=homePageCardRef Search=@this.search SearchKeys=@("template column management")  ImageFile="@ImageFile.ColumnConfig" Description="Create your own custom template."
            ButtonText="Manage Template" OnButtonClick=@(args => this.Navigate("more/templatemanagement"))>
        </HomePageCard>
        <HomePageCard @ref=homePageCardRef Search=@this.search SearchKeys=@("view designer")  ImageFile="@ImageFile.Designer" Description="Design your own dashboard or view."
            ButtonText="Start Design Now" OnButtonClick=@(args => this.Navigate("more/viewdesigner"))>
        </HomePageCard>
        @if (this.isSearchEmpty)
        {
            <div class="d-flex align-items-center justify-content-center gap-3">
                <GenericDescription Height="300px" ImageFile="@ImageFile.Search" Description="Please try another search.">
                </GenericDescription>
            </div> 
        }

    </div>
</div>