@page "/"
@using JXNippon.CentralizedDatabaseSystem.Shared.Description
@attribute [Authorize]

<PageTitle>Home</PageTitle>

<div class="container">
    <div class="row">
        <AuthorizeView>
            <Authorized>
                <div class="home-title">Welcome to Centralized Database System, @context.User.Identity.Name!</div>
            </Authorized>
        </AuthorizeView>    
    </div>
    <div class="row py-2">
        <div class="col-sm-12 col-md-6 col-lg-3 py-2 px-2 h-100">
            <Card Hoverable>
                <div class="d-flex align-items-center justify-content-center gap-3 h-100">
                    <GenericDescription Height="200px" Width="200px" ImageFile="@ImageFile.Gauge" Description="View statistics, chart and more via dashboard.">
                        <ChildContent>
                            <Button Type="primary">View</Button>
                        </ChildContent>
                    </GenericDescription>
                </div>
            </Card>
        </div> 
        <div class="col-sm-12 col-md-6 col-lg-3 py-2 px-2 h-100">
            <Card Hoverable>
                <div class="d-flex align-items-center justify-content-center gap-3 h-100">
                    <GenericDescription Height="200px" Width="200px" ImageFile="@ImageFile.DatePicker" Description="Validate and export combined daily report.">
                       <ChildContent>
                            <Button Type="primary">Start now</Button>
                        </ChildContent>
                    </GenericDescription>
                </div>
            </Card>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 py-2 px-2 h-100">
            <Card Hoverable>
                <div class="d-flex align-items-center justify-content-center gap-3">
                    <GenericDescription Height="200px" Width="200px" ImageFile="@ImageFile.TodoList" Description="Submit or approve management of change.">
                        <ChildContent>
                            <Button Type="primary">Manage</Button>
                        </ChildContent>
                    </GenericDescription>
                </div>
            </Card>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 py-2 px-2 h-100">
            <Card Hoverable>
                <div class="d-flex align-items-center justify-content-center gap-3">
                    <GenericDescription Height="200px" Width="200px" ImageFile="@ImageFile.WorkInProgress" Description="Check out management of change's summary.">
                         <ChildContent>
                            <Button Type="primary">Check out</Button>
                        </ChildContent>
                    </GenericDescription>
                </div>
            </Card>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col py-2 px-2 h-100">
            <Card>
                <Carousel Autoplay="TimeSpan.FromSeconds(5)" DotPosition="Bottom">
                    <ChildContent>
                        <CarouselSlick>
                            <div class="row py-2 px-3">
                                <div class="col-sm-12 col-md-6 col-lg-3 py-2 px-2 h-100">
                                    <Card Style="background-color: #eef4f9 !important;" Hoverable>
                                        <div class="d-flex align-items-center justify-content-center gap-3 h-100">
                                            <GenericDescription Height="200px" Width="200px" ImageFile="@ImageFile.Gauge" Description="View statistics, chart and more via dashboard.">
                                                <ChildContent>
                                                    <Button Type="primary">View</Button>
                                                </ChildContent>
                                            </GenericDescription>
                                        </div>
                                    </Card>
                                </div> 
                                <div class="col-sm-12 col-md-6 col-lg-3 py-2 px-2 h-100">
                                    <Card Style="background-color: #eef4f9 !important;" Hoverable>
                                        <div class="d-flex align-items-center justify-content-center gap-3 h-100">
                                            <GenericDescription Height="200px" Width="200px" ImageFile="@ImageFile.DatePicker" Description="Validate and export combined daily report.">
                                               <ChildContent>
                                                    <Button Type="primary">Start now</Button>
                                                </ChildContent>
                                            </GenericDescription>
                                        </div>
                                    </Card>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-3 py-2 px-2 h-100">
                                    <Card Style="background-color: #eef4f9 !important;" Hoverable>
                                        <div class="d-flex align-items-center justify-content-center gap-3">
                                            <GenericDescription Height="200px" Width="200px" ImageFile="@ImageFile.TodoList" Description="Submit or approve management of change.">
                                                <ChildContent>
                                                    <Button Type="primary">Manage</Button>
                                                </ChildContent>
                                            </GenericDescription>
                                        </div>
                                    </Card>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-3 py-2 px-2 h-100">
                                    <Card Style="background-color: #eef4f9 !important;" Hoverable>
                                        <div class="d-flex align-items-center justify-content-center gap-3">
                                            <GenericDescription Height="200px" Width="200px" ImageFile="@ImageFile.WorkInProgress" Description="Check out management of change's summary.">
                                                 <ChildContent>
                                                    <Button Type="primary">Check out</Button>
                                                </ChildContent>
                                            </GenericDescription>
                                        </div>
                                    </Card>
                                </div>
                            </div>
                        </CarouselSlick>
                        <CarouselSlick>
                            <div class="row py-2 px-3">
                                <div class="col-sm-12 col-md-6 col-lg-3 py-2 px-2 h-100">
                                    <Card Style="background-color: #eef4f9 !important;" Hoverable>
                                        <div class="d-flex align-items-center justify-content-center gap-3 h-100">
                                            <GenericDescription Height="200px" Width="200px" ImageFile="@ImageFile.Gauge" Description="View statistics, chart and more via dashboard.">
                                                <ChildContent>
                                                    <Button Type="primary">View</Button>
                                                </ChildContent>
                                            </GenericDescription>
                                        </div>
                                    </Card>
                                </div> 
                                <div class="col-sm-12 col-md-6 col-lg-3 py-2 px-2 h-100">
                                    <Card Style="background-color: #eef4f9 !important;" Hoverable>
                                        <div class="d-flex align-items-center justify-content-center gap-3 h-100">
                                            <GenericDescription Height="200px" Width="200px" ImageFile="@ImageFile.DatePicker" Description="Validate and export combined daily report.">
                                               <ChildContent>
                                                    <Button Type="primary">Start now</Button>
                                                </ChildContent>
                                            </GenericDescription>
                                        </div>
                                    </Card>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-3 py-2 px-2 h-100">
                                    <Card Style="background-color: #eef4f9 !important;" Hoverable>
                                        <div class="d-flex align-items-center justify-content-center gap-3">
                                            <GenericDescription Height="200px" Width="200px" ImageFile="@ImageFile.TodoList" Description="Submit or approve management of change.">
                                                <ChildContent>
                                                    <Button Type="primary">Manage</Button>
                                                </ChildContent>
                                            </GenericDescription>
                                        </div>
                                    </Card>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-3 py-2 px-2 h-100">
                                    <Card Style="background-color: #eef4f9 !important;" Hoverable>
                                        <div class="d-flex align-items-center justify-content-center gap-3">
                                            <GenericDescription Height="200px" Width="200px" ImageFile="@ImageFile.WorkInProgress" Description="Check out management of change's summary.">
                                                 <ChildContent>
                                                    <Button Type="primary">Check out</Button>
                                                </ChildContent>
                                            </GenericDescription>
                                        </div>
                                    </Card>
                                </div>
                            </div>
                        </CarouselSlick>
                    </ChildContent>
                </Carousel>
            </Card>
        </div>

    </div>
</div>