@page "/PowerGenerationAndDistributionManagement"
@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.PowerGenerationAndDistributions

<PageTitle>Power Generation And Distribution</PageTitle>

<div class="container-fluid py-5">  
    <RadzenButton Text="Reload" Click="@Reload" Style="margin-bottom: 20px;" />
    <RadzenDataGrid @ref="grid" IsLoading="@isLoading" Count="@count" Data="@dailyPowerGenerationAndDistributions" LoadData="@LoadData" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowSorting="true" AllowFiltering="false" AllowPaging="true" PageSize="10" PagerHorizontalAlign="HorizontalAlign.Center" TItem="DailyPowerGenerationAndDistribution" ColumnWidth="200px" AllowColumnPicking="true" AllowColumnResize="true">
        <Columns>
            <RadzenDataGridColumn TItem="DailyPowerGenerationAndDistribution" Property="PowerGeneratorName" Filterable="false" Title="Name" Frozen="true" />
            <RadzenDataGridColumn TItem="DailyPowerGenerationAndDistribution" Property="Status" Title="Status" />
            <RadzenDataGridColumn TItem="DailyPowerGenerationAndDistribution" Property="Date" Title="Date">
                <Template Context="dailyPowerGenerationAndDistribution">
                    @String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:d}", dailyPowerGenerationAndDistribution.Date.ToLocalTime())
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
</div>
