@page "/PowerGenerationAndDistributionManagement"
@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.PowerGenerationAndDistributions

<PageTitle>Power Generation And Distribution</PageTitle>

<RadzenBreadCrumb>
    <Template Context="item">
        <RadzenBadge Text="@item.Text" IsPill="true" />
    </Template>
    <ChildContent>
        <RadzenBreadCrumbItem Path="/" Text="Home" />
        <RadzenBreadCrumbItem Path="/PowerGenerationAndDistributionManagement" Text="Power Generation And Distribution" />
    </ChildContent>
</RadzenBreadCrumb>


<div class="row py-3">
    <div class="col">
        <RadzenCard>
            <div class="row">
                <div class="col-md-6 col-lg-4 p-3">
                    <div style="position: relative">
                        <RadzenIcon Icon="search" style="position:absolute;top:5px; left: 5px; pointer-events: none" />
                        <RadzenAutoComplete @bind-Value=@search  style="padding-left: 30px" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Placeholder="Search Power Generators" TextProperty="Name" Change=@(args => OnChangeAsync(args, "TextBox with placeholder")) Class="w-100" AutoComplete="true" Data=@powerGenerators/>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 p-3">
                    <RadzenDropDown @bind-Value=@status Placeholder="Status" AllowClear="true" TValue="string" Class="w-100" 
                        Data=@(statuses)
                        Change=@(args => OnChangeStatusFilterAsync(args, "DropDown")) />
                </div>
                <div class="col-md-6 col-lg-4 p-3">
                    <RadzenDatePicker Placeholder="Date" TValue="DateTime?" @bind-Value=@date AllowClear="true" DateFormat="d" Class="w-100" Change=@(args => OnChangeAsync(args, "DatePicker with disabled dates", "MM/dd/yyyy"))>
                    </RadzenDatePicker>
                </div>
            </div>        
        </RadzenCard>
    </div>
</div>

<div class="row py-1">
    <div class="col">
        <!--RadzenButton Text="Reload" Click="@Reload" Style="margin-bottom: 20px;" />  -->
        <RadzenDataGrid @ref="grid" IsLoading="@isLoading" Count="@count" Data="@dailyPowerGenerationAndDistributions" LoadData="@LoadDataAsync" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowSorting="true" AllowFiltering="false" AllowPaging="true" PageSize="10" PagerHorizontalAlign="HorizontalAlign.Center" TItem="DailyPowerGenerationAndDistribution" ColumnWidth="200px" AllowColumnPicking="true" AllowColumnResize="true" ShowPagingSummary="true" AllowMultiColumnSorting="true" ShowMultiColumnSortingIndex="true">
            <Columns>
                <RadzenDataGridColumn TItem="DailyPowerGenerationAndDistribution" Property="PowerGeneratorName" Filterable="false" Title="Name" Frozen="true" Pickable="false">           
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyPowerGenerationAndDistribution" Property="Status" Title="Status">
                    <Template Context="item">
                        @if (item.Status.Equals("Online", StringComparison.InvariantCultureIgnoreCase))
                        {
                            <div class="status-online"><i class="oi oi-media-record"></i> @(item.Status)</div>
                        }
                        else if (item.Status.Equals("Standby", StringComparison.InvariantCultureIgnoreCase))
                        {
                            <div class="status-standby"><i class="oi oi-media-record"></i> @(item.Status)</div>
                        }
                        else
                        {
                            <div class="status-default"><i class="oi oi-media-record"></i> @(item.Status)</div>
                        }
                    </Template>         
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyPowerGenerationAndDistribution" Property="Date" Title="Date" SortOrder="SortOrder.Descending">
                    <Template Context="dailyPowerGenerationAndDistribution">
                        @String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:d}", dailyPowerGenerationAndDistribution.Date.ToLocalTime())
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>  
    </div>
</div>