@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.HealthSafetyEnvironments
@using JXNippon.CentralizedDatabaseSystem.Shared.Commons

<div class="row">
    <div class="col">
        <DailyDataGrid @ref=DailyDataGrid LoadData="@LoadData" TItem="DailyHealthSafetyEnvironment" TDialog="HealthSafetyEnvironmentDialog"
            PagerAlwaysVisible="@PagerAlwaysVisible">
            <Columns>
                <RadzenDataGridColumn TItem="DailyHealthSafetyEnvironment" Property="LastLTIDate" Title="Last LTI Date" Visible="@ShowDateColumn">
                    <Template Context="item">
                        @String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:d}", item.LastLTIDateUI)
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyHealthSafetyEnvironment" Property="SK10DaysLTIFree" Title="SK-10 Days LTI Free" />
                <RadzenDataGridColumn TItem="DailyHealthSafetyEnvironment" Property="LastDrillExerciseConducted" Title="Last Drill Exercise Conducted" Visible="@ShowDateColumn">
                    <Template Context="item">
                        @String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:d}", item.LastDrillExerciseConductedDateUI)
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyHealthSafetyEnvironment" Property="LastAnnualESDTest" Title="Last Annual ESD Test" Visible="@ShowDateColumn">
                    <Template Context="item">
                        @String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:d}", item.LastAnnualESDTestDateUI)
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyHealthSafetyEnvironment" Property="NextAnnualESDTest" Title="Next Annual ESD Test" Visible="@ShowDateColumn">
                    <Template Context="item">
                        @String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:d}", item.NextAnnualESDTestDateUI)
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyHealthSafetyEnvironment" Property="Injurious_MTC_FACCount" Title="Injurious/MTC/FAC Count" />
                <RadzenDataGridColumn TItem="DailyHealthSafetyEnvironment" Property="Injurious_MTC_FACDate" Title="Injurious/MTC/FAC Date" Visible="@ShowDateColumn">
                    <Template Context="item">
                        @String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:d}", item.Injurious_MTC_FACDateUI)
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyHealthSafetyEnvironment" Property="NearMissCount" Title="Near Miss Count" />
                <RadzenDataGridColumn TItem="DailyHealthSafetyEnvironment" Property="NearMissDate" Title="Near Miss Date" Visible="@ShowDateColumn">
                    <Template Context="item">
                        @String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:d}", item.NearMissDateUI)
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyHealthSafetyEnvironment" Property="PropertyDamageCount" Title="Property Damage Count" />
                <RadzenDataGridColumn TItem="DailyHealthSafetyEnvironment" Property="PropertyDamageDate" Title="Property Damage Date" Visible="@ShowDateColumn">
                    <Template Context="item">
                        @String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:d}", item.PropertyDamageDateUI)
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyHealthSafetyEnvironment" Property="TotalUCUXToday" Title="Total UCUX Today" />
                <RadzenDataGridColumn TItem="DailyHealthSafetyEnvironment" Property="TotalUCUXThisMonth" Title="Total UCUX Report Month" />
                <RadzenDataGridColumn TItem="DailyHealthSafetyEnvironment" Property="HIP_LQ" Title="HIP LQ" />
                <RadzenDataGridColumn TItem="DailyHealthSafetyEnvironment" Property="HIP_ALQ" Title="HIP ALQ" />
                <RadzenDataGridColumn TItem="DailyHealthSafetyEnvironment" Property="Total_HIP_POB" Title="Total HIP POB" />
                <RadzenDataGridColumn TItem="DailyHealthSafetyEnvironment" Property="AvailableBedding" Title="Available Bedding" />
                <RadzenDataGridColumn TItem="DailyHealthSafetyEnvironment" Property="Operation_Catering_NonEssential" Title="Operation:Catering:NonEssential" />
                <RadzenDataGridColumn TItem="DailyHealthSafetyEnvironment" Property="Weather" Title="Weather" />
                <RadzenDataGridColumn TItem="DailyHealthSafetyEnvironment" Property="WindSpeed" Title="Wind Speed (knots)" />
                <RadzenDataGridColumn TItem="DailyHealthSafetyEnvironment" Property="WindDirection" Title="Wind Direction" />
                <RadzenDataGridColumn TItem="DailyHealthSafetyEnvironment" Property="SwellWaveHeight" Title="Swell/Wave Height" />
                <RadzenDataGridColumn TItem="DailyHealthSafetyEnvironment" Property="Visibility" Title="Visibility (NM)" />
                <RadzenDataGridColumn TItem="DailyHealthSafetyEnvironment" Property="Date" Title="Date" SortOrder="SortOrder.Descending" Visible="@ShowDateColumn">
                    <Template Context="item">
                        @String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:d}", item.DateUI)
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </DailyDataGrid>  
    </div>
</div>