@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.HealthSafetyEnvironments
@using JXNippon.CentralizedDatabaseSystem.Models
@using JXNippon.CentralizedDatabaseSystem.Shared.Commons

<DailyDialog TItem=DailyLifeBoat Item="@Item" CustomColumns=@CustomColumns MenuAction=@MenuAction IsViewing=@isViewing>
    <ChildContent>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Life Boat Name" />
                </div>
                <div class="col-8">
                    <RadzenAutoComplete Name="LifeBoatName" class="w-100" Placeholder="Enter name..." @bind-Value="@Item.LifeBoatName" Disabled=@isViewing></RadzenAutoComplete>
                    <RadzenRequiredValidator Component="LifeBoatName" Text="Name is required" Popup=false/>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Status" />
                </div>
                <div class="col-8">
                    <RadzenDropDown Name="Status" Placeholder="Status" @bind-Value="@Item.Status" Disabled=@isViewing 
                    Data=@(StatusFilter.Statuses) />
                    <RadzenRequiredValidator Component="Status" Text="Status is required" Popup=false/>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Start Date" />
                </div>
                <div class="col-8">
                    <RadzenTextArea Name="StartDate" class="w-100" Placeholder="Enter start date..." @bind-Value="@Item.StartDate" Disabled=@isViewing></RadzenTextArea>
                    <RadzenRequiredValidator Component="StartDate" Text="Start date is required" Popup=false/>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Remarks" />
                </div>
                <div class="col-8">
                    <RadzenTextArea Name="Remark" class="w-100" Placeholder="Enter remark..." @bind-Value="@Item.Remark" Disabled=@isViewing></RadzenTextArea>
                    <RadzenRequiredValidator Component="Remark" Text="Remark is required" Popup=false/>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Date" />
                </div>
                <div class="col-8">
                    <RadzenDatePicker class="w-100" DateFormat="d" @bind-Value="@Item.DateUI" ShowTime="false" Disabled=@(Item.Id > 0 || isViewing)></RadzenDatePicker>
                </div>
            </div>
    </ChildContent>
</DailyDialog>
