@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.HealthSafetyEnvironments
@using JXNippon.CentralizedDatabaseSystem.Models
@using JXNippon.CentralizedDatabaseSystem.Shared.Commons

<DailyDialog TItem=DailyLongTermOverridesInhibitsOnAlarmTrip Item="@Item" CustomColumns=@CustomColumns MenuAction=@MenuAction IsViewing=@isViewing>
    <ChildContent>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Tag Name" />
                </div>
                <div class="col-8">
                    <RadzenAutoComplete Name="TagName" class="w-100" Placeholder="Enter name..." @bind-Value="@Item.TagName" Disabled=@isViewing></RadzenAutoComplete>
                    <RadzenRequiredValidator Component="TagName" Text="Name is required" Popup=false/>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Raised Date" />
                </div>
                <div class="col-8">
                    <RadzenDatePicker class="w-100" DateFormat="d" @bind-Value="@Item.RaisedDateUI" ShowTime="false" Disabled=@isViewing></RadzenDatePicker>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Maximo Work Order" />
                </div>
                <div class="col-8">
                    <RadzenTextArea Name="MaximoWorkOrder" class="w-100" Placeholder="Enter maximo work order..." @bind-Value="@Item.MaximoWorkOrder" Disabled=@isViewing></RadzenTextArea>
                    <RadzenRequiredValidator Component="MaximoWorkOrder" Text="Maximo work order is required" Popup=false/>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Location" />
                </div>
                <div class="col-8">
                    <RadzenTextArea Name="Location" class="w-100" Placeholder="Enter location..." @bind-Value="@Item.Location" Disabled=@isViewing></RadzenTextArea>
                    <RadzenRequiredValidator Component="Location" Text="Location is required" Popup=false/>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Long Description & Remark" />
                </div>
                <div class="col-8">
                    <RadzenTextArea Name="LongDescriptionRemark" class="w-100" Placeholder="Enter remark..." @bind-Value="@Item.LongDescriptionRemark" Disabled=@isViewing></RadzenTextArea>
                    <RadzenRequiredValidator Component="LongDescriptionRemark" Text="Remark is required" Popup=false/>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Date" />
                </div>
                <div class="col-8">
                    <RadzenDatePicker class="w-100" DateFormat="d" @bind-Value="@Item.DateUI" ShowTime="false" Disabled=@isViewing></RadzenDatePicker>
                </div>
            </div>
    </ChildContent>
</DailyDialog>