@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.HealthSafetyEnvironments
@using JXNippon.CentralizedDatabaseSystem.Shared.Commons

<div class="row">
    <div class="col">
        <DailyDataGrid @ref=DailyDataGrid LoadData="@LoadData" @bind-Items=@this.Data OnItemsChanged=@this.DataChanged TItem="DailyLossOfPrimaryContainmentIncident" TDialog="LossOfPrimaryContainmentIncidentDialog" ReportDate="@this.ReportDate"
            PagerAlwaysVisible="@PagerAlwaysVisible">
            <Columns>
                <RadzenDataGridColumn TItem="DailyLossOfPrimaryContainmentIncident" Property="MajorLOPC" Title="Major LOPC" />
                <RadzenDataGridColumn TItem="DailyLossOfPrimaryContainmentIncident" Property="LastMajorLOPC" Title="Last Major LOPC" />
                <RadzenDataGridColumn TItem="DailyLossOfPrimaryContainmentIncident" Property="MinorLOPC" Title="Minor LOPC" />
                <RadzenDataGridColumn TItem="DailyLossOfPrimaryContainmentIncident" Property="LastMinorLOPC" Title="Last Minor LOPC" />
                <RadzenDataGridColumn TItem="DailyLossOfPrimaryContainmentIncident" Property="OtherLOPC" Title="Other LOPC" />
                <RadzenDataGridColumn TItem="DailyLossOfPrimaryContainmentIncident" Property="LastOtherLOPC" Title="Last Other LOPC" />
                <RadzenDataGridColumn TItem="DailyLossOfPrimaryContainmentIncident" Property="Date" Title="Date" SortOrder="SortOrder.Descending" Visible="@ShowDateColumn">
                    <Template Context="item">
                        @String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:d}", item.DateUI)
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </DailyDataGrid>  
    </div>
</div>