@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.ChemicalInjections
@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.CoolingMediumSystems
@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.GasCondensateExportSamplerAndExportLines
@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.GlycolRegenerationSystems
@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.HealthSafetyEnvironments
@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.MajorEquipmentStatuses
@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.ProducedWaterTreatmentSystems
@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.Utilities
@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.DailyProductions
@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.SandDisposalDesanders
@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.WellHeadAndSeparationSystems
@using JXNippon.CentralizedDatabaseSystem.Shared.OIMSummary
@using JXNippon.CentralizedDatabaseSystem.Shared.HealthSafetyAndEnvironment
@using JXNippon.CentralizedDatabaseSystem.Shared.MajorEquipment
@using JXNippon.CentralizedDatabaseSystem.Shared.WellHeadAndSeparationSystem
@using JXNippon.CentralizedDatabaseSystem.Shared.WellHead
@using JXNippon.CentralizedDatabaseSystem.Shared.RollsRoyceGasEngineAndKawasakiCompressionSystem
@using JXNippon.CentralizedDatabaseSystem.Shared.GlycolRegenerationSystem
@using JXNippon.CentralizedDatabaseSystem.Shared.CoolingMediumSystem
@using JXNippon.CentralizedDatabaseSystem.Shared.PowerGenerationAndDistributionManagement
@using JXNippon.CentralizedDatabaseSystem.Shared.LivingQuartersUtilitiesAndOthers
@using JXNippon.CentralizedDatabaseSystem.Shared.ProducedWaterTreatmentSystemManagement
@using JXNippon.CentralizedDatabaseSystem.Shared.CommunicationSystem
@using JXNippon.CentralizedDatabaseSystem.Shared.LWPActivity
@using JXNippon.CentralizedDatabaseSystem.Shared.VendorActivities
@using JXNippon.CentralizedDatabaseSystem.Shared.Logistic
@using JXNippon.CentralizedDatabaseSystem.Shared.MaximoWorkOrder
@using JXNippon.CentralizedDatabaseSystem.Shared.Commons
@using JXNippon.CentralizedDatabaseSystem.Shared.Description
@using JXNippon.CentralizedDatabaseSystem.Shared.TableProperty

<Spin Size="large" Spinning=this.isLoading Style="top: 30%;">
	<RadzenTemplateForm Data="@Data">
		<ChildContent Context="item">
			<div class="fullscreen-dialog">
				<div class="fullscreen-dialog-header sticky">
					<Icon Type="arrow-left" Theme="outline" Class="fullscreen-dialog-back" OnClick=@(()=> this.DialogService.Close())/>
					<div class="cdr-title">
						<div class="p-2" style="font-weight: bold;">Combined Daily Operations Report</div>
						<div class="p-2" style="font-weight: bold;">
							<Tag PresetColor="@PresetColor.Green">@Data.Date.ToLocalDateTime().ToString("dddd, d MMMM yyyy")</Tag>
						</div>
					</div>
					@if(isUserHavePermission)
					{
						<div class="cdr-action-buttons">
							<DropdownButton Style="margin-right: 10px;" Type="@AntDesign.ButtonType.Primary" Size="@AntDesign.ButtonSize.Large" OnClick=@(() => this.ApproveAsync())>
								<Unbound Context="button">
									<Icon Class="anticon-big" Type="safety-certificate" Theme="outline"/>
									<span style="font-size: 18px; margin-left: 0px;">Approve</span>
								</Unbound>
								<Overlay>
									<Menu>
										<MenuItem Key="Reject" OnClick=@(() => this.RejectAsync())>
											<a>
												<i class="fas fa-ban fa-fw fa-xl"/> Reject
											</a>
										</MenuItem>
										<MenuItem Key="Export" OnClick=@(()=> this.DialogService.Close())>
											<a>
												<i class="fas fa-file-export fa-fw fa-xl"/> Export
											</a>
										</MenuItem>
									</Menu>
								</Overlay>
							</DropdownButton>
						</div>
					}
				</div>
				<Divider/>
				<div class="col view-dialog-content">
					<Collapse DefaultActiveKey="@(new[] {"1" })">
						<Panel Header="1. OIM SUMMARY" Key="1">
							<ChildContent> 
								<Panel  ShowArrow="false" Class="description-no-shadow" Header="HIP / LWP SUMMARY" Key="1">
									<ChildContent>
										<HIPAndLWPSummaryDataGrid @ref="hipAndLWPSummaryDataGrid" LoadData=@(args => LoadHIPAndLWPSummaryDataGridAsync(args)) />
									</ChildContent>
								</Panel>
								<Panel ShowArrow="false" Class="description-no-shadow" Header="FPSO HELANG SUMMARY" Key="1">
									<ChildContent>
										<FPSOHelangSummaryDataGrid @ref="fpsoHelangSummaryDataGrid" LoadData=@(args => LoadFPSOHelangSummaryDataGridAsync(args)) />
									</ChildContent>
								</Panel>
							</ChildContent>
						</Panel>
						<Panel Class="panel-header" Key="1">
							<HeaderTemplate>
								<div>
									<span>2. HEALTH, SAFETY & ENVIRONMENT</span>
									<Tag Color="Red" Class="panel-summary-tag">@(GetTotalUnfillProperty(this.Data.DailyHealthSafetyEnvironment))</Tag>
								</div>
							</HeaderTemplate>
							<ChildContent>
								<Panel ShowArrow="false" Header="HEALTH, SAFETY & ENVIRONMENT" Key="1">
									<ChildContent>
										<DescriptionView>
											<DateDescriptionItem Title="LastLTIDateUI" @bind-Value=@this.Data.DailyHealthSafetyEnvironment.LastLTIDateUI TItem="DailyHealthSafetyEnvironment" Item="@this.Data.DailyHealthSafetyEnvironment" />
											<IntegerDescriptionItem Title="Injurious_MTC_FACCount" @bind-Value=@this.Data.DailyHealthSafetyEnvironment.Injurious_MTC_FACCount TItem="DailyHealthSafetyEnvironment" Item="@this.Data.DailyHealthSafetyEnvironment"/>
											<DateDescriptionItem Title="Injurious_MTC_FACDateUI" @bind-Value=@this.Data.DailyHealthSafetyEnvironment.Injurious_MTC_FACDateUI TItem="DailyHealthSafetyEnvironment" Item="@this.Data.DailyHealthSafetyEnvironment"/>
											<IntegerDescriptionItem Title="HIP_LQ" @bind-Value=@this.Data.DailyHealthSafetyEnvironment.HIP_LQ TItem="DailyHealthSafetyEnvironment" Item="@this.Data.DailyHealthSafetyEnvironment"/>
											<IntegerDescriptionItem Title="HIP_ALQ" @bind-Value=@this.Data.DailyHealthSafetyEnvironment.HIP_ALQ TItem="DailyHealthSafetyEnvironment" Item="@this.Data.DailyHealthSafetyEnvironment"/>
											<IntegerDescriptionItem Title="SK10DaysLTIFree" @bind-Value=@this.Data.DailyHealthSafetyEnvironment.SK10DaysLTIFree TItem="DailyHealthSafetyEnvironment" Item="@this.Data.DailyHealthSafetyEnvironment"/>
											<IntegerDescriptionItem Title="NearMissCount" @bind-Value=@this.Data.DailyHealthSafetyEnvironment.NearMissCount TItem="DailyHealthSafetyEnvironment" Item="@this.Data.DailyHealthSafetyEnvironment"/>
											<DateDescriptionItem Title="NearMissDateUI" @bind-Value=@this.Data.DailyHealthSafetyEnvironment.NearMissDateUI TItem="DailyHealthSafetyEnvironment" Item="@this.Data.DailyHealthSafetyEnvironment"/>
											<DateDescriptionItem Title="LastAnnualESDTestDateUI" @bind-Value=@this.Data.DailyHealthSafetyEnvironment.LastAnnualESDTestDateUI TItem="DailyHealthSafetyEnvironment" Item="@this.Data.DailyHealthSafetyEnvironment"/>
											<DateDescriptionItem Title="NextAnnualESDTestDateUI" @bind-Value=@this.Data.DailyHealthSafetyEnvironment.NextAnnualESDTestDateUI TItem="DailyHealthSafetyEnvironment" Item="@this.Data.DailyHealthSafetyEnvironment"/>
											<IntegerDescriptionItem Title="PropertyDamageCount" @bind-Value=@this.Data.DailyHealthSafetyEnvironment.PropertyDamageCount TItem="DailyHealthSafetyEnvironment" Item="@this.Data.DailyHealthSafetyEnvironment"/>
											<DateDescriptionItem Title="PropertyDamageDateUI" @bind-Value=@this.Data.DailyHealthSafetyEnvironment.PropertyDamageDateUI TItem="DailyHealthSafetyEnvironment" Item="@this.Data.DailyHealthSafetyEnvironment"/>
											<IntegerDescriptionItem Title="Total_HIP_POB" @bind-Value=@this.Data.DailyHealthSafetyEnvironment.Total_HIP_POB TItem="DailyHealthSafetyEnvironment" Item="@this.Data.DailyHealthSafetyEnvironment"/>
											<DateDescriptionItem Title="LastDrillExerciseConductedDateUI" @bind-Value=@this.Data.DailyHealthSafetyEnvironment.LastDrillExerciseConductedDateUI TItem="DailyHealthSafetyEnvironment" Item="@this.Data.DailyHealthSafetyEnvironment"/>
											<IntegerDescriptionItem Title="TotalUCUXToday" @bind-Value=@this.Data.DailyHealthSafetyEnvironment.TotalUCUXToday TItem="DailyHealthSafetyEnvironment" Item="@this.Data.DailyHealthSafetyEnvironment"/>
											<IntegerDescriptionItem Title="TotalUCUXThisMonth" @bind-Value=@this.Data.DailyHealthSafetyEnvironment.TotalUCUXThisMonth TItem="DailyHealthSafetyEnvironment" Item="@this.Data.DailyHealthSafetyEnvironment"/>
											<StringDescriptionItem Title="Weather" @bind-Value=@this.Data.DailyHealthSafetyEnvironment.Weather TItem="DailyHealthSafetyEnvironment" Item="@this.Data.DailyHealthSafetyEnvironment"/>
											<IntegerDescriptionItem Title="WindSpeed" @bind-Value=@this.Data.DailyHealthSafetyEnvironment.WindSpeed TItem="DailyHealthSafetyEnvironment" Item="@this.Data.DailyHealthSafetyEnvironment"/>
											<StringDescriptionItem Title="WindDirection" @bind-Value=@this.Data.DailyHealthSafetyEnvironment.WindDirection TItem="DailyHealthSafetyEnvironment" Item="@this.Data.DailyHealthSafetyEnvironment"/>
											<IntegerDescriptionItem Title="AvailableBedding" @bind-Value=@this.Data.DailyHealthSafetyEnvironment.AvailableBedding TItem="DailyHealthSafetyEnvironment" Item="@this.Data.DailyHealthSafetyEnvironment"/>
											<StringDescriptionItem Title="SwellWaveHeight" @bind-Value=@this.Data.DailyHealthSafetyEnvironment.SwellWaveHeight TItem="DailyHealthSafetyEnvironment" Item="@this.Data.DailyHealthSafetyEnvironment"/>
											<StringDescriptionItem Title="Operation_Catering_NonEssential" @bind-Value=@this.Data.DailyHealthSafetyEnvironment.Operation_Catering_NonEssential TItem="DailyHealthSafetyEnvironment" Item="@this.Data.DailyHealthSafetyEnvironment"/>
											<IntegerDescriptionItem Title="Visibility" @bind-Value=@this.Data.DailyHealthSafetyEnvironment.Visibility TItem="DailyHealthSafetyEnvironment" Item="@this.Data.DailyHealthSafetyEnvironment"/>
										</DescriptionView>
									</ChildContent>
								</Panel>
								<Panel ShowArrow="false" Header="LOSS OF PRIMARY CONTAINMENT (LOPC) INCIDENT" Key="1">
									<ChildContent>
										<DescriptionView>
											<IntegerDescriptionItem Title="MajorLOPC" @bind-Value=@this.Data.DailyLossOfPrimaryContainmentIncident.MajorLOPC TItem="DailyLossOfPrimaryContainmentIncident" Item="@this.Data.DailyLossOfPrimaryContainmentIncident"/>
											<StringDescriptionItem Title="LastMajorLOPC" @bind-Value=@this.Data.DailyLossOfPrimaryContainmentIncident.LastMajorLOPC TItem="DailyLossOfPrimaryContainmentIncident" Item="@this.Data.DailyLossOfPrimaryContainmentIncident"/>
											<IntegerDescriptionItem Title="MinorLOPC" @bind-Value=@this.Data.DailyLossOfPrimaryContainmentIncident.MinorLOPC TItem="DailyLossOfPrimaryContainmentIncident" Item="@this.Data.DailyLossOfPrimaryContainmentIncident"/>
											<StringDescriptionItem Title="LastMinorLOPC" @bind-Value=@this.Data.DailyLossOfPrimaryContainmentIncident.LastMinorLOPC TItem="DailyLossOfPrimaryContainmentIncident" Item="@this.Data.DailyLossOfPrimaryContainmentIncident"/>
											<IntegerDescriptionItem Title="OtherLOPC" @bind-Value=@this.Data.DailyLossOfPrimaryContainmentIncident.OtherLOPC TItem="DailyLossOfPrimaryContainmentIncident" Item="@this.Data.DailyLossOfPrimaryContainmentIncident"/>
											<StringDescriptionItem Title="LastOtherLOPC" @bind-Value=@this.Data.DailyLossOfPrimaryContainmentIncident.LastOtherLOPC TItem="DailyLossOfPrimaryContainmentIncident" Item="@this.Data.DailyLossOfPrimaryContainmentIncident"/>
										</DescriptionView>
								</ChildContent>
								</Panel>
								<Panel ShowArrow="false" Header="LIFEBOATS" Key="1">
									<ChildContent>
										<DescriptionView>
											<StringDescriptionItem Title="LifeBoatName" @bind-Value=@this.Data.DailyLifeBoat.LifeBoatName TItem="DailyLifeBoat" Item="@this.Data.DailyLifeBoat"/>
											<StringDescriptionItem Title="Status" @bind-Value=@this.Data.DailyLifeBoat.Status TItem="DailyLifeBoat" Item="@this.Data.DailyLifeBoat"/>
											<StringDescriptionItem Title="StartDate" @bind-Value=@this.Data.DailyLifeBoat.StartDate TItem="DailyLifeBoat" Item="@this.Data.DailyLifeBoat"/>
											<StringDescriptionItem Title="Remark" @bind-Value=@this.Data.DailyLifeBoat.Remark TItem="DailyLifeBoat" Item="@this.Data.DailyLifeBoat" IsRequired=false/>
										</DescriptionView>
									</ChildContent>
								</Panel>
								<Panel ShowArrow="false" Class="description-no-shadow" Header="MANAGEMENT OF CHANGE (MOC) : LONG TERM OVERRIDES & INHIBITS ON ALARM AND/ OR TRIP" Key="1">
									<ChildContent>
										<LongTermOverridesAndInhibitsOnAlarmAndOrTripDataGrid @ref="longTermOverridesAndInhibitsOnAlarmAndOrTripDataGrid" LoadData=@(args => LoadLongTermOverridesAndInhibitsOnAlarmAndOrTripDataGridAsync(args)) />
									</ChildContent>
								</Panel>
								<Panel ShowArrow="false" Class="description-no-shadow" Header="MANAGEMENT OF CHANGE (MOC) : OPERATING CHANGE" Key="1">
									<ChildContent>
										<OperatingChangeDataGrid @ref="operatingChangeDataGrid" LoadData=@(args => LoadOperatingChangeDataGridAsync(args)) />
									</ChildContent>
								</Panel>
							</ChildContent>
						</Panel>
						<Panel Header="3. DAILY PRODUCTION" Key="1">
							<ChildContent>
								<Panel ShowArrow="false" Header="SK10" Key="1">
									<ChildContent>
										<DescriptionView>
											<DecimalDescriptionItem Title="SK10CumulativeGasExport" @bind-Value=@this.Data.DailySK10Production.SK10CumulativeGasExport TItem="DailySK10Production" Item="@this.Data.DailySK10Production" />
											<DecimalDescriptionItem Title="SK10GasExportGODCPlan" @bind-Value=@this.Data.DailySK10Production.SK10GasExportGODCPlan TItem="DailySK10Production" Item="@this.Data.DailySK10Production"/>
											<StringDescriptionItem Title="SK10GasExportGODCPlanRemark" @bind-Value=@this.Data.DailySK10Production.SK10GasExportGODCPlanRemark TItem="DailySK10Production" Item="@this.Data.DailySK10Production" IsRequired=false/>
										</DescriptionView>
									</ChildContent>
								</Panel>
								<Panel ShowArrow="false" Header="HIP" Key="1">
									<ChildContent>
										<DescriptionView>
											<DecimalDescriptionItem Title="HIPCumulativeGasExport" @bind-Value=@this.Data.DailyHIPProduction.HIPCumulativeGasExport TItem="DailyHIPProduction" Item="@this.Data.DailyHIPProduction"/>
											<DecimalDescriptionItem Title="HIPGasExportGODCPlan" @bind-Value=@this.Data.DailyHIPProduction.HIPGasExportGODCPlan TItem="DailyHIPProduction" Item="@this.Data.DailyHIPProduction"/>
											<StringDescriptionItem Title="HIPCumulativeGasExportRemark" @bind-Value=@this.Data.DailyHIPProduction.HIPCumulativeGasExportRemark TItem="DailyHIPProduction" Item="@this.Data.DailyHIPProduction" IsRequired=false/>
											<DecimalDescriptionItem Title="HIPCumulativeCondensateExport" @bind-Value=@this.Data.DailyHIPProduction.HIPCumulativeCondensateExport TItem="DailyHIPProduction" Item="@this.Data.DailyHIPProduction"/>
											<StringDescriptionItem Title="HIPCumulativeCondensateExportRemark" @bind-Value=@this.Data.DailyHIPProduction.HIPCumulativeCondensateExportRemark TItem="DailyHIPProduction" Item="@this.Data.DailyHIPProduction" IsRequired=false/>
											<DecimalDescriptionItem Title="HIPCumulativeWaterProduction" @bind-Value=@this.Data.DailyHIPProduction.HIPCumulativeWaterProduction TItem="DailyHIPProduction" Item="@this.Data.DailyHIPProduction"/>
											<StringDescriptionItem Title="HIPCumulativeWaterProductionRemark" @bind-Value=@this.Data.DailyHIPProduction.HIPCumulativeWaterProductionRemark TItem="DailyHIPProduction" Item="@this.Data.DailyHIPProduction" IsRequired=false/>
											<DecimalDescriptionItem Title="FuelGas" @bind-Value=@this.Data.DailyHIPProduction.FuelGas TItem="DailyHIPProduction" Item="@this.Data.DailyHIPProduction"/>
											<StringDescriptionItem Title="FuelGasRemark"@bind-Value=@this.Data.DailyHIPProduction.FuelGasRemark TItem="DailyHIPProduction" Item="@this.Data.DailyHIPProduction" IsRequired=false/>
											<DecimalDescriptionItem Title="HPVent" @bind-Value=@this.Data.DailyHIPProduction.HPVent TItem="DailyHIPProduction" Item="@this.Data.DailyHIPProduction"/>
											<StringDescriptionItem Title="HPVentRemark" @bind-Value=@this.Data.DailyHIPProduction.HPVentRemark TItem="DailyHIPProduction" Item="@this.Data.DailyHIPProduction"IsRequired=false/>
											<DecimalDescriptionItem Title="LPVent" @bind-Value=@this.Data.DailyHIPProduction.LPVent TItem="DailyHIPProduction" Item="@this.Data.DailyHIPProduction"/>
											<StringDescriptionItem Title="LPVentRemark" @bind-Value=@this.Data.DailyHIPProduction.LPVentRemark TItem="DailyHIPProduction" Item="@this.Data.DailyHIPProduction" IsRequired=false/>
											<DecimalDescriptionItem Title="WaterContentInGas" @bind-Value=@this.Data.DailyHIPProduction.WaterContentInGas TItem="DailyHIPProduction" Item="@this.Data.DailyHIPProduction"/>
											<StringDescriptionItem Title="WaterContentInGasRemark" @bind-Value=@this.Data.DailyHIPProduction.WaterContentInGasRemark TItem="DailyHIPProduction" Item="@this.Data.DailyHIPProduction"/>
											<DecimalDescriptionItem Title="CondensateWaterCutMeterPercentage" @bind-Value=@this.Data.DailyHIPProduction.CondensateWaterCutMeterPercentage TItem="DailyHIPProduction" Item="@this.Data.DailyHIPProduction"/>
											<DecimalDescriptionItem Title="CondensateWaterCutMeterPPM" @bind-Value=@this.Data.DailyHIPProduction.CondensateWaterCutMeterPPM TItem="DailyHIPProduction" Item="@this.Data.DailyHIPProduction"/>
											<StringDescriptionItem Title="CondensateWaterCutMeterRemark" @bind-Value=@this.Data.DailyHIPProduction.CondensateWaterCutMeterRemark TItem="DailyHIPProduction" Item="@this.Data.DailyHIPProduction" IsRequired=false/>
											<DecimalDescriptionItem Title="OilInWaterReading" @bind-Value=@this.Data.DailyHIPProduction.OilInWaterReading TItem="DailyHIPProduction" Item="@this.Data.DailyHIPProduction"/>
											<StringDescriptionItem Title="OilInWaterReadingRemark" @bind-Value=@this.Data.DailyHIPProduction.OilInWaterReadingRemark TItem="DailyHIPProduction" Item="@this.Data.DailyHIPProduction" IsRequired=false/>
										</DescriptionView>
									</ChildContent>
								</Panel>
								<Panel ShowArrow="false" Header="FPSO Helang" Key="1">
									<ChildContent>
										<DescriptionView>
											<DecimalDescriptionItem Title="FPSOCumulativeGasExport" @bind-Value=@this.Data.DailyFPSOHelangProduction.FPSOCumulativeGasExport TItem="DailyFPSOHelangProduction" Item="@this.Data.DailyFPSOHelangProduction"/>
											<DecimalDescriptionItem Title="FPSOGasExportGODCPlan" @bind-Value=@this.Data.DailyFPSOHelangProduction.FPSOGasExportGODCPlan TItem="DailyFPSOHelangProduction" Item="@this.Data.DailyFPSOHelangProduction"/>
											<StringDescriptionItem Title="FPSOCumulativeGasExportRemark"@bind-Value=@this.Data.DailyFPSOHelangProduction.FPSOCumulativeGasExportRemark TItem="DailyFPSOHelangProduction" Item="@this.Data.DailyFPSOHelangProduction" IsRequired=false/>
											<DecimalDescriptionItem Title="FPSOCumulativeCrudeOil" @bind-Value=@this.Data.DailyFPSOHelangProduction.FPSOCumulativeCrudeOil TItem="DailyFPSOHelangProduction" Item="@this.Data.DailyFPSOHelangProduction"/>
											<StringDescriptionItem Title="FPSOCumulativeCrudeOilRemark"@bind-Value=@this.Data.DailyFPSOHelangProduction.FPSOCumulativeCrudeOilRemark TItem="DailyFPSOHelangProduction" Item="@this.Data.DailyFPSOHelangProduction" IsRequired=false/>
											<DecimalDescriptionItem Title="FPSOCrudeAPIReadingInletSep" @bind-Value=@this.Data.DailyFPSOHelangProduction.FPSOCrudeAPIReadingInletSep TItem="DailyFPSOHelangProduction" Item="@this.Data.DailyFPSOHelangProduction"/>
											<StringDescriptionItem Title="FPSOCrudeAPIReadingReceivingTankCOTNumber"@bind-Value=@this.Data.DailyFPSOHelangProduction.FPSOCrudeAPIReadingReceivingTankCOTNumber TItem="DailyFPSOHelangProduction" Item="@this.Data.DailyFPSOHelangProduction"/>
											<DecimalDescriptionItem Title="FPSOCrudeAPIReadingReceivingTank" @bind-Value=@this.Data.DailyFPSOHelangProduction.FPSOCrudeAPIReadingReceivingTank TItem="DailyFPSOHelangProduction" Item="@this.Data.DailyFPSOHelangProduction"/>
											<DecimalDescriptionItem Title="EstimatedHIPCrudeToFPSO" @bind-Value=@this.Data.DailyFPSOHelangProduction.EstimatedHIPCrudeToFPSO TItem="DailyFPSOHelangProduction" Item="@this.Data.DailyFPSOHelangProduction"/>
											<StringDescriptionItem Title="EstimatedHIPCrudeToFPSORemark"@bind-Value=@this.Data.DailyFPSOHelangProduction.EstimatedHIPCrudeToFPSORemark TItem="DailyFPSOHelangProduction" Item="@this.Data.DailyFPSOHelangProduction" IsRequired=false/>
											<DecimalDescriptionItem Title="EstimatedLWPCrudeToFPSO" @bind-Value=@this.Data.DailyFPSOHelangProduction.EstimatedLWPCrudeToFPSO TItem="DailyFPSOHelangProduction" Item="@this.Data.DailyFPSOHelangProduction"/>
											<StringDescriptionItem Title="EstimatedLWPCrudeToFPSORemark"@bind-Value=@this.Data.DailyFPSOHelangProduction.EstimatedLWPCrudeToFPSORemark TItem="DailyFPSOHelangProduction" Item="@this.Data.DailyFPSOHelangProduction" IsRequired=false/>
											<DecimalDescriptionItem Title="HIPCondyDivertToFPSO" @bind-Value=@this.Data.DailyFPSOHelangProduction.HIPCondyDivertToFPSO TItem="DailyFPSOHelangProduction" Item="@this.Data.DailyFPSOHelangProduction"/>
											<StringDescriptionItem Title="HIPCondyDivertToFPSORemark"@bind-Value=@this.Data.DailyFPSOHelangProduction.HIPCondyDivertToFPSORemark TItem="DailyFPSOHelangProduction" Item="@this.Data.DailyFPSOHelangProduction" IsRequired=false/>
											<DecimalDescriptionItem Title="FPSOCumulativeWaterProduction" @bind-Value=@this.Data.DailyFPSOHelangProduction.FPSOCumulativeWaterProduction TItem="DailyFPSOHelangProduction" Item="@this.Data.DailyFPSOHelangProduction"/>
											<StringDescriptionItem Title="FPSOCumulativeWaterProductionRemark"@bind-Value=@this.Data.DailyFPSOHelangProduction.FPSOCumulativeWaterProductionRemark TItem="DailyFPSOHelangProduction" Item="@this.Data.DailyFPSOHelangProduction" IsRequired=false/>
											<DecimalDescriptionItem Title="FPSOFlaring" @bind-Value=@this.Data.DailyFPSOHelangProduction.FPSOFlaring TItem="DailyFPSOHelangProduction" Item="@this.Data.DailyFPSOHelangProduction"/>
											<StringDescriptionItem Title="FPSOFlaringRemark"@bind-Value=@this.Data.DailyFPSOHelangProduction.FPSOFlaringRemark TItem="DailyFPSOHelangProduction" Item="@this.Data.DailyFPSOHelangProduction" IsRequired=false/>
											<DecimalDescriptionItem Title="FPSOFuelGasConsumption" @bind-Value=@this.Data.DailyFPSOHelangProduction.FPSOFuelGasConsumption TItem="DailyFPSOHelangProduction" Item="@this.Data.DailyFPSOHelangProduction"/>
											<StringDescriptionItem Title="FPSOFuelGasConsumptionRemark"@bind-Value=@this.Data.DailyFPSOHelangProduction.FPSOFuelGasConsumptionRemark TItem="DailyFPSOHelangProduction" Item="@this.Data.DailyFPSOHelangProduction" IsRequired=false/>
										</DescriptionView>
									</ChildContent>
								</Panel>
							</ChildContent>
						</Panel>
						<Panel Header="4. MAJOR EQUIPMENT STATUS" Key="1">
							<ChildContent>
								<Panel ShowArrow="false" Class="description-no-shadow" Header="EQUIPMENT STATUS" Key="1">
									<ChildContent>
										<MajorEquipmentStatusDataGrid @ref="majorEquipmentStatusDataGrid" LoadData=@(args => LoadMajorEquipmentDataGridAsync(args)) />
									</ChildContent>
								</Panel>
								<Panel ShowArrow="false" Header="DIESEL STOCK" Key="1">
									<ChildContent>
										<DescriptionView>
										<DecimalDescriptionItem Title="HIPDieselStock" @bind-Value=@this.Data.DailyDiesel.HIPDieselStock TItem="DailyDiesel" Item="@this.Data.DailyDiesel"/>
										<StringDescriptionItem Title="HIPDieselStockRemark" @bind-Value=@this.Data.DailyDiesel.HIPDieselStockRemark TItem="DailyDiesel" Item="@this.Data.DailyDiesel" IsRequired=false/>
										<DecimalDescriptionItem Title="FPSODieselConsumption" @bind-Value=@this.Data.DailyDiesel.FPSODieselConsumption TItem="DailyDiesel" Item="@this.Data.DailyDiesel"/>
										<StringDescriptionItem Title="FPSODieselConsumptionRemark" @bind-Value=@this.Data.DailyDiesel.FPSODieselConsumptionRemark TItem="DailyDiesel" Item="@this.Data.DailyDiesel" IsRequired=false/>
									</DescriptionView>
								</ChildContent>
								</Panel>
							</ChildContent>
						</Panel>
						<Panel Header="5. CHEMICAL INJECTION" Key="1">
							<ChildContent>
								<Panel ShowArrow="false" Header="CI NALCO, EC-1310A" Key="1">
									<ChildContent>
										<DescriptionView>
											<DecimalDescriptionItem Title="YesterdayLevel" @bind-Value=@this.Data.DailyCiNalco.YesterdayLevel TItem="DailyCiNalco" Item="@this.Data.DailyCiNalco"/>
											<DecimalDescriptionItem Title="TodayLevel" @bind-Value=@this.Data.DailyCiNalco.TodayLevel TItem="DailyCiNalco" Item="@this.Data.DailyCiNalco"/>
											<DecimalDescriptionItem Title="LevelDrop" @bind-Value=@this.Data.DailyCiNalco.LevelDrop TItem="DailyCiNalco" Item="@this.Data.DailyCiNalco"/>
											<DecimalDescriptionItem Title="ActualConsumption" @bind-Value=@this.Data.DailyCiNalco.ActualConsumption TItem="DailyCiNalco" Item="@this.Data.DailyCiNalco"/>
											<DecimalDescriptionItem Title="DailyTargetRate" @bind-Value=@this.Data.DailyCiNalco.DailyTargetRate TItem="DailyCiNalco" Item="@this.Data.DailyCiNalco"/>
											<DecimalDescriptionItem Title="Deviation" @bind-Value=@this.Data.DailyCiNalco.Deviation TItem="DailyCiNalco" Item="@this.Data.DailyCiNalco"/>
											<DecimalDescriptionItem Title="WellInjectionTarget" @bind-Value=@this.Data.DailyCiNalco.WellInjectionTarget TItem="DailyCiNalco" Item="@this.Data.DailyCiNalco"/>
											<DecimalDescriptionItem Title="WellActualInjection" @bind-Value=@this.Data.DailyCiNalco.WellActualInjection TItem="DailyCiNalco" Item="@this.Data.DailyCiNalco"/>
											<DecimalDescriptionItem Title="TrunkLineInjectionTarget" @bind-Value=@this.Data.DailyCiNalco.TrunkLineInjectionTarget TItem="DailyCiNalco" Item="@this.Data.DailyCiNalco"/>
											<DecimalDescriptionItem Title="TrunkLineActualInjection" @bind-Value=@this.Data.DailyCiNalco.TrunkLineActualInjection TItem="DailyCiNalco" Item="@this.Data.DailyCiNalco"/>
											<DecimalDescriptionItem Title="LWPInjectionTarget" @bind-Value=@this.Data.DailyCiNalco.LWPInjectionTarget TItem="DailyCiNalco" Item="@this.Data.DailyCiNalco"/>
											<DecimalDescriptionItem Title="LWPActualInjection" @bind-Value=@this.Data.DailyCiNalco.LWPActualInjection TItem="DailyCiNalco" Item="@this.Data.DailyCiNalco"/>
											<IntegerDescriptionItem Title="ToteTank" @bind-Value=@this.Data.DailyCiNalco.ToteTank TItem="DailyCiNalco" Item="@this.Data.DailyCiNalco"/>
											<IntegerDescriptionItem Title="Drum" @bind-Value=@this.Data.DailyCiNalco.Drum TItem="DailyCiNalco" Item="@this.Data.DailyCiNalco"/>
										</DescriptionView>
									</ChildContent>
								</Panel>
								<Panel ShowArrow="false" Header="INOWAC SBN-810 INJECTION" Key="1">
									<ChildContent>
										<DescriptionView>
											<DecimalDescriptionItem Title="V2010" @bind-Value=@this.Data.DailyInowacInjection.V2010 TItem="DailyInowacInjection" Item="@this.Data.DailyInowacInjection"/>
											<DecimalDescriptionItem Title="TCALP" @bind-Value=@this.Data.DailyInowacInjection.TCALP TItem="DailyInowacInjection" Item="@this.Data.DailyInowacInjection"/>
											<DecimalDescriptionItem Title="TCAHP" @bind-Value=@this.Data.DailyInowacInjection.TCAHP TItem="DailyInowacInjection" Item="@this.Data.DailyInowacInjection"/>
											<DecimalDescriptionItem Title="TCBLP" @bind-Value=@this.Data.DailyInowacInjection.TCBLP TItem="DailyInowacInjection" Item="@this.Data.DailyInowacInjection"/>
											<DecimalDescriptionItem Title="TCBHP" @bind-Value=@this.Data.DailyInowacInjection.TCBHP TItem="DailyInowacInjection" Item="@this.Data.DailyInowacInjection"/>
											<DecimalDescriptionItem Title="Target" @bind-Value=@this.Data.DailyInowacInjection.Target TItem="DailyInowacInjection" Item="@this.Data.DailyInowacInjection"/>
											<DecimalDescriptionItem Title="ActualInjection" @bind-Value=@this.Data.DailyInowacInjection.ActualInjection TItem="DailyInowacInjection" Item="@this.Data.DailyInowacInjection"/>
											<DecimalDescriptionItem Title="TCA_DE_PH" @bind-Value=@this.Data.DailyInowacInjection.TCA_DE_PH TItem="DailyInowacInjection" Item="@this.Data.DailyInowacInjection"/>
											<DecimalDescriptionItem Title="TCA_DE_FE" @bind-Value=@this.Data.DailyInowacInjection.TCA_DE_FE TItem="DailyInowacInjection" Item="@this.Data.DailyInowacInjection"/>
											<DecimalDescriptionItem Title="TCA_NDE_PH" @bind-Value=@this.Data.DailyInowacInjection.TCA_NDE_PH TItem="DailyInowacInjection" Item="@this.Data.DailyInowacInjection"/>
											<DecimalDescriptionItem Title="TCA_NDE_FE" @bind-Value=@this.Data.DailyInowacInjection.TCA_NDE_FE TItem="DailyInowacInjection" Item="@this.Data.DailyInowacInjection"/>
											<DecimalDescriptionItem Title="TCA_V2400_PH" @bind-Value=@this.Data.DailyInowacInjection.TCA_V2400_PH TItem="DailyInowacInjection" Item="@this.Data.DailyInowacInjection"/>
											<DecimalDescriptionItem Title="TCA_V2400_FE" @bind-Value=@this.Data.DailyInowacInjection.TCA_V2400_FE TItem="DailyInowacInjection" Item="@this.Data.DailyInowacInjection"/>
											<DecimalDescriptionItem Title="TCA_V2430_PH" @bind-Value=@this.Data.DailyInowacInjection.TCA_V2430_PH TItem="DailyInowacInjection" Item="@this.Data.DailyInowacInjection"/>
											<DecimalDescriptionItem Title="TCA_V2430_FE" @bind-Value=@this.Data.DailyInowacInjection.TCA_V2430_FE TItem="DailyInowacInjection" Item="@this.Data.DailyInowacInjection"/>
											<DecimalDescriptionItem Title="TCA_TCALP_PH" @bind-Value=@this.Data.DailyInowacInjection.TCA_TCALP_PH TItem="DailyInowacInjection" Item="@this.Data.DailyInowacInjection"/>
											<DecimalDescriptionItem Title="TCA_TCALP_FE" @bind-Value=@this.Data.DailyInowacInjection.TCA_TCALP_FE TItem="DailyInowacInjection" Item="@this.Data.DailyInowacInjection"/>
											<DecimalDescriptionItem Title="TCA_V2200_PH" @bind-Value=@this.Data.DailyInowacInjection.TCA_V2200_PH TItem="DailyInowacInjection" Item="@this.Data.DailyInowacInjection"/>
											<DecimalDescriptionItem Title="TCA_V2200_FE" @bind-Value=@this.Data.DailyInowacInjection.TCA_V2200_FE TItem="DailyInowacInjection" Item="@this.Data.DailyInowacInjection"/>
											<DecimalDescriptionItem Title="TCB_DE_PH" @bind-Value=@this.Data.DailyInowacInjection.TCB_DE_PH TItem="DailyInowacInjection" Item="@this.Data.DailyInowacInjection"/>
											<DecimalDescriptionItem Title="TCB_DE_FE" @bind-Value=@this.Data.DailyInowacInjection.TCB_DE_FE TItem="DailyInowacInjection" Item="@this.Data.DailyInowacInjection"/>
											<DecimalDescriptionItem Title="TCB_NDE_PH" @bind-Value=@this.Data.DailyInowacInjection.TCB_NDE_PH TItem="DailyInowacInjection" Item="@this.Data.DailyInowacInjection"/>
											<DecimalDescriptionItem Title="TCB_NDE_FE" @bind-Value=@this.Data.DailyInowacInjection.TCB_NDE_FE TItem="DailyInowacInjection" Item="@this.Data.DailyInowacInjection"/>
											<DecimalDescriptionItem Title="TCB_V2500_PH" @bind-Value=@this.Data.DailyInowacInjection.TCB_V2500_PH TItem="DailyInowacInjection" Item="@this.Data.DailyInowacInjection"/>
											<DecimalDescriptionItem Title="TCB_V2500_FE" @bind-Value=@this.Data.DailyInowacInjection.TCB_V2500_FE TItem="DailyInowacInjection" Item="@this.Data.DailyInowacInjection"/>
											<DecimalDescriptionItem Title="TCB_V2530_PH" @bind-Value=@this.Data.DailyInowacInjection.TCB_V2530_PH TItem="DailyInowacInjection" Item="@this.Data.DailyInowacInjection"/>
											<DecimalDescriptionItem Title="TCB_V2530_FE" @bind-Value=@this.Data.DailyInowacInjection.TCB_V2530_FE TItem="DailyInowacInjection" Item="@this.Data.DailyInowacInjection"/>
											<DecimalDescriptionItem Title="TCB_TCBLP_PH" @bind-Value=@this.Data.DailyInowacInjection.TCB_TCBLP_PH TItem="DailyInowacInjection" Item="@this.Data.DailyInowacInjection"/>
											<DecimalDescriptionItem Title="TCB_TCBLP_FE" @bind-Value=@this.Data.DailyInowacInjection.TCB_TCBLP_FE TItem="DailyInowacInjection" Item="@this.Data.DailyInowacInjection"/>
											<IntegerDescriptionItem Title="Stock" @bind-Value=@this.Data.DailyInowacInjection.Stock TItem="DailyInowacInjection" Item="@this.Data.DailyInowacInjection"/>
											<DecimalDescriptionItem Title="LevelDrop" @bind-Value=@this.Data.DailyInowacInjection.LevelDrop TItem="DailyInowacInjection" Item="@this.Data.DailyInowacInjection"/>
										</DescriptionView>
									</ChildContent>
								</Panel>
							</ChildContent>
						</Panel>
						<Panel Header="6. WELLHEAD & SEPARATION SYSTEM" Key="1">
							<ChildContent>
								<Panel ShowArrow="false" Header="WELLHEAD & SEPARATION SYSTEM" Key="1">
									<ChildContent>
										<DescriptionView>
										<DecimalDescriptionItem Title="StationRecyclePV2015" @bind-Value=@this.Data.DailyWellHeadAndSeparationSystem.StationRecyclePV2015 TItem="DailyWellHeadAndSeparationSystem" Item="@this.Data.DailyWellHeadAndSeparationSystem"/>
										<StringDescriptionItem Title="StationRecyclePV2015Control" @bind-Value=@this.Data.DailyWellHeadAndSeparationSystem.StationRecyclePV2015Control TItem="DailyWellHeadAndSeparationSystem" Item="@this.Data.DailyWellHeadAndSeparationSystem"/>
										<DecimalDescriptionItem Title="ProductionSeparatorV2010PV" @bind-Value=@this.Data.DailyWellHeadAndSeparationSystem.ProductionSeparatorV2010PV TItem="DailyWellHeadAndSeparationSystem" Item="@this.Data.DailyWellHeadAndSeparationSystem"/>
										<DecimalDescriptionItem Title="TestSeparatorV2000PV" @bind-Value=@this.Data.DailyWellHeadAndSeparationSystem.TestSeparatorV2000PV TItem="DailyWellHeadAndSeparationSystem" Item="@this.Data.DailyWellHeadAndSeparationSystem"/>
										<StringDescriptionItem Title="SayBoltColour" @bind-Value=@this.Data.DailyWellHeadAndSeparationSystem.SayBoltColour TItem="DailyWellHeadAndSeparationSystem" Item="@this.Data.DailyWellHeadAndSeparationSystem"/>
										<StringDescriptionItem Title="SandFilterS0400Status" @bind-Value=@this.Data.DailyWellHeadAndSeparationSystem.SandFilterS0400Status TItem="DailyWellHeadAndSeparationSystem" Item="@this.Data.DailyWellHeadAndSeparationSystem"/>
										<StringDescriptionItem Title="S0400" @bind-Value=@this.Data.DailyWellHeadAndSeparationSystem.S0400 TItem="DailyWellHeadAndSeparationSystem" Item="@this.Data.DailyWellHeadAndSeparationSystem"/>
									</DescriptionView>
								</ChildContent>
								</Panel>
								<Panel ShowArrow="false" Class="description-no-shadow" Header="WELL STREAM COOLERS" Key="1">
									<ChildContent>
										<WellStreamCoolerDataGrid @ref="wellStreamCoolerDataGrid" LoadData=@(args => LoadWellStreamCoolerDataGridAsync(args)) />
									</ChildContent>
								</Panel>
							</ChildContent>
						</Panel>
						<Panel Header="7. WELLHEAD" Key="1">
							<ChildContent>
								<Panel ShowArrow="false" Class="description-no-shadow" Header="HIP WELLHEAD PARAMETERS" Key="1">
									<ChildContent>
										<HIPWellHeadParameterDataGrid @ref="hipWellHeadParameterDataGrid" LoadData=@(args => LoadHIPWellHeadParameterDataGridAsync(args)) />
									</ChildContent>
								</Panel>
								<Panel ShowArrow="false" Class="description-no-shadow" Header="LWP WELLHEAD PARAMETERS" Key="1">
									<ChildContent>
										<LWPWellHeadParameterDataGrid @ref="lwpWellHeadParameterDataGrid" LoadData=@(args => LoadLWPWellHeadParameterDataGridAsync(args)) />
									</ChildContent>
								</Panel>
							</ChildContent>
						</Panel>
						<Panel Header="8. ROLLS ROYCE GAS ENGINE & KAWASAKI COMPRESSION SYSTEM" Key="1">
							<ChildContent>
								<Panel ShowArrow="false" Class="description-no-shadow" Header="KAWASAKI EXPORT COMPRESSOR" Key="1">
									<ChildContent>
										<KawasakiExportCompressorDataGrid @ref="kawasakiExportCompressorDataGrid" LoadData=@(args => LoadKawasakiExportCompressorDataGridAsync(args)) />
										<KawasakiExportCompressorDataGridPart2 @ref="kawasakiExportCompressorDataGridPart2" LoadData=@(args => LoadKawasakiExportCompressorDataGridPart2Async(args)) />
									</ChildContent>
								</Panel>
								<Panel ShowArrow="false" Class="description-no-shadow" Header="ROLLS ROYCE RB-211 ENGINE" Key="1">
									<ChildContent>
										<RollsRoyceRB211EngineDataGrid @ref="rollsRoyceRB211EngineDataGrid" LoadData=@(args => LoadRollsRoyceRB211EngineDataGridAsync(args)) />
									</ChildContent>
								</Panel>
							</ChildContent>
						</Panel>
						<Panel Header="9. GLYCOL REGENERATION SYSTEM" Key="1">
							<ChildContent>
								<Panel ShowArrow="false" Class="description-no-shadow" Header="GLYCOL PUMP" Key="1">
									<ChildContent>
										<GlycolPumpDataGrid @ref="glycolPumpDataGrid" LoadData=@(args => LoadGlycolPumpDataGridAsync(args)) />
									</ChildContent>
								</Panel>
								<Panel ShowArrow="false" Class="description-no-shadow" Header="GLYCOL TRAIN" Key="1">
									<ChildContent>
										<GlycolTrainDataGrid @ref="glycolTrainDataGrid" LoadData=@(args => LoadGlycolTrainDataGridAsync(args)) />
									</ChildContent>
								</Panel>
								<Panel ShowArrow="false" Header="GLYCOL STOCK" Key="1">
									<ChildContent>
										<DescriptionView>
											<IntegerDescriptionItem Title="GlycolStockInToteTank" @bind-Value=@this.Data.DailyGlycolStock.GlycolStockInToteTank TItem="DailyGlycolStock" Item="@this.Data.DailyGlycolStock"/>
											<IntegerDescriptionItem Title="GlycolStockInDrum" @bind-Value=@this.Data.DailyGlycolStock.GlycolStockInDrum TItem="DailyGlycolStock" Item="@this.Data.DailyGlycolStock"/>
										</DescriptionView>
									</ChildContent>
								</Panel>
							</ChildContent>
						</Panel>
						<Panel Header="10. GAS & CONDENSATE EXPORT SAMPLERS & EXPORT LINE" Key="1">
							<ChildContent>
								<DescriptionView>
									<DateDescriptionItem Title="LastPiggingDateUI" @bind-Value=@this.Data.DailyGasCondensateExportSamplerAndExportLine.LastPiggingDateUI TItem="DailyGasCondensateExportSamplerAndExportLine" Item="@this.Data.DailyGasCondensateExportSamplerAndExportLine" />
									<DateDescriptionItem Title="NextPiggingDateUI" @bind-Value=@this.Data.DailyGasCondensateExportSamplerAndExportLine.NextPiggingDateUI TItem="DailyGasCondensateExportSamplerAndExportLine" Item="@this.Data.DailyGasCondensateExportSamplerAndExportLine" />
									<DecimalDescriptionItem Title="TrunkLinePressure" @bind-Value=@this.Data.DailyGasCondensateExportSamplerAndExportLine.TrunkLinePressure TItem="DailyGasCondensateExportSamplerAndExportLine" Item="@this.Data.DailyGasCondensateExportSamplerAndExportLine"/>
									<DecimalDescriptionItem Title="PV2901SP" @bind-Value=@this.Data.DailyGasCondensateExportSamplerAndExportLine.PV2901SP TItem="DailyGasCondensateExportSamplerAndExportLine" Item="@this.Data.DailyGasCondensateExportSamplerAndExportLine"/>
									<StringDescriptionItem Title="GasSamplerId" @bind-Value=@this.Data.DailyGasCondensateExportSamplerAndExportLine.GasSamplerId TItem="DailyGasCondensateExportSamplerAndExportLine" Item="@this.Data.DailyGasCondensateExportSamplerAndExportLine"/>
									<DateDescriptionItem Title="LastChangeOutUI" @bind-Value=@this.Data.DailyGasCondensateExportSamplerAndExportLine.LastChangeOutDateUI TItem="DailyGasCondensateExportSamplerAndExportLine" Item="@this.Data.DailyGasCondensateExportSamplerAndExportLine" />
									<DecimalDescriptionItem Title="GasSamplerContent" @bind-Value=@this.Data.DailyGasCondensateExportSamplerAndExportLine.GasSamplerContent TItem="DailyGasCondensateExportSamplerAndExportLine" Item="@this.Data.DailyGasCondensateExportSamplerAndExportLine"/>
									<DateDescriptionItem Title="NextChangeOutUI" @bind-Value=@this.Data.DailyGasCondensateExportSamplerAndExportLine.NextChangeOutDateUI TItem="DailyGasCondensateExportSamplerAndExportLine" Item="@this.Data.DailyGasCondensateExportSamplerAndExportLine" />
									<StringDescriptionItem Title="CondySamplerId" @bind-Value=@this.Data.DailyGasCondensateExportSamplerAndExportLine.CondySamplerId TItem="DailyGasCondensateExportSamplerAndExportLine" Item="@this.Data.DailyGasCondensateExportSamplerAndExportLine"/>
									<DateDescriptionItem Title="LastSamplingUI" @bind-Value=@this.Data.DailyGasCondensateExportSamplerAndExportLine.LastSamplingDateUI TItem="DailyGasCondensateExportSamplerAndExportLine" Item="@this.Data.DailyGasCondensateExportSamplerAndExportLine" />
									<DecimalDescriptionItem Title="CondySamplerContent" @bind-Value=@this.Data.DailyGasCondensateExportSamplerAndExportLine.CondySamplerContent TItem="DailyGasCondensateExportSamplerAndExportLine" Item="@this.Data.DailyGasCondensateExportSamplerAndExportLine"/>
									<DateDescriptionItem Title="NextSamplingUI" @bind-Value=@this.Data.DailyGasCondensateExportSamplerAndExportLine.NextSamplingDateUI TItem="DailyGasCondensateExportSamplerAndExportLine" Item="@this.Data.DailyGasCondensateExportSamplerAndExportLine" />
								</DescriptionView>
							</ChildContent>
						</Panel>
						<Panel Header="11. COOLING MEDIUM SYSTEM" Key="1">
							<ChildContent>
								<Panel ShowArrow="false" Header="ANALYSIS RESULT" Key="1">
									<ChildContent>
										<DescriptionView>
											<DecimalDescriptionItem Title="PhReading" @bind-Value=@this.Data.DailyAnalysisResult.PhReading TItem="DailyAnalysisResult" Item="@this.Data.DailyAnalysisResult" />
											<StringDescriptionItem Title="PhReadingRange"@bind-Value=@this.Data.DailyAnalysisResult.PhReadingRange TItem="DailyAnalysisResult" Item="@this.Data.DailyAnalysisResult"/>
											<DecimalDescriptionItem Title="Iron" @bind-Value=@this.Data.DailyAnalysisResult.Iron TItem="DailyAnalysisResult" Item="@this.Data.DailyAnalysisResult"/>
											<StringDescriptionItem Title="IronRange"@bind-Value=@this.Data.DailyAnalysisResult.IronRange TItem="DailyAnalysisResult" Item="@this.Data.DailyAnalysisResult"/>
											<DecimalDescriptionItem Title="Salinity" @bind-Value=@this.Data.DailyAnalysisResult.Salinity TItem="DailyAnalysisResult" Item="@this.Data.DailyAnalysisResult"/>
											<DecimalDescriptionItem Title="Nitrite" @bind-Value=@this.Data.DailyAnalysisResult.Nitrite TItem="DailyAnalysisResult" Item="@this.Data.DailyAnalysisResult"/>
											<StringDescriptionItem Title="NitriteRange" @bind-Value=@this.Data.DailyAnalysisResult.NitriteRange TItem="DailyAnalysisResult" Item="@this.Data.DailyAnalysisResult"/>
											<DecimalDescriptionItem Title="CMFilterS6970" @bind-Value=@this.Data.DailyAnalysisResult.CMFilterS6970 TItem="DailyAnalysisResult" Item="@this.Data.DailyAnalysisResult"/>
											<StringDescriptionItem Title="CMFilterS6970Range" @bind-Value=@this.Data.DailyAnalysisResult.CMFilterS6970Range TItem="DailyAnalysisResult" Item="@this.Data.DailyAnalysisResult"/>
										</DescriptionView>
									</ChildContent>
								</Panel>
									<Panel ShowArrow="false" Class="description-no-shadow" Header="COOLING MEDIUM SYSTEM" Key="1">
									<ChildContent>
										<CoolingMediumSystemDataGrid @ref="coolingMediumSystemDataGrid" LoadData=@(args => LoadCoolingMediumSystemDataGridAsync(args)) />
									</ChildContent>
								</Panel>
							</ChildContent>
						</Panel>
						<Panel Header="12. POWER GENERATION & DISTRIBUTION" Class="description-no-shadow" Key="1">
							<ChildContent>
								<PowerGenerationAndDistributionManagementDataGrid @ref="powerGenerationAndDistributionManagementDataGrid" LoadData=@(args => LoadPowerGenerationAndDistributionManagementDataGridAsync(args)) />
							</ChildContent>
						</Panel>
						<Panel Header="13. LIVING QUARTERS, UTILITIES & OTHERS" Key="1">
							<ChildContent>
								<Panel ShowArrow="false" Class="description-no-shadow" Header="UTILITIES" Key="1">
									<ChildContent>
										<UtilitiesDataGrid @ref="utilitiesDataGrid" LoadData=@(args => LoadUtilitiesDataGridAsync(args)) />
									</ChildContent>
								</Panel>
								<Panel ShowArrow="false" Class="description-no-shadow" Header="WATER TANK" Key="1">
									<ChildContent>
										<WaterTankDataGrid @ref="waterTankDataGrid" LoadData=@(args => LoadWaterTankDataGridAsync(args)) />
									</ChildContent>
								</Panel>
								<Panel ShowArrow="false" Class="description-no-shadow" Header="NITROGEN GENERATOR" Key="1">
									<ChildContent>
										<NitrogenGeneratorDataGrid @ref="nitrogenGeneratorDataGrid" LoadData=@(args => LoadNitrogenGeneratorDataGridAsync(args)) />
									</ChildContent>
								</Panel>
							</ChildContent>
						</Panel>
						<Panel Header="14. TILTED PLATE SEPARATOR V-3000 & PRODUCED WATER TREATMENT SYSTEM" Key="1">
							<ChildContent>
									<Panel ShowArrow="false" Class="description-no-shadow" Header="PRODUCED WATER TREATMENT SYSTEM" Key="1">
									<ChildContent>
										<ProducedWaterTreatmentSystemManagementDataGrid @ref="producedWaterTreatmentSystemManagementDataGrid" LoadData=@(args => LoadProducedWaterTreatmentSystemManagementDataGridAsync(args)) />
									</ChildContent>
								</Panel>
								<Panel ShowArrow="false" Header="DE-OILER INJECTION" Key="1">
									<ChildContent>
										<DescriptionView>
										<StringDescriptionItem Title="InjectionPoint" @bind-Value=@this.Data.DailyDeOilerInjection.InjectionPoint TItem="DailyDeOilerInjection" Item="@this.Data.DailyDeOilerInjection"/>
										<StringDescriptionItem Title="InjectionStatus" @bind-Value=@this.Data.DailyDeOilerInjection.InjectionStatus TItem="DailyDeOilerInjection" Item="@this.Data.DailyDeOilerInjection"/>
										<StringDescriptionItem Title="Remark" @bind-Value=@this.Data.DailyDeOilerInjection.Remark TItem="DailyDeOilerInjection" Item="@this.Data.DailyDeOilerInjection" IsRequired=false/>
										<DecimalDescriptionItem Title="TodayLevel" @bind-Value=@this.Data.DailyDeOilerInjection.TodayLevel TItem="DailyDeOilerInjection" Item="@this.Data.DailyDeOilerInjection"/>
										<DecimalDescriptionItem Title="YesterdayLevel" @bind-Value=@this.Data.DailyDeOilerInjection.YesterdayLevel TItem="DailyDeOilerInjection" Item="@this.Data.DailyDeOilerInjection"/>
										<DecimalDescriptionItem Title="LevelDrop" @bind-Value=@this.Data.DailyDeOilerInjection.LevelDrop TItem="DailyDeOilerInjection" Item="@this.Data.DailyDeOilerInjection"/>
										<StringDescriptionItem Title="PumpStroke" @bind-Value=@this.Data.DailyDeOilerInjection.PumpStroke TItem="DailyDeOilerInjection" Item="@this.Data.DailyDeOilerInjection"/>
										<StringDescriptionItem Title="PumpDischarge" @bind-Value=@this.Data.DailyDeOilerInjection.PumpDischarge TItem="DailyDeOilerInjection" Item="@this.Data.DailyDeOilerInjection"/>
										<IntegerDescriptionItem Title="TotalTank" @bind-Value=@this.Data.DailyDeOilerInjection.TotalTank TItem="DailyDeOilerInjection" Item="@this.Data.DailyDeOilerInjection"/>
										<IntegerDescriptionItem Title="Drums" @bind-Value=@this.Data.DailyDeOilerInjection.Drums TItem="DailyDeOilerInjection" Item="@this.Data.DailyDeOilerInjection"/>
									</DescriptionView>
								</ChildContent>
								</Panel>
							</ChildContent>
						</Panel>
						<Panel Header="15. SAND DISPOSAL FROM TPS (V-3000) VIA DESANDER" Key="1">
							<ChildContent>
								<DescriptionView>
									<DescriptionsItem Title="Sand Disposal Desander Name">
										<ChildContent>
											<div class="d-flex justify-content-center">@this.Data.DailySandDisposalDesander.SandDisposalDesanderName</div>
										</ChildContent>
									</DescriptionsItem>
									<StringDescriptionItem Title="Status" @bind-Value=@this.Data.DailySandDisposalDesander.Status TItem="DailySandDisposalDesander" Item="@this.Data.DailySandDisposalDesander"/>
									<StringDescriptionItem Title="Remark" @bind-Value=@this.Data.DailySandDisposalDesander.Remark TItem="DailySandDisposalDesander" Item="@this.Data.DailySandDisposalDesander" IsRequired=false/>
									<DateDescriptionItem Title="LastSandJettingDateUI" @bind-Value=@this.Data.DailySandDisposalDesander.LastSandJettingDateUI TItem="DailySandDisposalDesander" Item="@this.Data.DailySandDisposalDesander" />
									<DateDescriptionItem Title="NextSandJettingDateUI" @bind-Value=@this.Data.DailySandDisposalDesander.NextSandJettingDateUI TItem="DailySandDisposalDesander" Item="@this.Data.DailySandDisposalDesander" />
									<IntegerDescriptionItem Title="EastClusterJettingCycleNumber" @bind-Value=@this.Data.DailySandDisposalDesander.EastClusterJettingCycleNumber TItem="DailySandDisposalDesander" Item="@this.Data.DailySandDisposalDesander"/>
									<IntegerDescriptionItem Title="WestClusterJettingCycleNumber" @bind-Value=@this.Data.DailySandDisposalDesander.WestClusterJettingCycleNumber TItem="DailySandDisposalDesander" Item="@this.Data.DailySandDisposalDesander"/>
									<DecimalDescriptionItem Title="DrumCollectedNumber" @bind-Value=@this.Data.DailySandDisposalDesander.DrumCollectedNumber TItem="DailySandDisposalDesander" Item="@this.Data.DailySandDisposalDesander"/>
									<DecimalDescriptionItem Title="AccumulatedSandDisposed" @bind-Value=@this.Data.DailySandDisposalDesander.AccumulatedSandDisposed TItem="DailySandDisposalDesander" Item="@this.Data.DailySandDisposalDesander"/>
									<DecimalDescriptionItem Title="HighestMercuryReading" @bind-Value=@this.Data.DailySandDisposalDesander.HighestMercuryReading TItem="DailySandDisposalDesander" Item="@this.Data.DailySandDisposalDesander"/>
									<StringDescriptionItem Title="Remark1" @bind-Value=@this.Data.DailySandDisposalDesander.Remark1 TItem="DailySandDisposalDesander" Item="@this.Data.DailySandDisposalDesander" IsRequired=false/>
								</DescriptionView>
							</ChildContent>
						</Panel>
						<Panel Header="16. DCS, FGS, ASD & COMMUNICATION SYSTEM" Class="description-no-shadow" Key="1">
							<ChildContent>
								<CommunicationSystemDataGrid @ref="communicationSystemDataGrid" LoadData=@(args => LoadCommunicationSystemDataGridAsync(args)) />
							</ChildContent>
						</Panel>
						<Panel Header="17. LAYANG WELLHEAD PLATFORM (LWP) ACTIVITIES" Class="description-no-shadow" Key="1">
							<ChildContent>
								<LWPActivityDataGrid @ref="lWPActivityDataGrid" LoadData=@(args => LoadLWPActivityDataGridAsync(args)) />
						</ChildContent>
						</Panel>
						<Panel Header="18. VENDOR ACTIVITIES" Class="description-no-shadow" Key="1">
							<ChildContent>
								<VendorActivitiesDataGrid @ref="vendorActivitiesDataGrid" LoadData=@(args => LoadVendorActivitiesDataGridAsync(args)) />
						</ChildContent>
						</Panel>
						<Panel Header="19. LOGISTIC" Class="description-no-shadow" Key="1">
							<ChildContent>
								<LogisticDataGrid @ref="logisticDataGrid" LoadData=@(args => LoadLogisticDataGridAsync(args)) />
							</ChildContent>
						</Panel>
						<Panel Header="20. MAXIMO WORK ORDER" Class="description-no-shadow" Key="1">
							<ChildContent>
								<MaximoWorkOrderDataGrid @ref="maximoWorkOrderDataGrid" LoadData=@(args => LoadMaximoWorkOrderDataGridAsync(args)) />
							</ChildContent>
						</Panel>	
					</Collapse>
				</div>
			</div>
		</ChildContent>
	</RadzenTemplateForm>
</Spin>