@using ManagementOfChangeODataService.Affra.Service.ManagementOfChange.Domain.ManagementOfChanges
<Layout Class="layout-view">
    <Header>
        <div class="row">
            <div class="col-12 float-right align-items-center text-right mt-1">
                <Space Size="@("middle")">
                    <SpaceItem>
                        <Search Size="@("large")" Placeholder="Search..." Style="20vw;" OnChange=@(args => ReloadAsync(null)) @bind-Value=search ClassicSearchIcon/>
                    </SpaceItem>
                    <SpaceItem>
                        <Button Type="primary" Size="@("large")" Shape="@ButtonShape.Round" OnClick="@(() => ShowDialogAsync(new ManagementOfChangeRecord()))">
                            <ChildContent>
                                <Icon Type="plus-circle" Theme="outline" Class="anticon-big"/><span style="font-size: 18px; margin-left: 10px;">Add</span>
                            </ChildContent>
                        </Button>
                    </SpaceItem>
                </Space>
            </div>
        </div>       
    </Header>
    <Layout Style="height: 100%;">
        <Sider Width=200>
            <Menu DefaultSelectedKeys=@(new[] { "All" }) @ref=@menu Style="height: 100%;" Mode=@MenuMode.Inline OnMenuItemClicked=OnMenuItemSelectAsync>
                <MenuItem Key="All"><span style="font-size: 16px; margin-left: 0px;">All</span></MenuItem>
                <MenuItem Key="New"><span style="font-size: 16px; margin-left: 0px;">New</span></MenuItem>
                <MenuItem Key="Pending"><span style="font-size: 16px; margin-left: 0px;">Pending</span></MenuItem>
                <MenuItem Key="Extension"><span style="font-size: 16px; margin-left: 0px;">Extension</span></MenuItem>
                <MenuItem Key="Completed"><span style="font-size: 16px; margin-left: 0px;">Completed</span></MenuItem>
                <MenuItem Key="Deleted"><span style="font-size: 16px; margin-left: 0px;">Deleted</span></MenuItem>
            </Menu>
        </Sider>
        <Layout>
            <Content Style="overflow-y: auto; overflow-x:hidden; height:100%;">
                <ManagementOfChangeDataList @ref=managementOfChangeDataList></ManagementOfChangeDataList>
            </Content>
        </Layout>
    </Layout>
</Layout>
