@using ManagementOfChangeODataService.Affra.Service.ManagementOfChange.Domain.ManagementOfChanges
<Layout Class="layout-view">
    <Header>
        <div class="row">
            <div class="col-3">
                <span>Management Of Change</span>
            </div>
            <div class="col-9 float-right align-items-center text-right mt-1">
                <Space Size="@("middle")">
                    <SpaceItem>
                        <Search Size="@("large")" Placeholder="Search..." Style="20vw;" OnInput=@(args => ReloadAsync(searchInput : args.Value as string)) @bind-Value=search ClassicSearchIcon />
                    </SpaceItem>
                    <SpaceItem>
                        <Segmented TValue="string" @bind-Value=@cardListToggleString>
                            <SegmentedItem Value=@("Card") Icon="@IconType.Outline.Appstore" Class="cardlist-toggle" />
                            <SegmentedItem Value=@("Grid") Icon="@IconType.Outline.Bars" Class="cardlist-toggle" />
                        </Segmented>
                    </SpaceItem>
                    <SpaceItem>
                    <AuthorizeView Policy="ManagementOfChange.ReadWrite">                       
                        <Button Type="primary" Size="@("large")" Shape="@ButtonShape.Round" OnClick="@(() => ShowDialogAsync(new ManagementOfChangeRecord()))">
                            <ChildContent>
                                <Icon Type="plus-circle" Theme="outline" Class="anticon-big"/><span style="font-size: 18px; margin-left: 10px;">Add</span>
                            </ChildContent>
                        </Button>
                    </AuthorizeView>
                     </SpaceItem>
                </Space>
            </div>
        </div>       
    </Header>
    <Layout Style="height: 100%;">
        <Sider Width=250 Collapsible>
            <Menu DefaultSelectedKeys=@(new[] { "All" }) @ref=@menu Style="height: 100%;" Mode=@MenuMode.Inline OnMenuItemClicked=OnMenuItemSelectAsync>
                <MenuItem Key="All"><span style="font-size: 16px; margin-left: 0px;">All</span></MenuItem>
                    @foreach (var mocStatus in Enum.GetValues(typeof(ManagementOfChangeStatus)).Cast<ManagementOfChangeStatus>().ToList())
                    {
                        <MenuItem Key="@mocStatus.ToString()">@this.GetStatusLabel(mocStatus)</MenuItem>
                    }
            </Menu>
        </Sider>
        <Layout>
            <Content Style="overflow-y: auto; overflow-x:hidden; height:100%;">
                <ManagementOfChangeDataList @ref=managementOfChangeDataList DisplayType="@this.cardListToggleString"></ManagementOfChangeDataList>
            </Content>
        </Layout>
    </Layout>
</Layout>

@code{
    private RenderFragment GetStatusLabel(ManagementOfChangeStatus status)
    {
        @if (status == ManagementOfChangeStatus.ClosedOut)
        {
            return @<RadzenBadge BadgeStyle="BadgeStyle.Secondary" Text="@(stringLocalizer[status.ToString()])" />;
        }
        else if (status == ManagementOfChangeStatus.Extension)
        {
            return @<RadzenBadge BadgeStyle="BadgeStyle.Primary" Text="@(stringLocalizer[status.ToString()])" />;
        }
        else if (status == ManagementOfChangeStatus.PendingForApproval)
        {
            return @<RadzenBadge BadgeStyle="BadgeStyle.Warning" Text="@(stringLocalizer[status.ToString()])" />;
        }
        else if (status == ManagementOfChangeStatus.PendingForCloseOut)
        {
            return @<RadzenBadge BadgeStyle="BadgeStyle.Info" Text="@(stringLocalizer[status.ToString()])" />;
        }
        else if (status == ManagementOfChangeStatus.Approved)
        {
            return @<RadzenBadge BadgeStyle="BadgeStyle.Success" Text="@(stringLocalizer[status.ToString()])" />;
        }
        else if (status == ManagementOfChangeStatus.Rejected)
        {
            return @<RadzenBadge BadgeStyle="BadgeStyle.Danger" Text="@(stringLocalizer[status.ToString()])" />;
        }
        else if (status == ManagementOfChangeStatus.Deleted)
        {
            return @<RadzenBadge BadgeStyle="BadgeStyle.Dark" Text="@(stringLocalizer[status.ToString()])" />;
        }
        else
        {
            return @<RadzenBadge BadgeStyle="BadgeStyle.Light" Text="@(stringLocalizer[status.ToString()])" />;
        }
    }
                       
 }