@using ManagementOfChangeODataService.Affra.Service.ManagementOfChange.Domain.ManagementOfChanges
@using ManagementOfChangeODataService.Affra.Service.ManagementOfChange.Domain.Identifications
@using ManagementOfChangeODataService.Affra.Service.ManagementOfChange.Domain.AuthorisationAndApprovals
@using ManagementOfChangeODataService.Affra.Service.ManagementOfChange.Domain.CloseOuts
@using ManagementOfChangeODataService.Affra.Service.ManagementOfChange.Domain.CommunicationAndImplementations
@using ManagementOfChangeODataService.Affra.Service.ManagementOfChange.Domain.Endorsements
@using ManagementOfChangeODataService.Affra.Service.ManagementOfChange.Domain.Extensions
@using ManagementOfChangeODataService.Affra.Service.ManagementOfChange.Domain.RiskEvaluations

<RadzenTemplateForm Data="@Item" Submit="@( async (ManagementOfChangeRecord args) => { await SubmitAsync(args); })">
    <div class="row py-2 px-2">
        <div class="col">
            <div class="sticky-top moh-step-div">
                <Steps Current=@CurrentStep OnChange=OnStepChange>
                    <Step Title="IDENTIFICATION" />
                    <Step Title="RISK EVALUATION" />
                    <Step Title="ENDORSEMENT" />
                    <Step Title="AUTHORISATION AND APPROVAL" />
                    <Step Title="COMMUNICATION AND IMPLEMENTATION" />
                    <Step Title="EXTENSION AND CLOSE-OUT" />
                </Steps>
                <Divider />
            </div>
            <div>
                <div class="steps-content">
                    @{
                        if(@CurrentStep == 0)
                        {
                            <div class="py-2 px-5">
                                <Descriptions Bordered Column="@responsiveColumn">
                                    <DescriptionsItem Span="4" Title="Title Of Change"><TextArea @bind-Value="Item.TitleOfChange" /></DescriptionsItem>
                                    <DescriptionsItem Span="4" Title="Record No."><Input @bind-Value="Item.RecordNumber" /></DescriptionsItem>
                                    <DescriptionsItem Span="4" Title="Field">
                                        <EnumRadioGroup TEnum="ManagementOfChangeField" @bind-Value="Item.ManagementOfChangeField"></EnumRadioGroup>
                                    </DescriptionsItem>
                                    <DescriptionsItem Span="2" Title="Duration of Change">
                                        <RadzenNumeric @bind-Value="Item.Identification.DurationOfChange" TValue="int" /> Days
                                    </DescriptionsItem>
                                    <DescriptionsItem Span="2" Title="Expiry Date">
                                        <DatePicker @bind-Value="Item.Identification.ExpiryDateUI" Format="yyyy/MM/dd" />
                                    </DescriptionsItem>
                                    <DescriptionsItem Span="4" Title="Description of Change"><TextArea @bind-Value="Item.Identification.DescriptionOfChange" /></DescriptionsItem>
                                    <DescriptionsItem Span="4" Title="Reason for Change">
                                        <EnumRadioGroup TEnum="ReasonForChange" @bind-Value="Item.Identification.ReasonForChange">
                                        </EnumRadioGroup>
                                            @if (Item.Identification.ReasonForChange.ToString() == "Others")
                                                {
                                                    <Input type="text" TValue="string" @bind-Value="Item.Identification.OtherReasonForChange" />
                                                }
                                    </DescriptionsItem>
                                    <DescriptionsItem Span="4" Title="Details of Change">
                                        <EnumRadioGroup TEnum="DetailOfChange" @bind-Value="Item.Identification.DetailOfChange"></EnumRadioGroup>
                                    </DescriptionsItem>
                                    <DescriptionsItem Span="2" Title="Categories for Change">
                                        <EnumRadioGroup TEnum="CategoriesOfChange" @bind-Value="Item.Identification.CategoriesOfChange"></EnumRadioGroup>
                                    </DescriptionsItem>
                                    <DescriptionsItem Span="2" Title="Priority for Change">
                                        <EnumRadioGroup TEnum="PriorityOfChange" @bind-Value="Item.Identification.PriorityOfChange"></EnumRadioGroup>
                                    </DescriptionsItem>
                                    <DescriptionsItem Span="2" Title="SCE(s) Affected">
                                        <Switch Checked="Item.Identification.SCEAffected" CheckedChildren="Yes" UnCheckedChildren="No" />
                                    </DescriptionsItem>
                                    <DescriptionsItem Span="2" Title="SCE(s) Tag Number">
                                        <Input @bind-Value="Item.Identification.SCETagNumber" />
                                    </DescriptionsItem>
                                </Descriptions>
                            </div>
                        }
                        else if(@CurrentStep == 1)
                        {
                            <div class="py-2 px-5">
                                <Descriptions Title="Inherent Risk" Bordered Column="@responsiveColumn">
                                    <DescriptionsItem Span="4" Title="Likelihood"><Input @bind-Value="Item.RiskEvaluation.InheritRiskLikelihood" /></DescriptionsItem>
                                    <DescriptionsItem Span="4" Title="Consequence"><Input @bind-Value="Item.RiskEvaluation.InheritRiskConsequence" /></DescriptionsItem>
                                    <DescriptionsItem Span="4" Title="Risk Level"><Input @bind-Value="Item.RiskEvaluation.InheritRiskRiskLevel" /></DescriptionsItem>
                                </Descriptions>
                                <Descriptions Title="Residual Risk" Bordered Column="@responsiveColumn" Style="padding-top:20px">
                                    <DescriptionsItem Span="4" Title="Likelihood"><Input @bind-Value="Item.RiskEvaluation.ResidualRiskLikelihood" /></DescriptionsItem>
                                    <DescriptionsItem Span="4" Title="Consequence"><Input @bind-Value="Item.RiskEvaluation.ResidualRiskConsequence" /></DescriptionsItem>
                                    <DescriptionsItem Span="4" Title="Risk Level"><Input @bind-Value="Item.RiskEvaluation.ResidualRiskRiskLevel" /></DescriptionsItem>
                                </Descriptions>
                                <Descriptions Class="borderedTitlelessDescription" Title="Recommendation / Countermeasure from Risk Assessment" Bordered Column="@responsiveColumn" Style="padding-top:20px">
                                    <DescriptionsItem Span="4"><RadzenHtmlEditor style="height: 500px;" @bind-Value="Item.RiskEvaluation.RecommendationAndCountermeasure"></RadzenHtmlEditor></DescriptionsItem>
                                </Descriptions>
                            </div>
                        }
                        else if(@CurrentStep == 2)
                        {
                            <div class="py-2 px-5">
                                <Descriptions Bordered Column="@responsiveColumn">
                                    <DescriptionsItem Span="4" Title="Line Manager Comment"><TextArea Rows="5"  @bind-Value="Item.Endorsement.LineManagerComment" /></DescriptionsItem>
                                    <DescriptionsItem Span="2" Title="Name"><Input @bind-Value="Item.Endorsement.Name" /></DescriptionsItem>
                                    <DescriptionsItem Span="2" Title="Designation"><Input @bind-Value="Item.Endorsement.Designation" /></DescriptionsItem>
                                    <DescriptionsItem Span="2" Title="Date"><DatePicker @bind-Value="Item.Endorsement.DateUI" Format="yyyy/MM/dd" /></DescriptionsItem>
                                    <DescriptionsItem Span="2" Title="Signature"><Input @bind-Value="Item.Endorsement.Signature" /></DescriptionsItem>
                                </Descriptions>
                            </div>
                        }
                        else if(@CurrentStep == 3)
                        {
                            <div class="py-2 px-5">
                                <Descriptions Bordered Column="@responsiveColumn">
                                    <DescriptionsItem Span="4" Title="Approving Authority Comment"><TextArea Rows="5"  @bind-Value="Item.AuthorisationAndApproval.ApprovingAuthorityComment" /></DescriptionsItem>
                                    <DescriptionsItem Span="2" Title="Name"><Input @bind-Value="Item.AuthorisationAndApproval.Name" /></DescriptionsItem>
                                    <DescriptionsItem Span="2" Title="Designation"><Input @bind-Value="Item.AuthorisationAndApproval.Designation" /></DescriptionsItem>
                                    <DescriptionsItem Span="2" Title="Date"><DatePicker @bind-Value="Item.AuthorisationAndApproval.DateUI" Format="yyyy/MM/dd" /></DescriptionsItem>
                                    <DescriptionsItem Span="2" Title="Signature"><Input @bind-Value="Item.AuthorisationAndApproval.Signature" /></DescriptionsItem>
                                </Descriptions>
                                <h3 style="text-align:center;padding-top:20px;">APPROVING AUTHORITY SHALL FOLLOW RISK LEVEL</h3>
                            </div>
                        }
                        else if(@CurrentStep == 4)
                        {
                            <div class="py-2 px-5">
                                <Descriptions Bordered Column="@responsiveColumn">
                                    <DescriptionsItem Span="4" Title="Comments"><TextArea Rows="5"  @bind-Value="Item.CommunicationAndImplementation.Comments" /></DescriptionsItem>
                                    <DescriptionsItem Span="4" Title="Prepared by: (MOC Initiator)"><Input @bind-Value="Item.CommunicationAndImplementation.PreparedBySignature" /></DescriptionsItem>
                                    <DescriptionsItem Span="2" Title="Date"><DatePicker @bind-Value="Item.CommunicationAndImplementation.PreparedByDateUI" Format="yyyy/MM/dd" /></DescriptionsItem>
                                    <DescriptionsItem Span="2" Title="Signature"><Input @bind-Value="Item.CommunicationAndImplementation.PreparedBySignature" /></DescriptionsItem>
                                    
                                    <DescriptionsItem Span="4" Title="Agreed by: (Approving Authority)"><Input @bind-Value="Item.CommunicationAndImplementation.AgreedByName" /></DescriptionsItem>
                                    <DescriptionsItem Span="2" Title="Date"><DatePicker @bind-Value="Item.CommunicationAndImplementation.AgreedByDateUI" Format="yyyy/MM/dd" /></DescriptionsItem>
                                    <DescriptionsItem Span="2" Title="Signature"><Input @bind-Value="Item.CommunicationAndImplementation.AgreedBySignature" /></DescriptionsItem>
                                </Descriptions>
                            </div>
                        }
                        else if(@CurrentStep == 5)
                        {
                            <div class="py-2 px-5">
                                <Checkbox @bind-Checked="Item.Extension1.IsEnabled" CheckedChange="@CheckExtension1CB">Extension 1</Checkbox>
                                <Descriptions Bordered Column="@responsiveColumn" Class=@strExtension1Class>
                                    <DescriptionsItem Span="2" Title="Duration extended by "><RadzenNumeric @bind-Value="Item.Extension1.DurationExtended" TValue="int" /> Days on</DescriptionsItem>
                                    <DescriptionsItem Span="2" Title="Review Date"><DatePicker @bind-Value="Item.Extension1.ReviewDateUI" Format="yyyy/MM/dd" /></DescriptionsItem>
                                    <DescriptionsItem Span="2" Title="Approver Name"><Input @bind-Value="Item.Extension1.ApproverName" /></DescriptionsItem>
                                    <DescriptionsItem Span="2" Title="Approver Signature"><Input @bind-Value="Item.Extension1.ApprovalSignature" /></DescriptionsItem>
                                </Descriptions>
                                <Checkbox Style="padding-top:20px" @bind-Checked="Item.Extension2.IsEnabled" CheckedChange="@CheckExtension2CB">Extension 2</Checkbox>
                                <Descriptions Bordered Column="@responsiveColumn" Class=@strExtension2Class>
                                    <DescriptionsItem Span="2" Title="Duration extended by "><RadzenNumeric @bind-Value="Item.Extension2.DurationExtended" TValue="int" /> Days on</DescriptionsItem>
                                    <DescriptionsItem Span="2" Title="Review Date"><DatePicker @bind-Value="Item.Extension2.ReviewDateUI" Format="yyyy/MM/dd" /></DescriptionsItem>
                                    <DescriptionsItem Span="2" Title="Approver Name"><Input @bind-Value="Item.Extension2.ApproverName" /></DescriptionsItem>
                                    <DescriptionsItem Span="2" Title="Approver Signature"><Input @bind-Value="Item.Extension2.ApprovalSignature" /></DescriptionsItem>
                                </Descriptions>
                                <Checkbox Style="padding-top:20px" @bind-Checked="Item.Extension3.IsEnabled" CheckedChange="@CheckExtension3CB">Extension 3</Checkbox>
                                <Descriptions Bordered Column="@responsiveColumn" Class=@strExtension3Class>
                                    <DescriptionsItem Span="2" Title="Duration extended by "><RadzenNumeric @bind-Value="Item.Extension3.DurationExtended" TValue="int" /> Days on</DescriptionsItem>
                                    <DescriptionsItem Span="2" Title="Review Date"><DatePicker @bind-Value="Item.Extension3.ReviewDateUI" Format="yyyy/MM/dd" /></DescriptionsItem>
                                    <DescriptionsItem Span="2" Title="Approver Name"><Input @bind-Value="Item.Extension3.ApproverName" /></DescriptionsItem>
                                    <DescriptionsItem Span="2" Title="Approver Signature"><Input @bind-Value="Item.Extension3.ApprovalSignature" /></DescriptionsItem>
                                </Descriptions>
                                <Checkbox Style="padding-top:20px" @bind-Checked="Item.Extension4.IsEnabled" CheckedChange="@CheckExtension4CB">Extension 4</Checkbox>
                                <Descriptions Bordered Column="@responsiveColumn" Class=@strExtension4Class>
                                    <DescriptionsItem Span="2" Title="Duration extended by "><RadzenNumeric @bind-Value="Item.Extension4.DurationExtended" TValue="int" /> Days on</DescriptionsItem>
                                    <DescriptionsItem Span="2" Title="Review Date"><DatePicker @bind-Value="Item.Extension4.ReviewDateUI" Format="yyyy/MM/dd" /></DescriptionsItem>
                                    <DescriptionsItem Span="2" Title="Approver Name"><Input @bind-Value="Item.Extension4.ApproverName" /></DescriptionsItem>
                                    <DescriptionsItem Span="2" Title="Approver Signature"><Input @bind-Value="Item.Extension4.ApprovalSignature" /></DescriptionsItem>
                                </Descriptions>
                                <Checkbox Style="padding-top:20px" @bind-Checked="Item.Extension5.IsEnabled" CheckedChange="@CheckExtension5CB">Extension 5</Checkbox>
                                <Descriptions Bordered Column="@responsiveColumn" Class=@strExtension5Class>
                                    <DescriptionsItem Span="2" Title="Duration extended by "><RadzenNumeric @bind-Value="Item.Extension5.DurationExtended" TValue="int" /> Days on</DescriptionsItem>
                                    <DescriptionsItem Span="2" Title="Review Date"><DatePicker @bind-Value="Item.Extension5.ReviewDateUI" Format="yyyy/MM/dd" /></DescriptionsItem>
                                    <DescriptionsItem Span="2" Title="Approver Name"><Input @bind-Value="Item.Extension5.ApproverName" /></DescriptionsItem>
                                    <DescriptionsItem Span="2" Title="Approver Signature"><Input @bind-Value="Item.Extension5.ApprovalSignature" /></DescriptionsItem>
                                </Descriptions>
                                <Descriptions Title="MOC Close-out (Approving Authority)" Style="padding-top:20px" Bordered Column="@responsiveColumn">
                                    <DescriptionsItem Span="4" Title="">
                                        <EnumRadioGroup TEnum="CloseOutState" @bind-Value="Item.CloseOut.CloseOutState"></EnumRadioGroup>
                                    </DescriptionsItem>
                                    <DescriptionsItem Span="2" Title="Name"><Input @bind-Value="Item.CloseOut.Name" /></DescriptionsItem>
                                    <DescriptionsItem Span="2" Title="Designation"><Input @bind-Value="Item.CloseOut.Designation" /></DescriptionsItem>
                                    <DescriptionsItem Span="2" Title="Date"><DatePicker @bind-Value="Item.CloseOut.DateUI" Format="yyyy/MM/dd" /></DescriptionsItem>
                                    <DescriptionsItem Span="2" Title="Signature"><Input @bind-Value="Item.CloseOut.Signature" /></DescriptionsItem>
                                </Descriptions>
                            </div>
                        }
                    }
                    <Divider />

                    <div class="row">
                        <div class="col-6 offset-3 text-center">
                            @{
                                if(CurrentStep != 0)
                                {
                                    <Button Class="moc-previous-button" Type="@AntDesign.ButtonType.Primary" Size="@AntDesign.ButtonSize.Large" Shape="@ButtonShape.Round" OnClick="OnPreviousButtonClick">
                                        <ChildContent>
                                            <Icon Type="left" Theme="outline"/>
                                            <span style="font-size: 18px; margin-left: 0px;">Previous</span>
                                        </ChildContent>
                                    </Button>
                                }
                                if(CurrentStep != 5)
                                {
                                    <Button Type="@AntDesign.ButtonType.Primary" Size="@AntDesign.ButtonSize.Large" Shape="@ButtonShape.Round" OnClick="OnNextButtonClick">
                                        <ChildContent>
                                            <span style="font-size: 18px; margin-left: 0px;">Next</span>
                                            <Icon Type="right" Theme="outline"/>
                                        </ChildContent>
                                    </Button>
                                }
                                if(CurrentStep == 5)
                                {
                                    <Button HtmlType="submit" Size="@AntDesign.ButtonSize.Large" Shape="@ButtonShape.Round">
                                        <ChildContent>
                                            <span style="font-size: 18px; margin-left: 0px;">Submit</span>
                                            <Icon Type="right" Theme="outline"/>
                                        </ChildContent>
                                    </Button>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</RadzenTemplateForm>

@code{
    string strExtension1Class { get; set; } = "moh-disable-div";
    string strExtension2Class { get; set; } = "moh-disable-div";
    string strExtension3Class { get; set; } = "moh-disable-div";
    string strExtension4Class { get; set; } = "moh-disable-div";
    string strExtension5Class { get; set; } = "moh-disable-div";

    private Dictionary<string, int> responsiveColumn = new Dictionary<string, int> {
        { "xxl", 2 },
        { "xl", 2},
        { "lg", 2},
        { "md", 1},
        { "sm", 1},
        { "xs", 1}
    };
    void CheckExtension1CB()
    {
        if (Item.Extension1.IsEnabled)
        {
            strExtension1Class = "";
        }
        else
        {
            strExtension1Class = "moh-disable-div";
        }
    }
    void CheckExtension2CB()
    {
        if (Item.Extension2.IsEnabled)
        {
            strExtension2Class = "";
        }
        else
        {
            strExtension2Class = "moh-disable-div";
        }
    }
    void CheckExtension3CB()
    {
        if (Item.Extension3.IsEnabled)
        {
            strExtension3Class = "";
        }
        else
        {
            strExtension3Class = "moh-disable-div";
        }
    }
    void CheckExtension4CB()
    {
        if (Item.Extension4.IsEnabled)
        {
            strExtension4Class = "";
        }
        else
        {
            strExtension4Class = "moh-disable-div";
        }
    }
    void CheckExtension5CB()
    {
        if (Item.Extension5.IsEnabled)
        {
            strExtension5Class = "";
        }
        else
        {
            strExtension5Class = "moh-disable-div";
        }
    }
}