@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.ChemicalInjections

<div class="row">
    <div class="col">
        <RadzenButton Click="@ReloadAsync" Text="Refresh" Icon="refresh" ButtonStyle="ButtonStyle.Light" Style="margin-bottom: 20px;" Visible="@ShowRefreshButton" />
        <RadzenDataGrid @ref="grid" IsLoading="@isLoading" Count="@Count" Data="@items" LoadData="@LoadDataAsync" 
            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowSorting="true" AllowFiltering="false" AllowPaging="true" 
            PageSize="10" PagerHorizontalAlign="HorizontalAlign.Center" TItem="DailyCiNalco" 
            ColumnWidth="200px" AllowColumnResize="true" ShowPagingSummary="true" 
            AllowMultiColumnSorting="true" ShowMultiColumnSortingIndex="true"
            PagerAlwaysVisible="@PagerAlwaysVisible" CellContextMenu="@OnCellContextMenu">
            <EmptyTemplate>                
                <div class="row" @oncontextmenu=@(args => OnCellContextMenu(args)) @oncontextmenu:preventDefault="true">
                    <a>No records to display.</a>
                </div>                    
            </EmptyTemplate>
            <Columns>
                <RadzenDataGridColumn TItem="DailyCiNalco" Property="YesterdayLevel" Title="Yesterday's Level (2400 hrs)" />
                <RadzenDataGridColumn TItem="DailyCiNalco" Property="TodayLevel" Title="Today's Level (2400 hrs)" />
                <RadzenDataGridColumn TItem="DailyCiNalco" Property="LevelDrop" Title="Level Drop" />
                <RadzenDataGridColumn TItem="DailyCiNalco" Property="ActualConsumption" Title="Actual Consumption" />
                <RadzenDataGridColumn TItem="DailyCiNalco" Property="DailyTargetRate" Title="Daily Target Rate" />
                <RadzenDataGridColumn TItem="DailyCiNalco" Property="WellInjectionTarget" Title="Well Injection Target" />
                <RadzenDataGridColumn TItem="DailyCiNalco" Property="WellActualInjection" Title="Well Actual Injection" />
                <RadzenDataGridColumn TItem="DailyCiNalco" Property="TrunkLineInjectionTarget" Title="Trunk Line Injection Target" />
                <RadzenDataGridColumn TItem="DailyCiNalco" Property="TrunkLineActualInjection" Title="Trunk Line Actual Target" />
                <RadzenDataGridColumn TItem="DailyCiNalco" Property="LWPInjectionTarget" Title="LWP Injection Target" />
                <RadzenDataGridColumn TItem="DailyCiNalco" Property="LWPActualInjection" Title="LWP Actual Target" />
                <RadzenDataGridColumn TItem="DailyCiNalco" Property="ToteTank" Title="Tote Tank" />
                <RadzenDataGridColumn TItem="DailyCiNalco" Property="Drum" Title="Drums" />
                <RadzenDataGridColumn TItem="DailyCiNalco" Property="Date" Title="Date" SortOrder="SortOrder.Descending" Visible="@ShowDateColumn">
                    <Template Context="item">
                        @String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:d}", item.DateUI)
                    </Template>
                </RadzenDataGridColumn>
                @if (this.customColumns is not null)
                {
                    foreach(var customColumn in this.customColumns)
                    {
                        <RadzenDataGridColumn Context="item" TItem="DailyCiNalco" Property="@customColumn.PropertyName" Title="@customColumn.Title" Type="@this.ExtraColumnService.GetType(customColumn.Type)" Sortable=false Filterable=false>
                            <Template Context="item">
                                @((MarkupString)this.ExtraColumnService.GetStringValue(customColumn, item.ExtraDictionary))
                            </Template>
                        </RadzenDataGridColumn>
                    }
                }
            </Columns>

        </RadzenDataGrid>  
    </div>
</div>

@code
{
    private void OnCellContextMenu(MouseEventArgs args)
    {
        bool hasRowData = (args as DataGridCellMouseEventArgs<DailyCiNalco>) != null;
        ContextMenuService.Open(args, ds =>
           @<RadzenMenu Click="@(e => OnMenuItemClickAsync(args as DataGridCellMouseEventArgs<DailyCiNalco>, e))">
                <RadzenMenuItem Text="Add ..." Value="0" Icon="note_add"/>
                <RadzenMenuItem Text="Edit ..." Value="1" Icon="description" Visible=@hasRowData/>
                <RadzenMenuItem Text="Delete ..." Value="2" Icon="delete" Visible=@hasRowData/>
                <RadzenMenuItem Text="View ..." Value="3" Icon="launch" Visible=@hasRowData/>
                <RadzenMenuItem Text="Refresh" Value="4" Icon="refresh"/>
            </RadzenMenu>
    );  
    }
    private async Task OnMenuItemClickAsync(DataGridCellMouseEventArgs<DailyCiNalco> args, MenuItemEventArgs e)
    {
        int i = (int)e.Value;
        if (i == 0)
        {
            await ShowDialogAsync(new DailyCiNalco() { DateUI = DateTimeOffset.Now.Date }, i, "Add");
        }
        else if (i == 1)
        {
            await ShowDialogAsync(args.Data, i, "Edit");
        }
        else if (i == 2)
        {
            await ShowDialogAsync(args.Data, i, "Delete");
        }
        else if (i == 3)
        {
            await ShowDialogAsync(args.Data, i, "View");
        }
        else if (i == 4)
        {
            await grid.Reload();      
        }
    }
}