@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.ChemicalInjections
@using JXNippon.CentralizedDatabaseSystem.Domain.Extensions

<div class="row">
    <div class="col">
        <RadzenButton Click="@ReloadAsync" Text="Refresh" Icon="refresh" ButtonStyle="ButtonStyle.Light" Style="margin-bottom: 20px;" Visible="@ShowRefreshButton" />
        <RadzenDataGrid @ref="grid" IsLoading="@isLoading" Count="@Count" Data="@items" LoadData="@LoadDataAsync" 
            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowSorting="true" AllowFiltering="false" AllowPaging="true" 
            PageSize="10" PagerHorizontalAlign="HorizontalAlign.Center" TItem="DailyInowacInjection" 
            ColumnWidth="200px" AllowColumnResize="true" ShowPagingSummary="true" 
            AllowMultiColumnSorting="true" ShowMultiColumnSortingIndex="true"
            PagerAlwaysVisible="@PagerAlwaysVisible" CellContextMenu="@OnCellContextMenu">
            <EmptyTemplate>                
                <div class="row" @oncontextmenu=@(args => OnCellContextMenu(args)) @oncontextmenu:preventDefault="true">
                    <a>No records to display.</a>
                </div>                    
            </EmptyTemplate>
            <Columns>
                <RadzenDataGridColumn TItem="DailyInowacInjection" Property="V2010" Title="V-2010" />
                <RadzenDataGridColumn TItem="DailyInowacInjection" Property="TCALP" Title="TC-A LP" />
                <RadzenDataGridColumn TItem="DailyInowacInjection" Property="TCAHP" Title="TC-A HP" />
                <RadzenDataGridColumn TItem="DailyInowacInjection" Property="TCBLP" Title="TC-B LP" />
                <RadzenDataGridColumn TItem="DailyInowacInjection" Property="TCBHP" Title="TC-B HP" />
                <RadzenDataGridColumn TItem="DailyInowacInjection" Property="Target" Title="Target" />
                <RadzenDataGridColumn TItem="DailyInowacInjection" Property="ActualInjection" Title="Actual Injection" />
                <RadzenDataGridColumn TItem="DailyInowacInjection" Property="TCA_DE_PH" Title="TC-A DE pH" />
                <RadzenDataGridColumn TItem="DailyInowacInjection" Property="TCA_DE_FE" Title="TC-A DE Fe" />
                <RadzenDataGridColumn TItem="DailyInowacInjection" Property="TCA_NDE_PH" Title="TC-A NDE pH" />
                <RadzenDataGridColumn TItem="DailyInowacInjection" Property="TCA_NDE_FE" Title="TC-A NDE Fe" />
                <RadzenDataGridColumn TItem="DailyInowacInjection" Property="TCA_V2400_PH" Title="TC-A V-2400 pH" />
                <RadzenDataGridColumn TItem="DailyInowacInjection" Property="TCA_V2400_FE" Title="TC-A V-2400 Fe" />
                <RadzenDataGridColumn TItem="DailyInowacInjection" Property="TCA_V2430_PH" Title="TC-A V-2430 pH" />
                <RadzenDataGridColumn TItem="DailyInowacInjection" Property="TCA_V2430_FE" Title="TC-A V-2430 Fe" />
                <RadzenDataGridColumn TItem="DailyInowacInjection" Property="TCA_TCALP_PH" Title="TC-A LP pH" />
                <RadzenDataGridColumn TItem="DailyInowacInjection" Property="TCA_TCALP_FE" Title="TC-A LP Fe" />
                <RadzenDataGridColumn TItem="DailyInowacInjection" Property="TCA_V2200_PH" Title="TC-A V-2200 pH" />
                <RadzenDataGridColumn TItem="DailyInowacInjection" Property="TCA_V2200_FE" Title="TC-A V-2200 Fe" />
                <RadzenDataGridColumn TItem="DailyInowacInjection" Property="TCB_DE_PH" Title="TC-B DE pH" />
                <RadzenDataGridColumn TItem="DailyInowacInjection" Property="TCB_DE_FE" Title="TC-B DE Fe" />
                <RadzenDataGridColumn TItem="DailyInowacInjection" Property="TCB_NDE_PH" Title="TC-B NDE pH" />
                <RadzenDataGridColumn TItem="DailyInowacInjection" Property="TCB_NDE_FE" Title="TC-B NDE Fe" />
                <RadzenDataGridColumn TItem="DailyInowacInjection" Property="TCB_V2500_PH" Title="TC-B V-2500 pH" />
                <RadzenDataGridColumn TItem="DailyInowacInjection" Property="TCB_V2500_FE" Title="TC-B V-2500 Fe" />
                <RadzenDataGridColumn TItem="DailyInowacInjection" Property="TCB_V2530_PH" Title="TC-B V-2530 pH" />
                <RadzenDataGridColumn TItem="DailyInowacInjection" Property="TCB_V2530_FE" Title="TC-B V-2530 Fe" />
                <RadzenDataGridColumn TItem="DailyInowacInjection" Property="TCB_TCBLP_PH" Title="TC-B LP pH" />
                <RadzenDataGridColumn TItem="DailyInowacInjection" Property="TCB_TCBLP_FE" Title="TC-B LP Fe" />
                <RadzenDataGridColumn TItem="DailyInowacInjection" Property="LevelDrop" Title="Level Drop" />
                <RadzenDataGridColumn TItem="DailyInowacInjection" Property="Stock" Title="Stock (Drums)" />
                <RadzenDataGridColumn TItem="DailyInowacInjection" Property="Date" Title="Date" SortOrder="SortOrder.Descending" Visible="@ShowDateColumn">
                    <Template Context="item">
                        @String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:d}", item.DateUI)
                    </Template>
                </RadzenDataGridColumn>
                @if (this.customColumns is not null)
                {
                    foreach(var customColumn in this.customColumns)
                    {
                        <RadzenDataGridColumn Context="item" TItem="DailyInowacInjection" Property="@customColumn.PropertyName" Title="@customColumn.Title" Type="@this.ExtraColumnService.GetType(customColumn.Type)" Sortable=false Filterable=false>
                            <Template Context="item">
                                @((MarkupString)this.ExtraColumnService.GetStringValue(customColumn, item.AsIExtras().ExtraDictionary))
                            </Template>
                        </RadzenDataGridColumn>
                    }
                }
            </Columns>

        </RadzenDataGrid>  
    </div>
</div>

@code
{
    private void OnCellContextMenu(MouseEventArgs args)
    {
        bool hasRowData = (args as DataGridCellMouseEventArgs<DailyInowacInjection>) != null;
        ContextMenuService.Open(args, ds =>
           @<RadzenMenu Click="@(e => OnMenuItemClickAsync(args as DataGridCellMouseEventArgs<DailyInowacInjection>, e))">
                <RadzenMenuItem Text="Add ..." Value="0" Icon="note_add"/>
                <RadzenMenuItem Text="Edit ..." Value="1" Icon="description" Visible=@hasRowData/>
                <RadzenMenuItem Text="Delete ..." Value="2" Icon="delete" Visible=@hasRowData/>
                <RadzenMenuItem Text="View ..." Value="3" Icon="launch" Visible=@hasRowData/>
                <RadzenMenuItem Text="Refresh" Value="4" Icon="refresh"/>
            </RadzenMenu>
    );  
    }
    private async Task OnMenuItemClickAsync(DataGridCellMouseEventArgs<DailyInowacInjection> args, MenuItemEventArgs e)
    {
        int i = (int)e.Value;
        if (i == 0)
        {
            await ShowDialogAsync(new DailyInowacInjection() { DateUI = DateTimeOffset.Now.Date }, i, "Add");
        }
        else if (i == 1)
        {
            await ShowDialogAsync(args.Data, i, "Edit");
        }
        else if (i == 2)
        {
            await ShowDialogAsync(args.Data, i, "Delete");
        }
        else if (i == 3)
        {
            await ShowDialogAsync(args.Data, i, "View");
        }
        else if (i == 4)
        {
            await grid.Reload();      
        }
    }
}