@using JXNippon.CentralizedDatabaseSystem.Shared.Description
@using ManagementOfChangeODataService.Affra.Service.ManagementOfChange.Domain.ManagementOfChanges
@using ManagementOfChangeODataService.Affra.Service.ManagementOfChange.Domain.OperationInstructions
 
<div class="row">
    <div class="col">
        @if (!isLoading && count == 0)
        {       
            <div class="min-vh-56 d-flex align-items-center justify-content-center gap-3">
                <GenericDescription Height="300px" ImageFile="@ImageFile.NoData" Description="No result found.">
                </GenericDescription>
            </div>
        }
        <AntList Class="py-3 px-3" Loading=isLoading @ref="_operationInstructionList" DataSource="@operationInstructions" TItem="OperationInstructionRecord" Grid=grid>
            <ChildContent>
                <ListItem>
                    <div onclick=@(() => ShowDialogAsync(context))>
                        <Card Style="min-height:200px;" Hoverable="true" >
                            <TitleTemplate>
                               <div class="d-flex flex-row align-items-center">
                                    <div>
                                        <span class="mb-0 title" href="#"><i class="oi oi-spreadsheet"></i> @(context.OperationInstructionNo)</span>
                                    </div>
                               </div>
                            </TitleTemplate>
                            <Body>
                               <div class="d-flex flex-row align-items-center">
                                    <div class="col-9">
                                        <div>Field : @(context.OperationInstructionField.ToString())</div>
                                        <div>Estimated Duration : @(context.EstimatedDuration)</div>
                                    </div>
                                    <div class="col-3 text-center">
                                        <Progress Format=_fortmat1 Type=ProgressType.Circle Percent=@(GetPercentage((int)Enum.Parse(typeof(OperationInstructionCurrentStep), context.OperationInstructionCurrentStep.ToString()))) Size=ProgressSize.Small />
                                    </div>
                                </div>
                                <hr style="border: none; background-color: rgba(0,0,0,.08); height: 1px; margin: 1rem 0;" />
                                <div class="row">
                                    <div class="col-md-8 text-truncate card-time">
                                        <b>@string.Format(System.Globalization.CultureInfo.CurrentCulture, "Created Date : {0:d}", context.CreatedDateTime.ToLocalTime())</b>
                                        <b>@string.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:t}", context.CreatedDateTime.ToLocalTime())</b>
                                    </div>
                                    <div class="col-md-8 text-truncate card-time">
                                        <b>@string.Format(System.Globalization.CultureInfo.CurrentCulture, "Expiry Date : {0:d}", context.CreatedDateTime.AddDays(context.EstimatedDuration).ToLocalTime())</b>
                                        <b>@string.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:t}", context.CreatedDateTime.AddDays(context.EstimatedDuration).ToLocalTime())</b>
                                    </div>
                                    <div class="col-md-4 text-right">
                                        @if (context.OperationInstructionStatus == OperationInstructionStatus.Completed)
                                        {
                                            <RadzenBadge BadgeStyle="BadgeStyle.Success" Text="@(context.OperationInstructionStatus.ToString())"/>
                                        }
                                        else if (context.OperationInstructionStatus == OperationInstructionStatus.Pending)
                                        {
                                            <RadzenBadge BadgeStyle="BadgeStyle.Warning" Text="@(context.OperationInstructionStatus.ToString())"/>
                                        }
                                        else
                                        {
                                            <RadzenBadge BadgeStyle="BadgeStyle.Info" Text="@(context.OperationInstructionStatus.ToString())"/>
                                        }
                                    
                                    </div>
                                </div>
                            </Body>
                            <Extra>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </Extra>
                        </Card>
                    </div> 
                </ListItem>      
            </ChildContent>
            <LoadMore>
                @if (!initLoading && !isLoading && currentCount < count)
                {
                    <div class="loadmore-btn-content">
                        <Button Type="primary" OnClick="OnLoadMoreAsync">loading more</Button>
                    </div>
                }
            </LoadMore>
        </AntList>
    </div>
</div>