@using DataExtractorODataService.Affra.Service.DataExtractor.Domain.DataFiles

<div class="row py-2">
    <div class="col">
        <RadzenButton Click="@ReloadAsync" Text="Refresh" Icon="refresh" ButtonStyle="ButtonStyle.Light" Style="margin-bottom: 20px;"/>
        <RadzenCard>
            @if (count == 0 && !isLoading)
            {  
                <div>No records to display.</div>
            }
            <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" Visible="@isLoading"/>
            <RadzenDataList Visible="@isNotLoading" WrapItems="true" @ref="_dataList" Count="@count" LoadData="@LoadDataAsync" AllowPaging="true" Data="@files" TItem="DataFile" PageSize="8" PagerHorizontalAlign="HorizontalAlign.Center" ShowPagingSummary="true" PagerAlwaysVisible="true">
                <Template Context="file">
                    <RadzenCard class="dataFileCard">
                        <div class="d-flex flex-row align-items-center">
                                <div>
                                <h4 class="mb-0 title" href="#"><i class="oi oi-spreadsheet"></i> @(file.FileName)</h4>
                                <div>Folder : @file.FolderName</div>
                                <div style="font-size: .8em">Attempts: @(file.NumberOfAttempts)</div>
                            </div>
                        </div>
                        <hr style="border: none; background-color: rgba(0,0,0,.08); height: 1px; margin: 1rem 0;" />
                        <div class="row">
                            <div class="col-md-8 text-truncate card-time">
                                <b>@String.Format(System.Globalization.CultureInfo.CurrentCulture, "Last Modified : {0:d}", file.LastModifiedDateTime.ToLocalTime())</b>
                            </div>
                            <div class="col-md-8 text-truncate card-time">
                                <b>@String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:t}", file.LastModifiedDateTime.ToLocalTime())</b>
                            </div>
                            <div class="col-md-4 text-right">
                                @if (file.ProcessStatus == FileProcessStatus.Completed)
                                {
                                    <RadzenBadge BadgeStyle="BadgeStyle.Success" Text="@(file.ProcessStatus.ToString())"/>
                                }
                                else if (file.ProcessStatus == FileProcessStatus.Failed)
                                {
                                    <RadzenBadge BadgeStyle="BadgeStyle.Danger" Text="@(file.ProcessStatus.ToString())"/>
                                }
                                else if (file.ProcessStatus == FileProcessStatus.Pending)
                                {
                                    <RadzenBadge BadgeStyle="BadgeStyle.Light" Text="@(file.ProcessStatus.ToString())"/>
                                }
                                else
                                {
                                    <RadzenBadge BadgeStyle="BadgeStyle.Info" Text="@(file.ProcessStatus.ToString())"/>
                                }
                                    
                            </div>
                        </div>
                    </RadzenCard>
                </Template>                    
            </RadzenDataList>
        </RadzenCard>
    </div>
</div>