@using JXNippon.CentralizedDatabaseSystem.Shared.Notifications
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Security.Claims

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        @{
            var avatarColor = this.GlobalDataSource.User?.UserPersonalization?.AvatarColor;
            var avatarIcon = this.GlobalDataSource.User?.UserPersonalization?.AvatarId > 0
                ? $"avatar\\{this.GlobalDataSource.User?.UserPersonalization?.AvatarId}.png"
                : string.Empty;   
            <Space>
                <SpaceItem>
                    <PersonalMessageIcon/>
                </SpaceItem>
                <SpaceItem>
                    <RadzenProfileMenu Style="line-height: 2rem;">
                        <Template>                     
                            <Avatar Src=@avatarIcon Style=@($"vertical-align: middle; background-color: {avatarColor};") Size="large">
                                <span style="font-size: 16px;">@this._userService.GetAvatarName(context.User.Identity.Name)</span>
                            </Avatar>
                        </Template>
                        <ChildContent>
                            <Card Size="large" Style="min-width:380px;">
                                <TitleTemplate>

                                </TitleTemplate>
                                <Extra>
                                    <a @onclick="BeginLogout"><span class="toprow-nav-title">Logout</span></a>
                                </Extra>
                                <Body>
                                    <div class="row min-w-100">
                                        <div class="col"  @onclick=ShowDialogAsync>
                                             <Avatar Src=@avatarIcon Style=@($"vertical-align: middle; background-color: {avatarColor};") Size="64">
                                                <span style="font-size: 32px;">@this._userService.GetAvatarName(context.User.Identity.Name)</span>
                                             </Avatar>
                                        </div>
                                        <div class="col">
                                            <div class="row">
                                                <h3 style="font-weight:bold; word-break:break-word;">@context.User.Identity.Name</h3>
                                            </div>
                                            <div class="row">
                                                <span style="word-break:break-word;">@this._userService.GetEmail(@context.User)</span>
                                            </div>
                                        </div>
                                    </div> 
                                </Body>
                            </Card>
                        </ChildContent>
                    </RadzenProfileMenu>
                </SpaceItem>
            </Space>  
        }

    </Authorized>
</AuthorizeView>