<div class="top-row navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand @NavItemLabelCssClass" href=""></a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-dashboard" aria-hidden="true"></span>
                <span class="@NavItemLabelCssClass">Home</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="filemanagement" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span>
                <span class="@NavItemLabelCssClass">File Management</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="DailyProductions" Match="NavLinkMatch.All">
                <span class="oi oi-task" aria-hidden="true"></span>
                <span class="@NavItemLabelCssClass">Daily Production</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="MajorEquipmentStatus" Match="NavLinkMatch.All">
                <span class="oi oi-wrench" aria-hidden="true"></span>
                <span class="@NavItemLabelCssClass">Major Equipment Status</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="WellHeadAndSeparationSystem" Match="NavLinkMatch.All">
                <span class="oi oi-collapse-down" aria-hidden="true"></span>
                <span class="@NavItemLabelCssClass">Wellhead & Separation</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PowerGenerationAndDistributionManagement" Match="NavLinkMatch.All">
                <span class="oi oi-lightbulb" aria-hidden="true"></span>
                <span class="@NavItemLabelCssClass">Power Generation</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ProducedWaterTreatmentSystemManagement" Match="NavLinkMatch.All">
                <span class="oi oi-droplet" aria-hidden="true"></span>
                <span class="@NavItemLabelCssClass">Water Treatment</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CommunicationSystem" Match="NavLinkMatch.All">
                <span class="oi oi-dial" aria-hidden="true"></span>
                <span class="@NavItemLabelCssClass">Communication System</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="LWPActivity" Match="NavLinkMatch.All">
                <span class="oi oi-timer" aria-hidden="true"></span>
                <span class="@NavItemLabelCssClass">LWP Activities</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Logistic" Match="NavLinkMatch.All">
                <span class="oi oi-compass" aria-hidden="true"></span>
                <span class="@NavItemLabelCssClass">Logistic</span>
            </NavLink>
        </div>
    </nav>
</div>

@code {
    [CascadingParameter] private AppState AppState { get; set; }
    private string? NavItemLabelCssClass => AppState.CollapseNavMenu ? "sideBarItemLabelHide" : "sideBarItemLabelShow";

    private void ToggleNavMenu()
    {
        AppState.CollapseNavMenu = !AppState.CollapseNavMenu;
    }
}
