<div class="top-row navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand @NavItemLabelCssClass" href=""></a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <Icon Class="icon las la-home" Content="Home" HideText="@AppState.CollapseNavMenu"></Icon>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="filemanagement" Match="NavLinkMatch.All">
                <Icon Class="icon las la-file" Content="File Management" HideText="@AppState.CollapseNavMenu"></Icon>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="OIMSummary" Match="NavLinkMatch.All">
                <Icon Class="icon las la-clipboard-list" Content="OIM Summary" HideText="@AppState.CollapseNavMenu"></Icon>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="HealthSafetyAndEnvironment" Match="NavLinkMatch.All">
                <Icon Class="icon las la-hard-hat" Content="Health Safety & Environment" HideText="@AppState.CollapseNavMenu"></Icon>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="DailyProductions" Match="NavLinkMatch.All">
                <Icon Class="icon las la-box" Content="Daily Production" HideText="@AppState.CollapseNavMenu"></Icon>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="MajorEquipmentStatus" Match="NavLinkMatch.All">
                <Icon Class="icon las la-wrench" Content="Major Equipment Status" HideText="@AppState.CollapseNavMenu"></Icon>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ChemicalInjection" Match="NavLinkMatch.All">
                <Icon Class="icon las la-syringe" Content="Chemical Injection" HideText="@AppState.CollapseNavMenu"></Icon>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="WellHeadAndSeparationSystem" Match="NavLinkMatch.All">
                <Icon Class="icon las la-random" Content="Wellhead & Separation" HideText="@AppState.CollapseNavMenu"></Icon>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="WellHead" Match="NavLinkMatch.All">
                <Icon Class="icon las la-filter" Content="Wellhead" HideText="@AppState.CollapseNavMenu"></Icon>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="RollsRoyceGasEngineAndKawasakiCompressionSystem" Match="NavLinkMatch.All">
                <Icon Class="icon las la-cog" Content="Engine & Compression" HideText="@AppState.CollapseNavMenu"></Icon>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="GlycolRegenerationSystem" Match="NavLinkMatch.All">
                <Icon Class="icon las la-bolt" Content="Glycol Regeneration System" HideText="@AppState.CollapseNavMenu"></Icon>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="GasAndCondensateExportSamplerAndExportLine" Match="NavLinkMatch.All">
                <Icon Class="icon las la-gas-pump" Content="Gas & Condensate & Export" HideText="@AppState.CollapseNavMenu"></Icon>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <Icon Class="icon las la-fan" Content="Cooling Medium System" HideText="@AppState.CollapseNavMenu"></Icon>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PowerGenerationAndDistributionManagement" Match="NavLinkMatch.All">
                <Icon Class="icon las la-car-battery" Content="Power Generation" HideText="@AppState.CollapseNavMenu"></Icon>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <Icon Class="icon las la-shapes" Content="Living Quarter, Utilities & Others" HideText="@AppState.CollapseNavMenu"></Icon>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ProducedWaterTreatmentSystemManagement" Match="NavLinkMatch.All">
                <Icon Class="icon las la-tint" Content="Water Treatment" HideText="@AppState.CollapseNavMenu"></Icon>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <Icon Class="icon las la-trash-alt" Content="Sand Disposal" HideText="@AppState.CollapseNavMenu"></Icon>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CommunicationSystem" Match="NavLinkMatch.All">
                <Icon Class="icon las la-phone-volume" Content="Communication System" HideText="@AppState.CollapseNavMenu"></Icon>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="LWPActivity" Match="NavLinkMatch.All">
                <Icon Class="icon las la-database" Content="LWP Activities" HideText="@AppState.CollapseNavMenu"></Icon>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <Icon Class="icon las la-user-cog" Content="Vendor Activities" HideText="@AppState.CollapseNavMenu"></Icon>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Logistic" Match="NavLinkMatch.All">
                <Icon Class="icon las la-truck" Content="Logistic" HideText="@AppState.CollapseNavMenu"></Icon>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <Icon Class="icon las la-list-alt" Content="Maximo Work Order" HideText="@AppState.CollapseNavMenu"></Icon>
            </NavLink>
        </div>
    </nav>
</div>

@code {
    [CascadingParameter] private AppState AppState { get; set; }

    private string? NavItemLabelCssClass => AppState.CollapseNavMenu ? "sideBarItemLabelHide" : "sideBarItemLabelShow";

    private void ToggleNavMenu()
    {
        AppState.CollapseNavMenu = !AppState.CollapseNavMenu;
    }
}
