<div class="top-row navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand @NavItemLabelCssClass" href=""></a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <Icon Class="icon oi oi-dashboard" Content="Home" HideText="@AppState.CollapseNavMenu"></Icon>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="filemanagement" Match="NavLinkMatch.All">
                <Icon Class="icon oi oi-list-rich" Content="File Management" HideText="@AppState.CollapseNavMenu"></Icon>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="DailyProductions" Match="NavLinkMatch.All">
                <Icon Class="icon oi oi-task" Content="Daily Production" HideText="@AppState.CollapseNavMenu"></Icon>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="MajorEquipmentStatus" Match="NavLinkMatch.All">
                <Icon Class="icon oi oi-wrench" Content="Major Equipment Status" HideText="@AppState.CollapseNavMenu"></Icon>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="WellHeadAndSeparationSystem" Match="NavLinkMatch.All">
                <Icon Class="icon oi oi-collapse-down" Content="Wellhead & Separation" HideText="@AppState.CollapseNavMenu"></Icon>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="WellHead" Match="NavLinkMatch.All">
                <Icon Class="icon oi oi-collapse-down" Content="Wellhead" HideText="@AppState.CollapseNavMenu"></Icon>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="RollsRoyceGasEngineAndKawasakiCompressionSystem" Match="NavLinkMatch.All">
                <Icon Class="icon oi oi-cog" Content="Engine & Compression System" HideText="@AppState.CollapseNavMenu"></Icon>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PowerGenerationAndDistributionManagement" Match="NavLinkMatch.All">
                <Icon Class="icon oi oi-lightbulb" Content="Power Generation" HideText="@AppState.CollapseNavMenu"></Icon>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ProducedWaterTreatmentSystemManagement" Match="NavLinkMatch.All">
                <Icon Class="icon oi oi-droplet" Content="Water Treatment" HideText="@AppState.CollapseNavMenu"></Icon>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CommunicationSystem" Match="NavLinkMatch.All">
                <Icon Class="icon oi oi-dial" Content="Communication System" HideText="@AppState.CollapseNavMenu"></Icon>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="LWPActivity" Match="NavLinkMatch.All">
                <Icon Class="icon oi oi-timer" Content="LWP Activities" HideText="@AppState.CollapseNavMenu"></Icon>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Logistic" Match="NavLinkMatch.All">
                <Icon Class="icon oi oi-compass" Content="Logistic" HideText="@AppState.CollapseNavMenu"></Icon>
            </NavLink>
        </div>
    </nav>
</div>

@code {
    [CascadingParameter] private AppState AppState { get; set; }

    private string? NavItemLabelCssClass => AppState.CollapseNavMenu ? "sideBarItemLabelHide" : "sideBarItemLabelShow";

    private void ToggleNavMenu()
    {
        AppState.CollapseNavMenu = !AppState.CollapseNavMenu;
    }
}
