@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.DailyProductions

<div class="row">
    <div class="col">
        <RadzenButton Click="@ReloadAsync" Text="Refresh" Icon="refresh" ButtonStyle="ButtonStyle.Light" Style="margin-bottom: 20px;" Visible="@ShowRefreshButton" />
        <RadzenDataGrid @ref="grid" IsLoading="@isLoading" Count="@Count" Data="@items" LoadData="@LoadDataAsync" 
            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowSorting="true" AllowFiltering="false" AllowPaging="true" 
            PageSize="10" PagerHorizontalAlign="HorizontalAlign.Center" TItem="DailyHIPProduction" 
            ColumnWidth="200px" AllowColumnResize="true" ShowPagingSummary="true" 
            AllowMultiColumnSorting="true" ShowMultiColumnSortingIndex="true"
            PagerAlwaysVisible="@PagerAlwaysVisible">

            <Columns>
                <RadzenDataGridColumn TItem="DailyHIPProduction" Property="HIPCumulativeGasExport" Title="HIP Cumulative Gas Export (MMscf)"/>
                <RadzenDataGridColumn TItem="DailyHIPProduction" Property="HIPCumulativeGasExportRemark" Title="HIP Cumulative Gas Export Remark"/>
                <RadzenDataGridColumn TItem="DailyHIPProduction" Property="HIPCumulativeCondensateExport" Title="HIP Cumulative Condensate Export (bbl)"/>
                <RadzenDataGridColumn TItem="DailyHIPProduction" Property="HIPCumulativeCondensateExportRemark" Title="HIP Cumulative Condensate Export Remark"/>
                <RadzenDataGridColumn TItem="DailyHIPProduction" Property="HIPCumulativeWaterProduction" Title="HIP Cumulative Water Production (bbl)"/>
                <RadzenDataGridColumn TItem="DailyHIPProduction" Property="HIPCumulativeWaterProductionRemark" Title="HIP Cumulative Water Production Remark"/>
                <RadzenDataGridColumn TItem="DailyHIPProduction" Property="FuelGas" Title="Fuel Gas (MMscf)"/>
                <RadzenDataGridColumn TItem="DailyHIPProduction" Property="FuelGasRemark" Title="Fuel Gas Remark"/>
                <RadzenDataGridColumn TItem="DailyHIPProduction" Property="HPVent" Title="HP Vent (MMscf)"/>
                <RadzenDataGridColumn TItem="DailyHIPProduction" Property="HPVentRemark" Title="HP Vent Remark"/>
                <RadzenDataGridColumn TItem="DailyHIPProduction" Property="LPVent" Title="LP Vent (MMscf)"/>
                <RadzenDataGridColumn TItem="DailyHIPProduction" Property="LPVentRemark" Title="LP Vent Remark"/>
                <RadzenDataGridColumn TItem="DailyHIPProduction" Property="WaterContentInGas" Title="Water Content in Gas (lb/MMscf)"/>
                <RadzenDataGridColumn TItem="DailyHIPProduction" Property="WaterContentInGasRemark" Title="Water Content in Gas Remark"/>
                <RadzenDataGridColumn TItem="DailyHIPProduction" Property="CondensateWaterCutMeter" Title="Condensate Water Cut Meter (%) (PPM)"/>
                <RadzenDataGridColumn TItem="DailyHIPProduction" Property="CondensateWaterCutMeterRemark" Title="Condensate Water Cut Meter Remark"/>
                <RadzenDataGridColumn TItem="DailyHIPProduction" Property="OilInWaterReading" Title="Oil In Water Reading (PPM)"/>
                <RadzenDataGridColumn TItem="DailyHIPProduction" Property="OilInWaterReadingRemark" Title="Oil In Water Reading Remark"/>
                <RadzenDataGridColumn TItem="DailyHIPProduction" Property="Date" Title="Date" SortOrder="SortOrder.Descending" Visible="@ShowDateColumn">
                    <Template Context="item">
                        @String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:d}", item.Date.ToLocalTime())
                    </Template>
                </RadzenDataGridColumn>
            </Columns>

        </RadzenDataGrid>  
    </div>
</div>