@using JXNippon.CentralizedDatabaseSystem.Models
@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.Deferments

<RadzenTemplateForm Data="@Item" Submit="@( async (DefermentDetail args) => { await SubmitAsync(args); })">
    <div class="row">
        <div class="col">
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Field" />
                </div>
                <div class="col-8">
                    <RadzenTextBox Name="DefermentDetailField" class="w-100" Placeholder="Enter field..." @bind-Value="@Item.Field" Disabled=@isViewing></RadzenTextBox>
                    <RadzenRequiredValidator Component="DefermentDetailField" Text="Field is required" Popup=false />
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Facility / Platform" />
                </div>
                <div class="col-8">
                    <RadzenTextBox Name="DefermentDetailFacility" class="w-100" Placeholder="Enter facility / platform..." @bind-Value="@Item.Facility_Platform" Disabled=@isViewing></RadzenTextBox>
                    <RadzenRequiredValidator Component="DefermentDetailFacility" Text="Facility / Platform is required" Popup=false />
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Downtime Category" />
                </div>
                <div class="col-8">
                    <RadzenDropDown Data="@downtimeCategorydict.Keys" @bind-value="@ddDowntimeCategory" class="w-100" TValue="string" Placeholder="Select downtime category..." Disabled=@isViewing></RadzenDropDown>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Downtime Type" />
                </div>
                <div class="col-8">
                    <RadzenDropDown Data="@downtimeTypedict.Keys" @bind-value="@ddDowntimeType" class="w-100" TValue="string" Placeholder="Select downtime type..." Disabled=@isViewing></RadzenDropDown>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Primary Cause" />
                </div>
                <div class="col-8">
                    <RadzenDropDown Data="@primaryCausedict.Keys" @bind-value="@ddPrimaryCause" class="w-100" TValue="string" Placeholder="Select primary cause..." Disabled=@isViewing></RadzenDropDown>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Secondary Cause" />
                </div>
                <div class="col-8">
                    <RadzenDropDown Data="@secondaryCausedict.Keys" @bind-value="@ddSecondaryCause" class="w-100" TValue="string" Placeholder="Select secondary cause..." Disabled=@isViewing></RadzenDropDown>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Start Date" />
                </div>
                <div class="col-8">
                    <DatePicker  @bind-Value="Item.StartDateUI" Format="yyyy/MM/dd" Disabled="true" />
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="End Date" />
                </div>
                <div class="col-8">
                    <DatePicker @bind-Value="Item.EndDateUI" Format="yyyy/MM/dd" Disabled="@isViewing" />
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Cumulative Volume (kb)" />
                </div>
                <div class="col-8">
                    <RadzenNumeric Name="CumulativeVolume" class="w-100" @bind-Value="@Item.CumulativeVolume_kb" Disabled=@isViewing
                                   Placeholder="Enter Cumulative Volume (kb) ..."></RadzenNumeric>
                    <RadzenRequiredValidator Component="CumulativeVolume" Text="Cumulative Volume (kb) is required" Popup=false />
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Annualized Volume (kb/d)" />
                </div>
                <div class="col-8">
                    <RadzenNumeric Name="AnnualizedVolume" class="w-100" @bind-Value="@Item.AnnualizedVolume_kb_d" Disabled=@isViewing
                                   Placeholder="Enter Annualized Volume (kb/d) ..."></RadzenNumeric>
                    <RadzenRequiredValidator Component="AnnualizedVolume" Text="Annualized Volume (kb/d) is required" Popup=false />
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Problem Statement / Remark" />
                </div>
                <div class="col-8">
                    <RadzenTextArea Rows="5" Name="ProblemStatementRemark" class="w-100" Placeholder="Enter problem statement / remark..." @bind-Value="@Item.ProblemStatement_Remark" Disabled=@isViewing></RadzenTextArea>
                    <RadzenRequiredValidator Component="ProblemStatementRemark" Text="Problem Statement / Remark is required" Popup=false />
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Way Forward Description" />
                </div>
                <div class="col-8">
                    <RadzenTextArea Rows="5" Name="WayForwardDescription" class="w-100" Placeholder="Enter way forward description..." @bind-Value="@Item.WayForwardDescription" Disabled=@isViewing></RadzenTextArea>
                    <RadzenRequiredValidator Component="WayForwardDescription" Text="Way forward description is required" Popup=false />
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Status" />
                </div>
                 <div class="col-8">
                    <RadzenDropDown Data="@statusdict.Keys" @bind-value="@ddStatus" class=" w-100" TValue="string" Placeholder="Select status..." Disabled=@isViewing></RadzenDropDown>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="HL Capacity" />
                </div>
                <div class="col-8">
                    <RadzenNumeric Name="HLCapacity" class="w-100" @bind-Value="@Item.HLCapacity" Disabled=@isViewing
                                   Placeholder="Enter HL Capacity ..."></RadzenNumeric>
                    <RadzenRequiredValidator Component="HLCapacity" Text="HL Capacity is required" Popup=false />
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="LA Capacity" />
                </div>
                <div class="col-8">
                    <RadzenNumeric Name="LACapacity" class="w-100" @bind-Value="@Item.LACapacity" Disabled=@isViewing
                                   Placeholder="Enter LA Capacity ..."></RadzenNumeric>
                    <RadzenRequiredValidator Component="LACapacity" Text="LA Capacity is required" Popup=false />
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="BU Capacity" />
                </div>
                <div class="col-8">
                    <RadzenNumeric Name="BUCapacity" class="w-100" @bind-Value="@Item.BUCapacity" Disabled=@isViewing
                                   Placeholder="Enter BU Capacity ..."></RadzenNumeric>
                    <RadzenRequiredValidator Component="BUCapacity" Text="BU Capacity is required" Popup=false />
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Planned(P)/ Unplanned(U)" />
                </div>
                <div class="col-8">
                    <RadzenDropDown Data="@planUnplanneddict.Keys" @bind-value="@ddPlannedUnplanned" class="w-100" TValue="string" Placeholder="Select Planned(P)/ Unplanned(U)..." Disabled=@isViewing></RadzenDropDown>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="MMscf/Month" />
                </div>
                <div class="col-8">
                    <RadzenNumeric Name="Month_MMscf" class="w-100" @bind-Value="@Item.Month_MMscf" Disabled=@isViewing
                                   Placeholder="Enter MMscf/Month ..."></RadzenNumeric>
                    <RadzenRequiredValidator Component="Month_MMscf" Text="MMscf/Month is required" Popup=false />
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="KBBL/Month" />
                </div>
                <div class="col-8">
                    <RadzenNumeric Name="Month_KBBL" class="w-100" @bind-Value="@Item.Month_KBBL" Disabled=@isViewing
                                   Placeholder="Enter KBBL/Month ..."></RadzenNumeric>
                    <RadzenRequiredValidator Component="Month_KBBL" Text="KBBL/Month is required" Popup=false />
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="HL (MMScfd)" />
                </div>
                <div class="col-8">
                    <RadzenNumeric Name="HL_MMscfd" class="w-100" @bind-Value="@Item.HL_MMscfd" Disabled=@isViewing
                                   Placeholder="Enter HL (MMScfd) ..."></RadzenNumeric>
                    <RadzenRequiredValidator Component="HL_MMscfd" Text="HL (MMScfd) is required" Popup=false />
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Layang (MMScfd)" />
                </div>
                <div class="col-8">
                    <RadzenNumeric Name="Layang_MMscfd" class="w-100" @bind-Value="@Item.Layang_MMscfd" Disabled=@isViewing
                                   Placeholder="Enter Layang (MMScfd) ..."></RadzenNumeric>
                    <RadzenRequiredValidator Component="Layang_MMscfd" Text="Layang (MMScfd) is required" Popup=false />
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Beryl (MMScfd)" />
                </div>
                <div class="col-8">
                    <RadzenNumeric Name="Beryl_MMscfd" class="w-100" @bind-Value="@Item.Beryl_MMscfd" Disabled=@isViewing
                                   Placeholder="Enter Beryl (MMScfd) ..."></RadzenNumeric>
                    <RadzenRequiredValidator Component="Beryl_MMscfd" Text="Beryl (MMScfd) is required" Popup=false />
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Loss Volume (Kbbl)" />
                </div>
                <div class="col-8">
                    <RadzenNumeric Name="LossVolume_Kbbl" class="w-100" @bind-Value="@Item.LossVolume_Kbbl" Disabled=@isViewing
                                   Placeholder="Enter Loss Volume (Kbbl) ..."></RadzenNumeric>
                    <RadzenRequiredValidator Component="LossVolume_Kbbl" Text="Loss Volume (Kbbl) is required" Popup=false />
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Loss Annualized (Kbd)" />
                </div>
                <div class="col-8">
                    <RadzenNumeric Name="LossVolume_Kbbl" class="w-100" @bind-Value="@Item.LossVolume_Kbbl" Disabled=@isViewing
                                   Placeholder="Enter Loss Annualized (Kbd) ..."></RadzenNumeric>
                    <RadzenRequiredValidator Component="LossVolume_Kbbl" Text="Loss Annualized (Kbd) is required" Popup=false />
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Month" />
                </div>
                <div class="col-8">
                    <RadzenTextBox class="w-100" @bind-Value="@Item.Month" Disabled=true></RadzenTextBox>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Year" />
                </div>
                <div class="col-8">
                    <RadzenTextBox class="w-100" @bind-Value="@Item.Year" Disabled=true></RadzenTextBox>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Duration (day)" />
                </div>
                <div class="col-8">
                    <RadzenNumeric class="w-100" @bind-Value="@Item.DurationDay" Disabled=true />
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Production/Maintenance Onshore Team Action" />
                </div>
                <div class="col-8">
                    <RadzenTextArea Rows="5" Name="ProductionMaintenance_Onshore_Team_Action" class="w-100" Placeholder="Enter production/maintenance onshore team action..." @bind-Value="@Item.ProductionMaintenance_Onshore_Team_Action" Disabled=@isViewing></RadzenTextArea>
                    <RadzenRequiredValidator Component="ProductionMaintenance_Onshore_Team_Action" Text="Production/maintenance onshore team action is required" Popup=false />
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Action Status" />
                </div>
                <div class="col-8">
                    <RadzenDropDown Data="@statusdict.Keys" @bind-value="@ddActionStatus" class=" w-100" TValue="string" Placeholder="Select action status..." Disabled=@isViewing></RadzenDropDown>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="SK10 24 Hrs Shutdown Notification Report" />
                </div>
                <div class="col-8">
                    <RadzenTextArea Rows="5" Name="SK10_24_Hrs_Shutdown_Notification_Report" class="w-100" Placeholder="Enter SK10 24 Hrs shutdown notification report..." @bind-Value="@Item.SK10_24_Hrs_Shutdown_Notification_Report" Disabled=@isViewing></RadzenTextArea>
                    <RadzenRequiredValidator Component="SK10_24_Hrs_Shutdown_Notification_Report" Text="SK10 24 Hrs shutdown notification report is required" Popup=false />
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="SK10 Unplanned Production Interruption Report" />
                </div>
                <div class="col-8">
                    <RadzenTextArea Rows="5" Name="SK10_Unplanned_Production_Interruption_Report" class="w-100" Placeholder="Enter SK10 unplanned production interruption report..." @bind-Value="@Item.SK10_Unplanned_Production_Interruption_Report" Disabled=@isViewing></RadzenTextArea>
                    <RadzenRequiredValidator Component="SK10_Unplanned_Production_Interruption_Report" Text="SK10 unplanned production interruption report is required" Popup=false />
                </div>
            </div>
            <div class="row justify-content-center py-4" hidden=@isViewing>
                <div class="col-md-12 d-flex align-items-end justify-content-center">
                    <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" Disabled=@isViewing/>
                    <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="cancel" style="display: inline-block; margin-left: 10px;" Text="Cancel" Click="@Cancel"/>
                </div>
            </div>
        </div>
    </div>
</RadzenTemplateForm>
