@using JXNippon.CentralizedDatabaseSystem.Models
@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.Deferments

<RadzenTemplateForm Data="@Item" Submit="@( async (GasDefermentDetail args) => { await SubmitAsync(args); })">
    <div class="row">
        <div class="col">
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Reporting" />
                </div>
                <div class="col-8">
                    <RadzenTextBox Name="DefermentDetailReporting" class="w-100" Placeholder="Enter reporting..." @bind-Value="@Item.Reporting" Disabled=@isViewing></RadzenTextBox>
                    <RadzenRequiredValidator Component="DefermentDetailReporting" Text="Reporting is required" Popup=false />
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Field" />
                </div>
                <div class="col-8">
                    <RadzenTextBox Name="DefermentDetailField" class="w-100" Placeholder="Enter field..." @bind-Value="@Item.Field" Disabled=@isViewing></RadzenTextBox>
                    <RadzenRequiredValidator Component="DefermentDetailField" Text="Field is required" Popup=false />
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Facility / Platform" />
                </div>
                <div class="col-8">
                    <RadzenTextBox Name="DefermentDetailFacility" class="w-100" Placeholder="Enter facility / platform..." @bind-Value="@Item.Facility_Platform" Disabled=@isViewing></RadzenTextBox>
                    <RadzenRequiredValidator Component="DefermentDetailFacility" Text="Facility / Platform is required" Popup=false />
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Downtime Category" />
                </div>
                <div class="col-8">
                    <RadzenDropDown Data="@downtimeCategorydict.Keys" @bind-value="@ddDowntimeCategory" class="w-100" TValue="string" Placeholder="Select downtime category..." Disabled=@isViewing></RadzenDropDown>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Start Date" />
                </div>
                <div class="col-8">
                    <DatePicker @bind-Value="Item.StartDateUI" Format="yyyy/MM/dd hh:mm tt" ShowTime='@("hh:mm tt")' Disabled="@isViewing" />
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="End Date" />
                </div>
                <div class="col-8">
                    <DatePicker @bind-Value="Item.EndDateUI" Format="yyyy/MM/dd hh:mm tt" ShowTime='@("hh:mm tt")' Disabled="@isViewing" />
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Primary Cause" />
                </div>
                <div class="col-8">
                    <RadzenDropDown Data="@primaryCausedict.Keys" @bind-value="@ddPrimaryCause" class="w-100" TValue="string" Placeholder="Select primary cause..." Disabled=@isViewing></RadzenDropDown>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Secondary Cause" />
                </div>
                <div class="col-8">
                    <RadzenDropDown Data="@secondaryCausedict.Keys" @bind-value="@ddSecondaryCause" class="w-100" TValue="string" Placeholder="Select secondary cause..." Disabled=@isViewing></RadzenDropDown>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Cumulative Volume (MMscf)" />
                </div>
                <div class="col-8">
                    <RadzenNumeric Name="CumulativeVolume" class="w-100" @bind-Value="@Item.CumulativeVolume_kb" Disabled=@isViewing
                                   Placeholder="Enter Cumulative Volume (MMscf) ..."></RadzenNumeric>
                    <RadzenRequiredValidator Component="CumulativeVolume" Text="Cumulative Volume (MMscf) is required" Popup=false />
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Annualized Loss (MMscf/d)" />
                </div>
                <div class="col-8">
                    <RadzenNumeric Name="AnnualizedLoss" class="w-100" @bind-Value="@Item.AnnualizedLoss_MMscfd" Disabled=@isViewing
                                   Placeholder="Enter annualized Loss (MMscf/d) ..."></RadzenNumeric>
                    <RadzenRequiredValidator Component="AnnualizedLoss" Text="Annualized Loss (MMscf/d) is required" Popup=false />
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Downtime Type" />
                </div>
                <div class="col-8">
                    <RadzenDropDown Data="@downtimeTypedict.Keys" @bind-value="@ddDowntimeType" class="w-100" TValue="string" Placeholder="Select downtime type..." Disabled=@isViewing></RadzenDropDown>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Problem Statement / Remark" />
                </div>
                <div class="col-8">
                    <RadzenTextArea Rows="5" Name="ProblemStatementRemark" class="w-100" Placeholder="Enter problem statement / remark..." @bind-Value="@Item.ProblemStatement_Remark" Disabled=@isViewing></RadzenTextArea>
                    <RadzenRequiredValidator Component="ProblemStatementRemark" Text="Problem Statement / Remark is required" Popup=false />
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Way Forward Description" />
                </div>
                <div class="col-8">
                    <RadzenTextArea Rows="5" Name="WayForwardDescription" class="w-100" Placeholder="Enter way forward description..." @bind-Value="@Item.WayForwardDescription" Disabled=@isViewing></RadzenTextArea>
                    <RadzenRequiredValidator Component="WayForwardDescription" Text="Way forward description is required" Popup=false />
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Status" />
                </div>
                 <div class="col-8">
                    <RadzenDropDown Data="@statusdict.Keys" @bind-value="@ddStatus" class=" w-100" TValue="string" Placeholder="Select status..." Disabled=@isViewing></RadzenDropDown>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="HL Capacity" />
                </div>
                <div class="col-8">
                    <RadzenNumeric Name="HLCapacity" class="w-100" @bind-Value="@Item.HLCapacity" Disabled=@isViewing
                                   Placeholder="Enter HL Capacity ..."></RadzenNumeric>
                    <RadzenRequiredValidator Component="HLCapacity" Text="HL Capacity is required" Popup=false />
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="LY Capacity" />
                </div>
                <div class="col-8">
                    <RadzenNumeric Name="LYCapacity" class="w-100" @bind-Value="@Item.LYCapacity" Disabled=@isViewing
                                   Placeholder="Enter LY Capacity ..."></RadzenNumeric>
                    <RadzenRequiredValidator Component="LYCapacity" Text="LY Capacity is required" Popup=false />
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="BU Capacity" />
                </div>
                <div class="col-8">
                    <RadzenNumeric Name="BUCapacity" class="w-100" @bind-Value="@Item.BUCapacity" Disabled=@isViewing
                                   Placeholder="Enter BU Capacity ..."></RadzenNumeric>
                    <RadzenRequiredValidator Component="BUCapacity" Text="BU Capacity is required" Popup=false />
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="HL Loss (MMscfd)" />
                </div>
                <div class="col-8">
                    <RadzenNumeric Name="HL_Loss_MMscfd" class="w-100" @bind-Value="@Item.HL_Loss_MMscfd" Disabled=@isViewing
                                   Placeholder="Enter HL Loss (MMscfd) ..."></RadzenNumeric>
                    <RadzenRequiredValidator Component="HL_Loss_MMscfd" Text="HL Loss (MMscfd) is required" Popup=false />
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="LY Loss (MMscfd)" />
                </div>
                <div class="col-8">
                    <RadzenNumeric Name="LY_Loss_MMscfd" class="w-100" @bind-Value="@Item.LY_Loss_MMscfd" Disabled=@isViewing
                                   Placeholder="Enter LY Loss (MMscfd) ..."></RadzenNumeric>
                    <RadzenRequiredValidator Component="LY_Loss_MMscfd" Text="LY Loss (MMscfd) is required" Popup=false />
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="BU Loss (MMscfd)" />
                </div>
                <div class="col-8">
                    <RadzenNumeric Name="BU_Loss_MMscfd" class="w-100" @bind-Value="@Item.BU_Loss_MMscfd" Disabled=@isViewing
                                   Placeholder="Enter BU Loss (MMscfd) ..."></RadzenNumeric>
                    <RadzenRequiredValidator Component="BU_Loss_MMscfd" Text="BU Loss (MMscfd) is required" Popup=false />
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Month" />
                </div>
                <div class="col-8">
                    <RadzenTextBox class="w-100" @bind-Value="@Item.Month" Disabled=true></RadzenTextBox>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Year" />
                </div>
                <div class="col-8">
                    <RadzenTextBox class="w-100" @bind-Value="@Item.Year" Disabled=true></RadzenTextBox>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Duration (day)" />
                </div>
                <div class="col-8">
                    <RadzenNumeric class="w-100" @bind-Value="@Item.DurationDay" Disabled=true />
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Total Days" />
                </div>
                <div class="col-8">
                    <RadzenNumeric class="w-100" @bind-Value="@Item.TotalDays" Disabled=true />
                </div>
            </div>
            <div class="row justify-content-center py-4" hidden=@isViewing>
                <div class="col-md-12 d-flex align-items-end justify-content-center">
                    <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" Disabled=@isViewing/>
                    <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="cancel" style="display: inline-block; margin-left: 10px;" Text="Cancel" Click="@Cancel"/>
                </div>
            </div>
        </div>
    </div>
</RadzenTemplateForm>
