@using AntDesign;
@using JXNippon.CentralizedDatabaseSystem.Shared.Description
@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.Deferments
@using System.Text.Json

<div class="row h-100">
    <div class="col h-100">
        <RadzenDataGrid @ref="grid" Style="border-right: 0px !important; border-top: 0px !important; border-left: 1px solid #dbe0ea !important; border-bottom: 0px !important; height: 100% !important; box-shadow:none !important;"
            IsLoading="@isLoading" Count="@Count" Data="@items" LoadData="@LoadDataAsync" 
            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowSorting AllowFiltering
                        ColumnWidth="200px" TItem="OilDefermentDetail"
                        AllowColumnResize AllowGrouping CellContextMenu="@OnCellContextMenu" AllowColumnPicking
                        AllowMultiColumnSorting ShowMultiColumnSortingIndex AllowPaging PageSize="60">
            <Columns>
                <RadzenDataGridColumn CssClass="center-grid-content" HeaderCssClass="center-grid-title" TItem="OilDefermentDetail" Property="Reporting" Title="Reporting" Width="150px" />
                <RadzenDataGridColumn CssClass="center-grid-content" HeaderCssClass="center-grid-title" TItem="OilDefermentDetail" Property="Field" Title="Field" Width="120px" />
                <RadzenDataGridColumn HeaderCssClass="center-grid-title" TItem="OilDefermentDetail" Property="Facility_Platform" Title="Facility Platform" Width="150px">
                    <HeaderTemplate>
                        <div>Facility /<br />Platform</div>
                    </HeaderTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn CssClass="center-grid-content" HeaderCssClass="center-grid-title" TItem="OilDefermentDetail" Property="DowntimeCategory" Title="Downtime Category" Width="110px">
                    <HeaderTemplate>
                        <div>Downtime<br />Category</div>
                    </HeaderTemplate>
                    <Template Context="item">
                        @(stringLocalizer[item.DowntimeCategory.ToString()])
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn CssClass="center-grid-content" HeaderCssClass="center-grid-title" TItem="OilDefermentDetail" Property="StartDate" Title="Start Date" Width="100px">
                    <HeaderTemplate>
                        <div>Start<br />Date</div>
                    </HeaderTemplate>
                    <Template Context="item">
                        @String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:d}", item.StartDateUI)
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn CssClass="center-grid-content" HeaderCssClass="center-grid-title" TItem="OilDefermentDetail" Property="EndDate" Title="End Date" Width="100px">
                    <HeaderTemplate>
                        <div>End<br />Date</div>
                    </HeaderTemplate>
                    <Template Context="item">
                        @String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:d}", item.EndDateUI)
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn CssClass="center-grid-content" HeaderCssClass="center-grid-title" TItem="OilDefermentDetail" Property="PrimaryCause" Title="Primmary Cause" Width="100px">
                    <HeaderTemplate>
                        <div>Primary<br />Cause</div>
                    </HeaderTemplate>
                    <Template Context="item">
                        @(stringLocalizer[item.PrimaryCause.ToString()])
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn HeaderCssClass="center-grid-title" TItem="OilDefermentDetail" Property="SecondaryCause" Title="Secondary Cause" Width="150px">
                    <HeaderTemplate>
                        <div>Secondary<br />Cause</div>
                    </HeaderTemplate>
                    <Template Context="item">
                        @(stringLocalizer[item.SecondaryCause.ToString()])
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn CssClass="center-grid-content" HeaderCssClass="center-grid-title" TItem="OilDefermentDetail" Property="CumulativeVolume_kb" Title="Cumulative Volume" Width="110px">
                    <HeaderTemplate>
                        <div>Cum Volume<br />(MMscf)</div>
                    </HeaderTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn CssClass="center-grid-content" HeaderCssClass="center-grid-title" TItem="OilDefermentDetail" Property="AnnualizedLoss_MMscfd" Title="Annualized Loss" Width="110px">
                    <HeaderTemplate>
                        <div>Annualized Loss<br />(MMscf/d)</div>
                    </HeaderTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn HeaderCssClass="center-grid-title" TItem="OilDefermentDetail" Property="DowntimeType" Title="Downtime Type" Width="100px">
                    <HeaderTemplate>
                        <div>Downtime<br />Type</div>
                    </HeaderTemplate>
                    <Template Context="item">
                        @(stringLocalizer[item.DowntimeType.ToString()])
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn HeaderCssClass="center-grid-title" TItem="OilDefermentDetail" Property="ProblemStatement_Remark" Title="Problem Statement" Width="200px">
                    <HeaderTemplate>
                        <div>Problem Statement /<br />Remark</div>
                    </HeaderTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn HeaderCssClass="center-grid-title" TItem="OilDefermentDetail" Property="WayForwardDescription" Title="Way Forward Description" Width="200px">
                    <HeaderTemplate>
                        <div>Way Forward<br />Description</div>
                    </HeaderTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn CssClass="center-grid-content" HeaderCssClass="center-grid-title" TItem="OilDefermentDetail" Property="Status" Title="Status" Width="100px">
                    <Template Context="item">
                        @(stringLocalizer[item.Status.ToString()])
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn CssClass="center-grid-content" HeaderCssClass="center-grid-title" TItem="OilDefermentDetail" Property="HLCapacity" Title="HL Capacity" Width="100px">
                    <HeaderTemplate>
                        <div>HL<br />Capacity</div>
                    </HeaderTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn CssClass="center-grid-content" HeaderCssClass="center-grid-title" TItem="OilDefermentDetail" Property="LYCapacity" Title="LY Capacity" Width="100px">
                    <HeaderTemplate>
                        <div>LY<br />Capacity</div>
                    </HeaderTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn CssClass="center-grid-content" HeaderCssClass="center-grid-title" TItem="OilDefermentDetail" Property="BUCapacity" Title="BU Capacity" Width="100px">
                    <HeaderTemplate>
                        <div>BU<br />Capacity</div>
                    </HeaderTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn CssClass="center-grid-content" HeaderCssClass="center-grid-title" TItem="OilDefermentDetail" Property="MonthlyLoss_MMscfd" Title="Monthly loss " Width="120px">
                    <HeaderTemplate>
                        <div>Monthly loss<br />(MMscfd)</div>
                    </HeaderTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn CssClass="center-grid-content" HeaderCssClass="center-grid-title" TItem="OilDefermentDetail" Property="HL_Loss_MMscfd" Title="HL Loss (MMscfd)" Width="100px">
                    <HeaderTemplate>
                        <div>HL Loss<br />(MMscfd)</div>
                    </HeaderTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn CssClass="center-grid-content" HeaderCssClass="center-grid-title" TItem="OilDefermentDetail" Property="LY_Loss_MMscfd" Title="LY Loss (MMscfd)" Width="100px">
                    <HeaderTemplate>
                        <div>LY Loss<br />(MMscfd)</div>
                    </HeaderTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn CssClass="center-grid-content" HeaderCssClass="center-grid-title" TItem="OilDefermentDetail" Property="BU_Loss_MMscfd" Title="BU Loss (MMscfd)" Width="100px">
                    <HeaderTemplate>
                        <div>BU Loss<br />(MMscfd)</div>
                    </HeaderTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn CssClass="center-grid-content" HeaderCssClass="center-grid-title" TItem="OilDefermentDetail" Property="Month" Title="Month" Width="100px" />
                <RadzenDataGridColumn CssClass="center-grid-content" HeaderCssClass="center-grid-title" TItem="OilDefermentDetail" Property="Year" Title="Year" Width="100px" />
                <RadzenDataGridColumn CssClass="center-grid-content" HeaderCssClass="center-grid-title" TItem="OilDefermentDetail" Property="DurationDay" Title="Duration (day)" Width="100px">
                    <HeaderTemplate>
                        <div>Duration<br />(day)</div>
                    </HeaderTemplate>
                    <Template Context="item">
                        @(Math.Round((decimal)item.DurationDay, 2))
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn CssClass="center-grid-content" HeaderCssClass="center-grid-title" TItem="OilDefermentDetail" Property="TotalDays" Title="Total Days" Width="100px">
                    <HeaderTemplate>
                        <div>Total<br />Days</div>
                    </HeaderTemplate>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>  
    </div>
</div>

@code {

    private void OnCellContextMenu(MouseEventArgs args)
    {
        Console.WriteLine(JsonSerializer.Serialize(args));
        bool hasRowData = (args as DataGridCellMouseEventArgs<OilDefermentDetail>) != null;
        ContextMenuService.Open(args, ds =>
    @<RadzenMenu Click="@(e => OnMenuItemClickAsync(args as DataGridCellMouseEventArgs<OilDefermentDetail>, e))">
                    <AuthorizeView Policy="Deferment.ReadWrite">
                        <RadzenMenuItem Text="Add" Value="0" Icon="note_add"/>
                        <RadzenMenuItem Text="Edit ..." Value="1" Icon="description" Visible=@hasRowData/>
                        <RadzenMenuItem Text="Delete ..." Value="2" Icon="delete" Visible=@hasRowData/>
                    </AuthorizeView>
                    <RadzenMenuItem Text="View ..." Value="3" Icon="launch" Visible=@hasRowData/>
                    <RadzenMenuItem Text="Refresh" Value="4" Icon="refresh"/>
    </RadzenMenu>
    );
    }

    private async Task OnMenuItemClickAsync(DataGridCellMouseEventArgs<OilDefermentDetail> args, MenuItemEventArgs e)
    {
        int i = (int)e.Value;
        if (i == 0)
        {
            await ShowDialogAsync(new OilDefermentDetail() { }, i, "Add");
        }
        else if (i == 1)
        {
            await ShowDialogAsync(args.Data, i, "Edit");
        }
        else if (i == 2)
        {
            await ShowDialogAsync(args.Data, i, "Delete");
        }
        else if (i == 3)
        {
            await ShowDialogAsync(args.Data, i, "View");
        }
        else if (i == 4)
        {
            await grid.Reload();
        }
    }
}