@using JXNippon.CentralizedDatabaseSystem.Shared.Description
@using NotificationODataService.Affra.Service.Notification.Domain.PersonalMessages

@if (!isLoading && count == 0)
{       
    <div class="min-vh-80 d-flex align-items-center justify-content-center gap-3">
        <GenericDescription Height="300px" ImageFile="@ImageFile.Message" Description="No notification.">
        </GenericDescription>
    </div>
      
}

<AntList DataSource="@personalMessages" TItem="PersonalMessage" Class="px-3" @ref=_dataList>
    <ChildContent>
        <ListItem OnClick="@(() => MarkAsReadAsync(context))">
            <ChildContent>
                <ListItemMeta Description="@context.MessageContent">
                    <AvatarTemplate>
                        <Avatar Style="vertical-align: middle;" Size="large">
                            <span style="font-size: 16px;">@context.CreatedBy[0]</span>
                        </Avatar>
                    </AvatarTemplate>
                    <TitleTemplate>
                        <a href="@context.Extra">@context.Subject</a>
                    </TitleTemplate>
                </ListItemMeta>
            </ChildContent>
            <Extra>
                <i class="dot-item" hidden="@(context.Status == NotificationODataService.Affra.Service.Notification.Domain.PersonalMessages.PersonalMessageStatus.Read)"></i>
            </Extra>
        </ListItem>
    </ChildContent>
    <LoadMore>
        @if (!initLoading && !isLoading && currentCount < count)
        {
            <div class="loadmore-btn-content">
                <Button Type="primary" OnClick="OnLoadMoreAsync">loading more</Button>
            </div>
        }
    </LoadMore>
</AntList>