@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.CommunicationSystems
@using JXNippon.CentralizedDatabaseSystem.Domain.Extensions
@using JXNippon.CentralizedDatabaseSystem.Shared.TemplateManagement
@typeparam TItem

<RadzenTemplateForm TItem="@TItem" Data="@Item" Submit="@(async (TItem args) => { await SubmitAsync(args); })">
        @this.ChildContent
        <ExtraColumnEditor @ref=extraColumnEditor IsViewing=@IsViewing CustomColumns=this.CustomColumns ExtraDictionary=Item.AsIExtras().ExtraDictionary></ExtraColumnEditor>
        <div class="row justify-content-center py-4" hidden=@IsViewing>
            <div class="col-md-12 d-flex align-items-end justify-content-center">
                <Button HtmlType="submit" Type="primary" Size="@("large")" Disabled=@IsViewing>
                    <ChildContent>
                        <Icon Type="save" Theme="outline" Class="anticon-big" />
                        <span style="font-size: 18px; margin-left: 10px;">Save</span>
                    </ChildContent>
                </Button>
                <Button Style="display: inline-block; margin-left: 10px;" Size="@("large")" Disabled=@IsViewing OnClick="@Cancel">
                    <ChildContent>
                        <Icon Type="close-circle" Theme="outline" Class="anticon-big" />
                        <span style="font-size: 18px; margin-left: 10px;">Cancel</span>
                    </ChildContent>
                </Button>
            </div>
        </div>
</RadzenTemplateForm>
