@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.WellHeads
@using JXNippon.CentralizedDatabaseSystem.Shared.Commons

<div class="row">
    <div class="col">
        <DailyDataGrid @ref=DailyDataGrid LoadData="@LoadData" TItem="DailyLWPWellHeadParameter" TDialog="LWPWellHeadParameterDialog"
            PagerAlwaysVisible="@PagerAlwaysVisible"
            QueryFilter=QueryFilterAsync>
             <Columns>
                <RadzenDataGridColumn TItem="DailyLWPWellHeadParameter" Property="LWPWellHeadName" Title="Wells" />
                <RadzenDataGridColumn TItem="DailyLWPWellHeadParameter" Property="Status" Title="Status">
                    <Template Context="item">
                        <StatusGridColumnTemplate Status="@(item.Status)"></StatusGridColumnTemplate>
                    </Template>           
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyLWPWellHeadParameter" Property="THP" Title="THP Bar" />
                <RadzenDataGridColumn TItem="DailyLWPWellHeadParameter" Property="THT" Title="THT °c" />
                <RadzenDataGridColumn TItem="DailyLWPWellHeadParameter" Property="ChokePercentage" Title="Choke %" />
                <RadzenDataGridColumn TItem="DailyLWPWellHeadParameter" Property="ChokeMode" Title="Choke Mode" />
                <RadzenDataGridColumn TItem="DailyLWPWellHeadParameter" Property="PCP" Title="PCP Bar" />
                <RadzenDataGridColumn TItem="DailyLWPWellHeadParameter" Property="SCP" Title="SCP Bar" />
                <RadzenDataGridColumn TItem="DailyLWPWellHeadParameter" Property="CCP" Title="CCP Bar" />
                <RadzenDataGridColumn TItem="DailyLWPWellHeadParameter" Property="UpTime" Title="Uptime hr:mm" />
                <RadzenDataGridColumn TItem="DailyLWPWellHeadParameter" Property="CI" Title="CI ltr/day" />
                <RadzenDataGridColumn TItem="DailyLWPWellHeadParameter" Property="TCP" Title="TCP Bar" />
                <RadzenDataGridColumn TItem="DailyLWPWellHeadParameter" Property="Remark" Title="Remark"/>
                <RadzenDataGridColumn TItem="DailyLWPWellHeadParameter" Property="Date" Title="Date" SortOrder="SortOrder.Descending" Visible="@ShowDateColumn">
                    <Template Context="item">
                        @String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:d}", item.DateUI)
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </DailyDataGrid>  
    </div>
</div>