@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.SandDisposalDesanders
@using JXNippon.CentralizedDatabaseSystem.Shared.Commons

<div class="row">
    <div class="col">
        <DailyDataGrid @ref=DailyDataGrid LoadData="@LoadData" TItem="DailySandDisposalDesander" TDialog="SandDisposalDesanderDialog"
            PagerAlwaysVisible="@PagerAlwaysVisible">
            <Columns>
                <RadzenDataGridColumn TItem="DailySandDisposalDesander" Property="SandDisposalDesanderName" Title="Desander Name" />
                <RadzenDataGridColumn TItem="DailySandDisposalDesander" Property="Status" Title="Status">
                    <Template Context="item">
                        <StatusGridColumnTemplate Status="@(item.Status)"></StatusGridColumnTemplate>
                    </Template>           
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailySandDisposalDesander" Property="Remark" Title="Remark">
                    <Template Context="item">
                        <p style="white-space:pre-wrap">@item.Remark</p>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailySandDisposalDesander" Property="LastSandJettingDate" Title="Last Sand Jetting Date">
                    <Template Context="item">
                        @String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:d}", item.LastSandJettingDateUI)
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailySandDisposalDesander" Property="NextSandJettingDate" Title="Next Sand Jetting Date">
                    <Template Context="item">
                        @String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:d}", item.NextSandJettingDateUI)
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailySandDisposalDesander" Property="EastClusterJettingCycleNumber" Title="No. of East Cluster Jetting Cycle" />
                <RadzenDataGridColumn TItem="DailySandDisposalDesander" Property="WestClusterJettingCycleNumber" Title="No. of West Cluster Jetting Cycle" />
                <RadzenDataGridColumn TItem="DailySandDisposalDesander" Property="DrumCollectedNumber" Title="No. of Drum Collected" />
                <RadzenDataGridColumn TItem="DailySandDisposalDesander" Property="AccumulatedSandDisposed" Title="Accumulated Sand Disposed" />
                <RadzenDataGridColumn TItem="DailySandDisposalDesander" Property="HighestMercuryReading" Title="Highest Mercury Reading" />
                <RadzenDataGridColumn TItem="DailySandDisposalDesander" Property="Remark1" Title="Remarks">
                    <Template Context="item">
                        <p style="white-space:pre-wrap">@item.Remark1</p>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailySandDisposalDesander" Property="Date" Title="Date" SortOrder="SortOrder.Descending" Visible="@ShowDateColumn">
                    <Template Context="item">
                        @String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:d}", item.DateUI)
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </DailyDataGrid>  
    </div>
</div>