@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.SandDisposalDesanders
@using JXNippon.CentralizedDatabaseSystem.Models
@using JXNippon.CentralizedDatabaseSystem.Shared.Commons

<DailyDialog TItem=DailySandDisposalDesander Item="@Item" CustomColumns=@CustomColumns MenuAction=@MenuAction IsViewing=@isViewing>
    <ChildContent>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Sand Disposal Desander Name" />
                </div>
                <div class="col-8">
                    <RadzenAutoComplete Name="SandDisposalDesanderName" class="w-100" @bind-Value="@Item.SandDisposalDesanderName" Data="@datas" Disabled=@isViewing FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" 
                        Placeholder="Enter sand disposal desander name ..." TextProperty="Name"></RadzenAutoComplete>
                    <RadzenRequiredValidator Component="SandDisposalDesanderName" Text="Sand disposal desander name is required" Popup=false/>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Status" />
                </div>
                <div class="col-8">
                    <RadzenDropDown Name="Status" Placeholder="Status" @bind-Value="@Item.Status" Disabled=@isViewing 
                    Data=@(StatusFilter.Statuses) />
                    <RadzenRequiredValidator Component="Status" Text="Status is required" Popup=false/>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Remark" />
                </div>
                <div class="col-8">
                    <RadzenTextArea Name="Remark" class="w-100" Placeholder="Enter remark..." @bind-Value="@Item.Remark" Disabled=@isViewing></RadzenTextArea>
                    <RadzenRequiredValidator Component="Remark" Text="Remark is required" Popup=false/>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Last Sand Jetting Date" />
                </div>
                <div class="col-8">
                    <RadzenDatePicker class="w-100" DateFormat="d" @bind-Value="@Item.LastSandJettingDateUI" ShowTime="false" Disabled=@isViewing></RadzenDatePicker>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Next Sand Jetting Date" />
                </div>
                <div class="col-8">
                    <RadzenDatePicker class="w-100" DateFormat="d" @bind-Value="@Item.NextSandJettingDateUI" ShowTime="false" Disabled=@isViewing></RadzenDatePicker>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="No. of East Cluster Jetting Cycle" />
                </div>
                <div class="col-8">
                    <RadzenNumeric Name="EastClusterJettingCycleNumber" class="w-100" @bind-Value="@Item.EastClusterJettingCycleNumber"  Disabled=@isViewing
                    Placeholder="Enter no. of east cluster jetting cycle ..." TextProperty="EastClusterJettingCycleNumber"></RadzenNumeric>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="No. of West Cluster Jetting Cycle" />
                </div>
                <div class="col-8">
                    <RadzenNumeric Name="WestClusterJettingCycleNumber" class="w-100" @bind-Value="@Item.WestClusterJettingCycleNumber"  Disabled=@isViewing
                    Placeholder="Enter no. of west cluster jetting cycle ..." TextProperty="WestClusterJettingCycleNumber"></RadzenNumeric>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="No. of Drum Collected" />
                </div>
                <div class="col-8">
                    <RadzenNumeric Name="DrumCollectedNumber" class="w-100" @bind-Value="@Item.DrumCollectedNumber"  Disabled=@isViewing
                    Placeholder="Enter no. of drum collected ..." TextProperty="DrumCollectedNumber"></RadzenNumeric>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Accumulated Sand Disposed" />
                </div>
                <div class="col-8">
                    <RadzenNumeric Name="AccumulatedSandDisposed" class="w-100" @bind-Value="@Item.AccumulatedSandDisposed"  Disabled=@isViewing
                    Placeholder="Enter accumulated sand disposed ..." TextProperty="AccumulatedSandDisposed"></RadzenNumeric>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Highest Mercury Reading" />
                </div>
                <div class="col-8">
                    <RadzenNumeric Name="HighestMercuryReading" class="w-100" @bind-Value="@Item.HighestMercuryReading"  Disabled=@isViewing
                    Placeholder="Enter highest mercury reading ..." TextProperty="HighestMercuryReading"></RadzenNumeric>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Remarks" />
                </div>
                <div class="col-8">
                    <RadzenTextArea Name="Remark1" class="w-100" Placeholder="Enter remark..." @bind-Value="@Item.Remark1" Disabled=@isViewing></RadzenTextArea>
                    <RadzenRequiredValidator Component="Remark1" Text="Remark is required" Popup=false/>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Date" />
                </div>
                <div class="col-8">
                    <RadzenDatePicker class="w-100" DateFormat="d" @bind-Value="@Item.DateUI" ShowTime="false" Disabled=@isViewing></RadzenDatePicker>
                </div>
            </div>
    </ChildContent>
</DailyDialog>