@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.MaximoWorkOrders
@using JXNippon.CentralizedDatabaseSystem.Shared.Commons

<div class="row">
    <div class="col">
        <DailyDataGrid @ref=DailyDataGrid LoadData="@LoadData" TItem="DailyMaximoWorkOrder" TDialog="MaximoWorkOrderDialog"
            PagerAlwaysVisible="@PagerAlwaysVisible">
            <Columns>
                <RadzenDataGridColumn TItem="DailyMaximoWorkOrder" Property="Period" Filterable="false" Title="Period" />           
                <RadzenDataGridColumn TItem="DailyMaximoWorkOrder" Property="WorkOrderTypeName" Filterable="false" Title="Name" />           
                <RadzenDataGridColumn TItem="DailyMaximoWorkOrder" Property="PM" Filterable="false" Title="PM" />           
                <RadzenDataGridColumn TItem="DailyMaximoWorkOrder" Property="CM" Filterable="false" Title="CM" />           
                <RadzenDataGridColumn TItem="DailyMaximoWorkOrder" Property="CB" Filterable="false" Title="CB" />           
                <RadzenDataGridColumn TItem="DailyMaximoWorkOrder" Property="MO" Filterable="false" Title="MO" />           
                <RadzenDataGridColumn TItem="DailyMaximoWorkOrder" Property="Total" Filterable="false" Title="Total" />           
                <RadzenDataGridColumn TItem="DailyMaximoWorkOrder" Property="Remark" Title="Remark">
                    <Template Context="item">
                        <p style="white-space:pre-wrap">@item.Remark</p>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyMaximoWorkOrder" Property="Date" Title="Date" SortOrder="SortOrder.Descending" Visible="@ShowDateColumn">
                    <Template Context="item">
                        @String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:d}", item.DateUI)
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </DailyDataGrid>  
    </div>
</div>