@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.MaximoWorkOrders
@using JXNippon.CentralizedDatabaseSystem.Models

<RadzenTemplateForm Data="@Item" Submit="@( async (DailyMaximoWorkOrder args) => { await SubmitAsync(args); })">
    <div class="row">
        <div class="col">
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Period" />
                </div>
                <div class="col-8">
                    <RadzenTextArea Name="Period" class="w-100" Placeholder="Period" @bind-Value="@Item.Period" Disabled=@isViewing />
                    <RadzenRequiredValidator Component="Period" Text="Period is required" Popup=false/>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Name" />
                </div>
                <div class="col-8">
                    <RadzenAutoComplete Name="WorkOrderTypeName" class="w-100" @bind-Value="@Item.WorkOrderTypeName" Disabled=@isViewing FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" 
                        Placeholder="Enter work order type name..." TextProperty="Name"></RadzenAutoComplete>
                    <RadzenRequiredValidator Component="WorkOrderTypeName" Text="Work order type name is required" Popup=false/>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="PM" />
                </div>
                <div class="col-8">
                    <RadzenNumeric Name="PM" class="w-100" @bind-Value="@Item.PM" Disabled=@isViewing
                    Placeholder="Enter PM ..." TextProperty="PM"></RadzenNumeric>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="CM" />
                </div>
                <div class="col-8">
                    <RadzenNumeric Name="CM" class="w-100" @bind-Value="@Item.CM" Disabled=@isViewing
                    Placeholder="Enter CM ..." TextProperty="CM"></RadzenNumeric>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="CB" />
                </div>
                <div class="col-8">
                    <RadzenNumeric Name="CB" class="w-100" @bind-Value="@Item.CB" Disabled=@isViewing
                    Placeholder="Enter CB ..." TextProperty="CB"></RadzenNumeric>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="MO" />
                </div>
                <div class="col-8">
                    <RadzenNumeric Name="MO" class="w-100" @bind-Value="@Item.MO" Disabled=@isViewing
                    Placeholder="Enter MO ..." TextProperty="MO"></RadzenNumeric>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Total" />
                </div>
                <div class="col-8">
                    <RadzenNumeric Name="Total" class="w-100" @bind-Value="@Item.Total" Disabled=@isViewing
                    Placeholder="Enter Total ..." TextProperty="Total"></RadzenNumeric>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Remark" />
                </div>
                <div class="col-8">
                    <RadzenTextArea Name="Remark" class="w-100" Placeholder="Enter remark..." @bind-Value="@Item.Remark" Disabled=@isViewing></RadzenTextArea>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Date" />
                </div>
                <div class="col-8">
                    <RadzenDatePicker class="w-100" DateFormat="d" @bind-Value="@Item.DateUI" ShowTime="false" Disabled=@isViewing></RadzenDatePicker>
                </div>
            </div>
            <div class="row justify-content-center py-4" hidden=@isViewing>
                <div class="col-md-12 d-flex align-items-end justify-content-center">
                    <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" Disabled=@isViewing/>
                    <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="cancel" style="display: inline-block; margin-left: 10px;" Text="Cancel" Click="@Cancel"/>
                </div>
            </div>
        </div>
    </div>
</RadzenTemplateForm>
