@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.RollsRoyceGasEngineAndKawasakiCompressionSystems
@using JXNippon.CentralizedDatabaseSystem.Models
@using JXNippon.CentralizedDatabaseSystem.Shared.Commons

<DailyDialog TItem=DailyKawasakiExportCompressor Item="@Item" CustomColumns=@CustomColumns MenuAction=@MenuAction IsViewing=@isViewing>
    <ChildContent>
        <div class="row py-2">
            <div class="col-4 align-items-center d-flex">
                <RadzenLabel class="dialogTextSize" Text="Name" />
            </div>
            <div class="col-8">
                <RadzenAutoComplete Name="KawasakiExportCompressorName" class="w-100" @bind-Value="@Item.KawasakiExportCompressorName" Disabled=@isViewing FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                    Placeholder="Enter name..." TextProperty="Name"></RadzenAutoComplete>
                <RadzenRequiredValidator Component="KawasakiExportCompressorName" Text="Name is required" Popup=false />
            </div>
        </div>
        <div class="row py-2">
            <div class="col-4 align-items-center d-flex">
                <RadzenLabel class="dialogTextSize" Text="Speed Control" />
            </div>
            <div class="col-8">
                <RadzenTextArea Name="SpeedControl" class="w-100" Placeholder="Enter speed control..." @bind-Value="@Item.SpeedControl" Disabled=@isViewing></RadzenTextArea>
                <RadzenRequiredValidator Component="SpeedControl" Text="Speed control is required" Popup=false />
            </div>
        </div>
        <div class="row py-2">
            <div class="col-4 align-items-center d-flex">
                <RadzenLabel class="dialogTextSize" Text="Speed" />
            </div>
            <div class="col-8">
                <RadzenNumeric Name="Speed" class="w-100" @bind-Value="@Item.Speed" Disabled=@isViewing
                               Placeholder="Enter speed ..." TextProperty="Speed"></RadzenNumeric>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-4 align-items-center d-flex">
                <RadzenLabel class="dialogTextSize" Text="Pressure (bar) Suct (LP)" />
            </div>
            <div class="col-8">
                <RadzenNumeric Name="PressureSuct" class="w-100" @bind-Value="@Item.PressureSuct" Disabled=@isViewing
                               Placeholder="Enter pressure suct ..." TextProperty="PressureSuct"></RadzenNumeric>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-4 align-items-center d-flex">
                <RadzenLabel class="dialogTextSize" Text="Pressure (bar) Disc (HP)" />
            </div>
            <div class="col-8">
                <RadzenNumeric Name="PressureDisc" class="w-100" @bind-Value="@Item.PressureDisc" Disabled=@isViewing
                               Placeholder="Enter pressure disc ..." TextProperty="PressureDisc"></RadzenNumeric>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-4 align-items-center d-flex">
                <RadzenLabel class="dialogTextSize" Text="Throughput MMscfd" />
            </div>
            <div class="col-8">
                <RadzenNumeric Name="ThroughPut" class="w-100" @bind-Value="@Item.ThroughPut" Disabled=@isViewing
                               Placeholder="Enter throughput ..." TextProperty="ThroughPut"></RadzenNumeric>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-4 align-items-center d-flex">
                <RadzenLabel class="dialogTextSize" Text="After Cooler Disch LP" />
            </div>
            <div class="col-8">
                <RadzenNumeric Name="AfterCoolerDischLP" class="w-100" @bind-Value="@Item.AfterCoolerDischLP" Disabled=@isViewing
                               Placeholder="Enter after cooler disch LP ..." TextProperty="AfterCoolerDischLP"></RadzenNumeric>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-4 align-items-center d-flex">
                <RadzenLabel class="dialogTextSize" Text="After Cooler Disch HP" />
            </div>
            <div class="col-8">
                <RadzenNumeric Name="AfterCoolerDischHP" class="w-100" @bind-Value="@Item.AfterCoolerDischHP" Disabled=@isViewing
                               Placeholder="Enter after cooler disch HP ..." TextProperty="AfterCoolerDischHP"></RadzenNumeric>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-4 align-items-center d-flex">
                <RadzenLabel class="dialogTextSize" Text="Recycle Value LP %" />
            </div>
            <div class="col-8">
                <RadzenNumeric Name="RecycleValueLP" class="w-100" @bind-Value="@Item.RecycleValueLP" Disabled=@isViewing
                               Placeholder="Enter recycle value LP % ..." TextProperty="RecycleValueLP"></RadzenNumeric>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-4 align-items-center d-flex">
                <RadzenLabel class="dialogTextSize" Text="Recycle Value HP %" />
            </div>
            <div class="col-8">
                <RadzenNumeric Name="RecycleValueHP" class="w-100" @bind-Value="@Item.RecycleValueHP" Disabled=@isViewing
                               Placeholder="Enter recycle value HP % ..." TextProperty="RecycleValueHP"></RadzenNumeric>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-4 align-items-center d-flex">
                <RadzenLabel class="dialogTextSize" Text="Surge Deviation LP %" />
            </div>
            <div class="col-8">
                <RadzenNumeric Name="SurgeDeviationLP" class="w-100" @bind-Value="@Item.SurgeDeviationLP" Disabled=@isViewing
                               Placeholder="Enter surge deviation LP % ..." TextProperty="SurgeDeviationLP"></RadzenNumeric>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-4 align-items-center d-flex">
                <RadzenLabel class="dialogTextSize" Text="Surge Deviation HP %" />
            </div>
            <div class="col-8">
                <RadzenNumeric Name="SurgeDeviationHP" class="w-100" @bind-Value="@Item.SurgeDeviationHP" Disabled=@isViewing
                               Placeholder="Enter surge deviation HP % ..." TextProperty="SurgeDeviationHP"></RadzenNumeric>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-4 align-items-center d-flex">
                <RadzenLabel class="dialogTextSize" Text="Axial Disp. mm #1" />
            </div>
            <div class="col-8">
                <RadzenNumeric Name="AxialDisp1" class="w-100" @bind-Value="@Item.AxialDisp1" Disabled=@isViewing
                               Placeholder="Enter Axial Disp. mm #1 ..." TextProperty="AxialDisp1"></RadzenNumeric>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-4 align-items-center d-flex">
                <RadzenLabel class="dialogTextSize" Text="Axial Disp. mm #2" />
            </div>
            <div class="col-8">
                <RadzenNumeric Name="AxialDisp2" class="w-100" @bind-Value="@Item.AxialDisp2" Disabled=@isViewing
                               Placeholder="Enter Axial Disp. mm #2 ..." TextProperty="AxialDisp2"></RadzenNumeric>
            </div>
        </div>
    </ChildContent>
</DailyDialog>