@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.RollsRoyceGasEngineAndKawasakiCompressionSystems
@using JXNippon.CentralizedDatabaseSystem.Models
@using JXNippon.CentralizedDatabaseSystem.Shared.Commons

<DailyDialog TItem=DailyKawasakiExportCompressor Item="@Item" CustomColumns=@CustomColumns MenuAction=@MenuAction IsViewing=@isViewing>
    <ChildContent>
        <Tabs DefaultActiveKey="1" Animated>
            <TabPane Key="1">
                <TabTemplate>
                    <span>Page 1</span>
                </TabTemplate>
                <ChildContent>
                    <div class="row py-2">
                            <div class="col-4 align-items-center d-flex">
                                <RadzenLabel class="dialogTextSize" Text="Name" />
                            </div>
                    <div class="col-8">
                            <RadzenAutoComplete Name="KawasakiExportCompressorName" class="w-100" @bind-Value="@Item.KawasakiExportCompressorName" Disabled=@isViewing FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                Placeholder="Enter name..." TextProperty="Name"></RadzenAutoComplete>
                            <RadzenRequiredValidator Component="KawasakiExportCompressorName" Text="Name is required" Popup=false />
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-4 align-items-center d-flex">
                            <RadzenLabel class="dialogTextSize" Text="Speed Control" />
                        </div>
                        <div class="col-8">
                            <RadzenTextArea Name="SpeedControl" class="w-100" Placeholder="Enter speed control..." @bind-Value="@Item.SpeedControl" Disabled=@isViewing></RadzenTextArea>
                            <RadzenRequiredValidator Component="SpeedControl" Text="Speed control is required" Popup=false />
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-4 align-items-center d-flex">
                            <RadzenLabel class="dialogTextSize" Text="Speed" />
                        </div>
                        <div class="col-8">
                            <RadzenNumeric Name="Speed" class="w-100" @bind-Value="@Item.Speed" Disabled=@isViewing Placeholder="Enter speed ..." TextProperty="Speed"></RadzenNumeric>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-4 align-items-center d-flex">
                            <RadzenLabel class="dialogTextSize" Text="Pressure (bar) Suct (LP)" />
                        </div>
                        <div class="col-8">
                            <RadzenNumeric Name="PressureSuct" class="w-100" @bind-Value="@Item.PressureSuct" Disabled=@isViewing Placeholder="Enter pressure suct ..." TextProperty="PressureSuct"></RadzenNumeric>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-4 align-items-center d-flex">
                            <RadzenLabel class="dialogTextSize" Text="Pressure (bar) Disc (HP)" />
                        </div>
                        <div class="col-8">
                            <RadzenNumeric Name="PressureDisc" class="w-100" @bind-Value="@Item.PressureDisc" Disabled=@isViewing Placeholder="Enter pressure disc ..." TextProperty="PressureDisc"></RadzenNumeric>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-4 align-items-center d-flex">
                            <RadzenLabel class="dialogTextSize" Text="Throughput MMscfd" />
                        </div>
                        <div class="col-8">
                            <RadzenNumeric Name="ThroughPut" class="w-100" @bind-Value="@Item.ThroughPut" Disabled=@isViewing Placeholder="Enter throughput ..." TextProperty="ThroughPut"></RadzenNumeric>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-4 align-items-center d-flex">
                            <RadzenLabel class="dialogTextSize" Text="After Cooler Disch LP" />
                        </div>
                        <div class="col-8">
                            <RadzenNumeric Name="AfterCoolerDischLP" class="w-100" @bind-Value="@Item.AfterCoolerDischLP" Disabled=@isViewing Placeholder="Enter after cooler disch LP ..." TextProperty="AfterCoolerDischLP"></RadzenNumeric>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-4 align-items-center d-flex">
                            <RadzenLabel class="dialogTextSize" Text="After Cooler Disch HP" />
                        </div>
                        <div class="col-8">
                            <RadzenNumeric Name="AfterCoolerDischHP" class="w-100" @bind-Value="@Item.AfterCoolerDischHP" Disabled=@isViewing Placeholder="Enter after cooler disch HP ..." TextProperty="AfterCoolerDischHP"></RadzenNumeric>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-4 align-items-center d-flex">
                            <RadzenLabel class="dialogTextSize" Text="Recycle Value LP %" />
                        </div>
                        <div class="col-8">
                            <RadzenNumeric Name="RecycleValueLP" class="w-100" @bind-Value="@Item.RecycleValueLP" Disabled=@isViewing Placeholder="Enter recycle value LP % ..." TextProperty="RecycleValueLP"></RadzenNumeric>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-4 align-items-center d-flex">
                            <RadzenLabel class="dialogTextSize" Text="Recycle Value HP %" />
                        </div>
                        <div class="col-8">
                            <RadzenNumeric Name="RecycleValueHP" class="w-100" @bind-Value="@Item.RecycleValueHP" Disabled=@isViewing Placeholder="Enter recycle value HP % ..." TextProperty="RecycleValueHP"></RadzenNumeric>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-4 align-items-center d-flex">
                            <RadzenLabel class="dialogTextSize" Text="Surge Deviation LP %" />
                        </div>
                        <div class="col-8">
                            <RadzenNumeric Name="SurgeDeviationLP" class="w-100" @bind-Value="@Item.SurgeDeviationLP" Disabled=@isViewing Placeholder="Enter surge deviation LP % ..." TextProperty="SurgeDeviationLP"></RadzenNumeric>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-4 align-items-center d-flex">
                            <RadzenLabel class="dialogTextSize" Text="Surge Deviation HP %" />
                        </div>
                        <div class="col-8">
                            <RadzenNumeric Name="SurgeDeviationHP" class="w-100" @bind-Value="@Item.SurgeDeviationHP" Disabled=@isViewing Placeholder="Enter surge deviation HP % ..." TextProperty="SurgeDeviationHP"></RadzenNumeric>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-4 align-items-center d-flex">
                            <RadzenLabel class="dialogTextSize" Text="Axial Disp. mm #1" />
                        </div>
                        <div class="col-8">
                            <RadzenNumeric Name="AxialDisp1" class="w-100" @bind-Value="@Item.AxialDisp1" Disabled=@isViewing Placeholder="Enter Axial Disp. mm #1 ..." TextProperty="AxialDisp1"></RadzenNumeric>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-4 align-items-center d-flex">
                            <RadzenLabel class="dialogTextSize" Text="Axial Disp. mm #2" />
                        </div>
                        <div class="col-8">
                            <RadzenNumeric Name="AxialDisp2" class="w-100" @bind-Value="@Item.AxialDisp2" Disabled=@isViewing Placeholder="Enter Axial Disp. mm #2 ..." TextProperty="AxialDisp2"></RadzenNumeric>
                        </div>
                    </div>
                </ChildContent>
            </TabPane>
            <TabPane Key="2">
                <TabTemplate>
                    <span>Page 2</span>
                </TabTemplate>
                <ChildContent>
                    <div class="row py-2">
                        <div class="col-4 align-items-center d-flex">
                            <RadzenLabel class="dialogTextSize" Text="Primary Vent DE (kPa)" />
                        </div>
                    <div class="col-8">
                            <RadzenNumeric Name="PrimaryVentDE" class="w-100" @bind-Value="@Item.PrimaryVentDE" Disabled=@isViewing Placeholder="Enter primary vent DE ..." TextProperty="PrimaryVentDE"></RadzenNumeric>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-4 align-items-center d-flex">
                            <RadzenLabel class="dialogTextSize" Text="Primary Vent NDE (kPa)" />
                        </div>
                        <div class="col-8">
                            <RadzenNumeric Name="PrimaryVentNDE" class="w-100" @bind-Value="@Item.PrimaryVentNDE" Disabled=@isViewing Placeholder="Enter primary vent NDE ..." TextProperty="PrimaryVentNDE"></RadzenNumeric>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-4 align-items-center d-flex">
                            <RadzenLabel class="dialogTextSize" Text="DE Vibration X" />
                        </div>
                        <div class="col-8">
                            <RadzenNumeric Name="DEVibrationX" class="w-100" @bind-Value="@Item.DEVibrationX" Disabled=@isViewing Placeholder="Enter DE vibration X ..." TextProperty="DEVibrationX"></RadzenNumeric>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-4 align-items-center d-flex">
                            <RadzenLabel class="dialogTextSize" Text="DE Vibration Y" />
                        </div>
                        <div class="col-8">
                            <RadzenNumeric Name="DEVibrationY" class="w-100" @bind-Value="@Item.DEVibrationY" Disabled=@isViewing Placeholder="Enter DE vibration Y ..." TextProperty="DEVibrationY"></RadzenNumeric>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-4 align-items-center d-flex">
                            <RadzenLabel class="dialogTextSize" Text="NDE Vibration X" />
                        </div>
                        <div class="col-8">
                            <RadzenNumeric Name="NDEVibrationX" class="w-100" @bind-Value="@Item.NDEVibrationX" Disabled=@isViewing Placeholder="Enter NDE vibration X ..." TextProperty="NDEVibrationX"></RadzenNumeric>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-4 align-items-center d-flex">
                            <RadzenLabel class="dialogTextSize" Text="NDE Vibration Y" />
                        </div>
                        <div class="col-8">
                            <RadzenNumeric Name="NDEVibrationY" class="w-100" @bind-Value="@Item.NDEVibrationY" Disabled=@isViewing Placeholder="Enter NDE vibration Y ..." TextProperty="NDEVibrationY"></RadzenNumeric>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-4 align-items-center d-flex">
                            <RadzenLabel class="dialogTextSize" Text="Outboard Thrust Brg TE-801 °c" />
                        </div>
                        <div class="col-8">
                            <RadzenNumeric Name="OutboardThrustBrgTE801" class="w-100" @bind-Value="@Item.OutboardThrustBrgTE801" Disabled=@isViewing Placeholder="Enter outboard thrust brg TE-801 °c ..." TextProperty="OutboardThrustBrgTE801"></RadzenNumeric>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-4 align-items-center d-flex">
                            <RadzenLabel class="dialogTextSize" Text="Outboard Thrust Brg TE-802 °c" />
                        </div>
                        <div class="col-8">
                            <RadzenNumeric Name="OutboardThrustBrgTE802" class="w-100" @bind-Value="@Item.OutboardThrustBrgTE802" Disabled=@isViewing Placeholder="Enter outboard thrust brg TE-802 °c ..." TextProperty="OutboardThrustBrgTE802"></RadzenNumeric>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-4 align-items-center d-flex">
                            <RadzenLabel class="dialogTextSize" Text="Inboard Thrust Brg TE-803 °c" />
                        </div>
                        <div class="col-8">
                            <RadzenNumeric Name="InboardThrustBrgTE803" class="w-100" @bind-Value="@Item.InboardThrustBrgTE803" Disabled=@isViewing Placeholder="Enter inboard thrust brg TE-803 °c ..." TextProperty="InboardThrustBrgTE803"></RadzenNumeric>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-4 align-items-center d-flex">
                            <RadzenLabel class="dialogTextSize" Text="Inboard Thrust Brg TE-804 °c" />
                        </div>
                        <div class="col-8">
                            <RadzenNumeric Name="InboardThrustBrgTE804" class="w-100" @bind-Value="@Item.InboardThrustBrgTE804" Disabled=@isViewing Placeholder="Enter inboard thrust brg TE-804 °c ..." TextProperty="InboardThrustBrgTE804"></RadzenNumeric>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-4 align-items-center d-flex">
                            <RadzenLabel class="dialogTextSize" Text="NDE Journal Brg TE-805 °c" />
                        </div>
                        <div class="col-8">
                            <RadzenNumeric Name="NDEJournalBrgTE805" class="w-100" @bind-Value="@Item.NDEJournalBrgTE805" Disabled=@isViewing Placeholder="Enter NDE journal brg TE-805 °c ..." TextProperty="NDEJournalBrgTE805"></RadzenNumeric>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-4 align-items-center d-flex">
                            <RadzenLabel class="dialogTextSize" Text="NDE Journal Brg TE-806 °c" />
                        </div>
                        <div class="col-8">
                            <RadzenNumeric Name="NDEJournalBrgTE806" class="w-100" @bind-Value="@Item.NDEJournalBrgTE806" Disabled=@isViewing Placeholder="Enter NDE journal brg TE-806 °c ..." TextProperty="NDEJournalBrgTE806"></RadzenNumeric>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-4 align-items-center d-flex">
                            <RadzenLabel class="dialogTextSize" Text="DE Journal Brg TE-807 °c" />
                        </div>
                        <div class="col-8">
                            <RadzenNumeric Name="DEJournalBrgTE807" class="w-100" @bind-Value="@Item.DEJournalBrgTE807" Disabled=@isViewing Placeholder="Enter DE journal brg TE-807 °c ..." TextProperty="DEJournalBrgTE807"></RadzenNumeric>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-4 align-items-center d-flex">
                            <RadzenLabel class="dialogTextSize" Text="DE Journal Brg TE-808 °c" />
                        </div>
                        <div class="col-8">
                            <RadzenNumeric Name="DEJournalBrgTE808" class="w-100" @bind-Value="@Item.DEJournalBrgTE808" Disabled=@isViewing Placeholder="Enter DE journal brg TE-808 °c ..." TextProperty="DEJournalBrgTE808"></RadzenNumeric>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-4 align-items-center d-flex">
                            <RadzenLabel class="dialogTextSize" Text="Remark" />
                        </div>
                        <div class="col-8">
                            <RadzenTextArea Name="Remark" class="w-100" Placeholder="Enter remark..." @bind-Value="@Item.Remark" Disabled=@isViewing></RadzenTextArea>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-4 align-items-center d-flex">
                            <RadzenLabel class="dialogTextSize" Text="Date" />
                        </div>
                        <div class="col-8">
                            <RadzenDatePicker class="w-100" DateFormat="d" @bind-Value="@Item.DateUI" ShowTime="false" Disabled=@(Item.Id > 0 || isViewing)></RadzenDatePicker>
                        </div>
                    </div>
                </ChildContent>
            </TabPane>
        </Tabs>
        
    </ChildContent>
</DailyDialog>