@using AntDesign;
@using ManagementOfChangeODataService.Affra.Service.ManagementOfChange.Domain.SCEElements

<Layout Class="layout-view">
    <Sider Width=400>
        <Layout Style="height: 100%;">
            <Header>
                <div class="row">
                    <div class="col-6">
                        <span>Group</span>
                    </div>
                    <div class="col-6 float-right align-items-center text-right mt-1">
                        <Button Type="primary" Size="@("large")" Shape="@ButtonShape.Round" OnClick=AddGroupDialogAsync>
                            <ChildContent>
                                <Icon Type="plus-circle" Theme="outline" Class="anticon-big" /><span style="font-size: 18px; margin-left: 10px;">Add</span>
                            </ChildContent>
                        </Button>
                    </div>
                </div>
            </Header>
            <Content style="overflow-y: auto; max-height: 100%;">
                <Menu @ref=menu Mode="MenuMode.Inline" Style="height: 100%;" DefaultSelectedKeys="@(new string[] { "All"})" OnMenuItemClicked=OnMenuItemSelectAsync>
                    <MenuItem Key="All">All</MenuItem>
                    @{
                        foreach (var sceGroupItem in sceElementGroupList)
                        {
                            <MenuItem Key=@sceGroupItem.Id.ToString()>
                                <ChildContent>
                                    <div class="row">
                                        <div class="col-9">
                                            @sceGroupItem.Name.ToString()
                                        </div>
                                        <div class="col-3">
                                            <Button Class="" Type="@AntDesign.ButtonType.Text" Shape="@ButtonShape.Circle" Size="@AntDesign.ButtonSize.Small" OnClickStopPropagation="true" OnClick="@(() => ShowGroupDialogAsync(sceGroupItem, "Edit"))">
                                                <ChildContent>
                                                    <Icon Class="anticon-big" Type="edit" Theme="outline"/>
                                                </ChildContent>
                                            </Button>
                                            <Button Class="" Type="@AntDesign.ButtonType.Text" Shape="@ButtonShape.Circle" Size="@AntDesign.ButtonSize.Small" OnClickStopPropagation="true" OnClick="@(() => ShowGroupDeleteDialogAsync(sceGroupItem, "Delete"))">
                                                <ChildContent>
                                                    <Icon Class="anticon-big" Type="delete" Theme="outline" />
                                                </ChildContent>
                                            </Button>
                                        </div>
                                    </div>
                                </ChildContent>
                            </MenuItem>
                        }
                    }
                </Menu>             
            </Content>
        </Layout>
    </Sider>
    <Layout Style="height:100%;">
        <Header Style="border-left: 1px solid #dbe0ea">
            <div class="row">
                <div class="col-6">
                    <span>SCE Element</span>
                </div>    
                <div class="col-6 float-right align-items-center text-right mt-1">
                    <Button Type="primary" Size="@("large")" Shape="@ButtonShape.Round" OnClick=AddDialogAsync >
                       <ChildContent>
                           <Icon Type="plus-circle" Theme="outline" Class="anticon-big"/><span style="font-size: 18px; margin-left: 10px;">Add</span>
                       </ChildContent>
                    </Button>
                </div>
             </div>       
        </Header>
        <Content Style="height:100%;">
            <SCEElementGrid @ref=sceElementGrid />
        </Content>
    </Layout>
</Layout>

@code {
    private Task AddDialogAsync()
    {
        return this.sceElementGrid.ShowDialogAsync(
                                new SCEElementRecord() {  },
                                0,
                                "Add");
    }
    private Task AddGroupDialogAsync()
    {
        return ShowGroupDialogAsync(new SCEElementGroupRecord(), "Add");
    }
}