<Layout Class="layout-view">
    <Header>
        <div class="row">
            <div class="col-12 float-right align-items-center text-right mt-1">
                <Space Size="@("middle")">
                    <SpaceItem>
                        <RadzenDropDown Change=@(() => ReloadAsync()) Placeholder="Select folder..." Data=@Folders @bind-Value=@folder TValue=string AllowClear>
                            <Template>
                                <Icon Type="folder-open" Theme="outline" Style="font-size: 20px; vertical-align: 0px; margin-right: 2px;"/>@context
                            </Template>
                        </RadzenDropDown>
                    </SpaceItem>
                    <SpaceItem>
                        <Search Size="@("large")" Placeholder="Search file..." Style="width: 20vw;" OnChange=@(args => ReloadAsync(null)) @bind-Value=search ClassicSearchIcon/>
                    </SpaceItem>
                    <SpaceItem>
                        @if (!string.IsNullOrEmpty(this.folder))
                        {
                            <Button Type="default" Size="@("large")" Shape="@ButtonShape.Round" OnClick=@(args => ReloadAsync(null))>
                                <ChildContent>
                                  <Upload Multiple ShowUploadList>
                                        <label><InputFile id="fileInput" OnChange="UploadAsync" hidden multiple/><Icon Type="upload" Theme="outline" Class="anticon-big"/><span style="font-size: 18px; margin-left: 10px;">Upload</span></label>
                                   </Upload>     
                                </ChildContent>
                            </Button>
                        }
                        <Button Type="primary" Size="@("large")" Shape="@ButtonShape.Round" OnClick=@(args => ReloadAsync(null))>
                            <ChildContent>
                                <Icon Type="reload" Theme="outline" Class="anticon-big"/><span style="font-size: 18px; margin-left: 10px;">Reload</span>
                            </ChildContent>
                        </Button>
                    </SpaceItem>
                </Space>
            </div>
        </div>       
    </Header>
    <Layout Style="height: 100%;">
        <Sider Class="d-none d-lg-inline" Collapsed Collapsible>
            <Menu DefaultSelectedKeys=@(new[] { "All" }) Style="height: 100%;" Mode=@MenuMode.Inline @ref=menu OnMenuItemClicked=OnMenuItemSelectAsync>
                <MenuItem Key="All">         
                    <IconTemplate>
                        <Icon Type="file" Theme="outline" Class="anticon-big"/>
                    </IconTemplate>
                    <ChildContent>
                        <span style="font-size: 16px; margin-left: 0px;">All</span>
                    </ChildContent>
                </MenuItem>
                <MenuItem Key="Processing">
                    <IconTemplate>
                        <Icon Type="loading" Theme="outline" Class="anticon-big"/>
                    </IconTemplate>
                    <ChildContent>
                        <span style="font-size: 16px; margin-left: 0px;">Processing</span>
                    </ChildContent>                
                </MenuItem>
                <MenuItem Key="Completed">
                    <IconTemplate>
                        <Icon Type="file-done" Theme="outline" Class="anticon-big"/>
                    </IconTemplate>
                    <ChildContent>
                        <span style="font-size: 16px; margin-left: 0px;">Completed</span>
                    </ChildContent>            
                </MenuItem>
                <MenuItem Key="Pending">
                    <IconTemplate>
                        <Icon Type="field-time" Theme="outline" Class="anticon-big"/>
                    </IconTemplate>
                    <ChildContent>
                        <span style="font-size: 16px; margin-left: 0px;">Pending</span>
                    </ChildContent>          
                </MenuItem>
                <MenuItem Key="Failed">
                    <IconTemplate>
                        <Icon Type="file-exclamation" Theme="outline" Class="anticon-big"/>
                    </IconTemplate>
                    <ChildContent>
                        <span style="font-size: 16px; margin-left: 0px;">Failed</span>
                    </ChildContent>          
                </MenuItem>
            </Menu>
        </Sider>
        <Content Style="overflow-y: auto; overflow-x:hidden; height:100%;">
            <FileManagementDataList @ref=fileManagementDataList></FileManagementDataList>
        </Content>
    </Layout>
</Layout>
