@using ViewODataService.Affra.Service.View.Domain.Charts
@using ViewODataService.Affra.Service.View.Domain.Views

<RadzenTemplateForm Data="@Item" Submit="@( async (Chart args) => { await SubmitAsync(args); })">
    <div class="row">
        <div class="col">
            <RadzenCard>
                 <div class="row py-2">
                    <div class="col-4 align-items-center d-flex">
                        <RadzenLabel class="dialogTextSize" Text="Row Number" />
                    </div>
                    <div class="col-8">
                       <RadzenDropDown Name="RowNumber" class="w-100" Data="@View.Rows" TextProperty="Sequence" @bind-Value="@Item.Row" AllowClear="false" TValue="Row" Change=@(args => OnChange(args)) Disabled=@isViewing></RadzenDropDown>
                       <RadzenRequiredValidator Component="RowNumber" Text="Row number is required" Popup=false/>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-4 align-items-center d-flex">
                        <RadzenLabel class="dialogTextSize" Text="Sequence" />
                    </div>
                    <div class="col-8">
                        <RadzenNumeric Name="Sequence" class="w-100" Placeholder="Enter sequence..." @bind-Value="@Item.Sequence" Disabled=@isViewing></RadzenNumeric>
                        <RadzenRequiredValidator Component="Sequence" Text="Sequence is required" Popup=false/>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-4 align-items-center d-flex">
                        <RadzenLabel class="dialogTextSize" Text="Chart Type" />
                    </div>
                    <div class="col-8">
                        <RadzenDropDown AllowClear="false" Data="@ChartTypes" Name="ChartType" class="w-100" Placeholder="Select chart type..." @bind-Value="@Item.ChartTypeString" Disabled=@isViewing></RadzenDropDown>
                        <RadzenRequiredValidator Component="ChartType" Text="Chart type is required" Popup=false/>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-4 align-items-center d-flex">
                        <RadzenLabel class="dialogTextSize" Text="Type" />
                    </div>
                    <div class="col-8">
                        <RadzenDropDown Name="Type" class="w-100" Placeholder="Enter type..." FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Data="@types" @bind-Value="@Item.Type" TValue="string" AllowClear="false" Disabled=@isViewing></RadzenDropDown>
                        <RadzenRequiredValidator Component="Type" Text="Type is required" Popup=false/>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-4 align-items-center d-flex">
                        <RadzenLabel class="dialogTextSize" Text="Format String" />
                    </div>
                    <div class="col-8">
                        <RadzenTextBox Name="FormatString" class="w-100" Placeholder="Enter format string..." @bind-Value="@Item.FormatString" Disabled=@isViewing></RadzenTextBox>
                        <RadzenRequiredValidator Component="FormatString" Text="Format string is required" Popup=false/>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-4 align-items-center d-flex">
                        <RadzenLabel class="dialogTextSize" Text="Axis Title" />
                    </div>
                    <div class="col-8">
                        <RadzenTextBox Name="AxisTitle" class="w-100" Placeholder="Enter axis title..." @bind-Value="@Item.AxisTitle" Disabled=@isViewing></RadzenTextBox>
                        <RadzenRequiredValidator Component="AxisTitle" Text="axis title is required" Popup=false/>
                    </div>
                </div>
                <div class="row py-2">
                   <ChartSeriesDataGrid Chart="@Item"></ChartSeriesDataGrid>
                </div>
            </RadzenCard>
                <div class="row justify-content-center py-4" hidden=@isViewing>
                    <div class="col-md-12 d-flex align-items-end justify-content-center">
                        <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" Disabled=@isViewing/>
                        <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="cancel" style="display: inline-block; margin-left: 10px;" Text="Cancel" Click="@Cancel"/>
                    </div>
                </div>
        </div>
    </div>
    <div>
        
    </div>
</RadzenTemplateForm>
