@using JXNippon.CentralizedDatabaseSystem.Domain.Charts
@using Row = ViewODataService.Affra.Service.View.Domain.Views.Row

<RadzenTemplateForm Data="@Item" Submit="@(async (Chart args) => { await SubmitAsync(args); })">
    <div class="fullscreen-dialog">
        <div class="fullscreen-dialog-header">
            <Icon Type="arrow-left" Theme="outline" Class="fullscreen-dialog-back" OnClick=@(() => this.DialogService.Close())/>
            <Steps ShowProgressDot Current="current" @ref=@this.steps Class="steps-navbar">
                <Step Title="Configurations" />
                <Step Title="Chart Series" />
                <Step Title="Preview" />
            </Steps>
            <div class="steps-action-buttons">
                <RadzenButton Visible=@(this.current > 0) Style="margin-right: 10px;" ButtonStyle="Radzen.ButtonStyle.Light" Click="@(() => MovePage(-1))">Previous</RadzenButton> 
                <RadzenButton Visible=@(this.current < 2) ButtonType="Radzen.ButtonType.Submit">Next</RadzenButton> 
                <RadzenButton Visible=@(this.current == 2) ButtonType="Radzen.ButtonType.Submit" Text="Save" Disabled=@isViewing/>            
             </div>
        </div>
        <Divider />
        <div class="col view-dialog-content">
            @if (this.current == 0)
            {   
                <div class="row py-2">
                    <div class="col-4 align-items-center d-flex">
                        <RadzenLabel class="dialogTextSize" Text="Title" />
                    </div>
                    <div class="col-8">
                        <RadzenTextBox Name="Title" class="w-100" Placeholder="Enter title..." @bind-Value="@Column.Title" Disabled=@isViewing></RadzenTextBox>
                        <RadzenRequiredValidator Component="Title" Text="Title is required" Popup=false/>
                    </div>
                </div>
                <div class="row py-2">
                
                    <div class="col-4 align-items-center d-flex">
                        <RadzenLabel class="dialogTextSize" Text="Icon" />
                    </div>
                    <div class="col-8">
                        <RadzenTextBox Name="Icon" class="w-100" Placeholder="Enter icon..." @bind-Value="@Column.Icon" Disabled=@isViewing></RadzenTextBox>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-4 align-items-center d-flex">
                        <RadzenLabel class="dialogTextSize" Text="Type" />
                    </div>
                    <div class="col-8">
                        <RadzenDropDown Name="Type" class="w-100" Placeholder="Select type..." FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Data="@types" @bind-Value="@Item.Type" TValue="string" AllowClear="false" Disabled=@isViewing></RadzenDropDown>
                        <RadzenRequiredValidator Component="Type" Text="Type is required" Popup=false/>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-4 align-items-center d-flex">
                        <RadzenLabel class="dialogTextSize" Text="Date Filter" />
                    </div>
                    <div class="col-8">
                        <RadzenDropDown Name="DateFilterId" class="w-100" Placeholder="Select date filter..." FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Data="@dateFiltersId" @bind-Value="@Item.DateFilterId" TValue="string" AllowClear="true" Disabled=@isViewing></RadzenDropDown>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-4 align-items-center d-flex">
                        <RadzenLabel class="dialogTextSize" Text="Format String" />
                    </div>
                    <div class="col-8">
                        <RadzenTextBox Name="FormatString" class="w-100" Placeholder="Enter format string..." @bind-Value="@Item.FormatString" Disabled=@isViewing></RadzenTextBox>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-4 align-items-center d-flex">
                        <RadzenLabel class="dialogTextSize" Text="Axis Title" />
                    </div>
                    <div class="col-8">
                        <RadzenTextBox Name="AxisTitle" class="w-100" Placeholder="Enter axis title..." @bind-Value="@Item.AxisTitle" Disabled=@isViewing></RadzenTextBox>
                        <RadzenRequiredValidator Component="AxisTitle" Text="Axis title is required" Popup=false/>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-4 align-items-center d-flex">
                        <RadzenLabel class="dialogTextSize" Text="Value Axis Step" />
                    </div>
                    <div class="col-8">
                        <RadzenNumeric Name="ValueAxisStep" class="w-100" Placeholder="Enter value axis step..." @bind-Value="@Item.ValueAxisStep" Disabled=@isViewing></RadzenNumeric>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-4 align-items-center d-flex">
                        <RadzenLabel class="dialogTextSize" Text="Width Size" />
                    </div>
                    <div class="col-8">
                        <RadzenNumeric Max=12 Min=1 Name="WidthGridSize" class="w-100" Placeholder="Enter width size..." @bind-Value="@Item.WidthGridSize" Disabled=@isViewing></RadzenNumeric>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-4 align-items-center d-flex">
                        <RadzenLabel class="dialogTextSize" Text="Card Style" />
                    </div>
                    <div class="col-8">
                        <Switch Checked="false" CheckedChildren="Simple" UnCheckedChildren="Default" @bind-Value="@Item.IsSimpleCard" Disabled=@isViewing/>      
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-4 align-items-center d-flex">
                        <RadzenLabel class="dialogTextSize" Text="Chart Style" />
                    </div>
                    <div class="col-8">
                        <RadzenTextBox Name="ChartStyle" class="w-100" Placeholder="Enter chart style..." @bind-Value="@Item.Style" Disabled=@isViewing></RadzenTextBox>
                    </div>
                </div>
            }
            else if (this.current == 1)
            {
                <ChartSeriesDataGrid Chart="@Item" Types=@this.types></ChartSeriesDataGrid>
            }
            else
            {
                <ChartComponent TType="@Item.ActualType" AxisTitle="@Item.AxisTitle" FormatString="@Item.FormatString" 
                    Step="@TimeSpan.FromMinutes(Item.StepInMinutes)" ValueAxisStep="@Item.ValueAxisStep" ChartSeries="@Item.ChartSeries"></ChartComponent>
            }
           
        </div>
    </div>
</RadzenTemplateForm>
