@using JXNippon.CentralizedDatabaseSystem.Domain.Grids
@using ViewODataService.Affra.Service.View.Domain.Views
@using Row = ViewODataService.Affra.Service.View.Domain.Views.Row

<RadzenTemplateForm Data="@Item" Submit="@( async (Grid args) => { await SubmitAsync(args); })">
    <div class="row">
        <div class="col">
                <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Row Number" />
                </div>
                <div class="col-8">
                    <RadzenDropDown Name="RowNumber" class="w-100" Data="@View.Rows" TextProperty="Sequence" @bind-Value="@Column.Row" AllowClear="false" TValue="Row" Change=@(args => OnChange(args)) Disabled=@isViewing></RadzenDropDown>
                    <RadzenRequiredValidator Component="RowNumber" Text="Row number is required" Popup=false/>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Sequence" />
                </div>
                <div class="col-8">
                    <RadzenNumeric Name="Sequence" class="w-100" Placeholder="Enter sequence..." @bind-Value="@Column.Sequence" Disabled=@isViewing></RadzenNumeric>
                    <RadzenRequiredValidator Component="Sequence" Text="Sequence is required" Popup=false/>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Type" />
                </div>
                <div class="col-8">
                    <RadzenDropDown Name="Type" class="w-100" Placeholder="Enter type..." FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Data="@types" @bind-Value="@Item.Type" TValue="string" AllowClear="false" Disabled=@isViewing></RadzenDropDown>
                    <RadzenRequiredValidator Component="Type" Text="Type is required" Popup=false/>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Title" />
                </div>
                <div class="col-8">
                    <RadzenTextBox Name="Title" class="w-100" Placeholder="Enter title..." @bind-Value="@Column.Title" Disabled=@isViewing></RadzenTextBox>
                    <RadzenRequiredValidator Component="Title" Text="Title is required" Popup=false/>
                </div>
            </div>
            <div class="row py-2">
                
                <div class="col-4 align-items-center d-flex">
                    <RadzenLabel class="dialogTextSize" Text="Icon" />
                </div>
                <div class="col-8">
                    <RadzenTextBox Name="Icon" class="w-100" Placeholder="Enter icon..." @bind-Value="@Column.Icon" Disabled=@isViewing></RadzenTextBox>
                </div>
            </div>
            <div class="row py-2">
                <GridColumnDataGrid Grid="@Item"></GridColumnDataGrid>
            </div>
            <div class="row justify-content-center py-4" hidden=@isViewing>
                <div class="col-md-12 d-flex align-items-end justify-content-center">
                    <RadzenButton ButtonType="Radzen.ButtonType.Submit" Icon="save" Text="Save" Disabled=@isViewing/>
                    <RadzenButton ButtonStyle="Radzen.ButtonStyle.Light" Icon="cancel" style="display: inline-block; margin-left: 10px;" Text="Cancel" Click="@Cancel"/>
                </div>
            </div>
        </div>
    </div>        
</RadzenTemplateForm>
