@using System.Text.Json;
@using JXNippon.CentralizedDatabaseSystem.Domain.Views
@using JXNippon.CentralizedDatabaseSystem.Domain.Charts
@using ViewODataService.Affra.Service.View.Domain.Views

@inject IViewService ViewService

@foreach(var row in View.Rows)
{
    <div class="row">

        @if (row.Columns is null
            || row.Columns.Count == 0)
        {
             <div class="col py-3">
                    <RadzenCard></RadzenCard>  
             </div> 
        }

        @foreach(var col in row.Columns) 
        {      
            if (col.ComponentType ==  nameof(Chart))
            {
                Chart chart = JsonSerializer.Deserialize<Chart>(col.ColumnComponent);
                string type = ViewService.GetTypeMapping()[chart.Type];
                <div class="col py-3">
                    <RadzenCard>                  
                        <ChartComponent @ref="@chartComponentRef" StartDate="@StartDate" EndDate="@EndDate" TType="@type" AxisTitle="@chart.AxisTitle" FormatString="@chart.FormatString" 
                        Step="@TimeSpan.FromMinutes(chart.StepInMinutes)" ChartSeries="@chart.ChartSeries" ChartType="@chart.ChartType"></ChartComponent></RadzenCard>  
                </div> 
            }
        }
    </div>
}
