@using JXNippon.CentralizedDatabaseSystem.Domain.Views
@using ViewODataService.Affra.Service.View.Domain.Charts
@using ViewODataService.Affra.Service.View.Domain.Views

@inject IViewService ViewService

@foreach(var row in View.Rows)
{
    <div class="row">

        @if (row.Columns is null
            || row.Columns.Count == 0)
        {
             <div class="col py-3">
                    <RadzenCard></RadzenCard>  
             </div> 
        }

        @foreach(var col in row.Columns) 
        {      
            if (col is Chart column)
            {
                string type = ViewService.GetTypeMapping()[column.Type];
                <div class="col py-3">
                    <RadzenCard>                  
                        <ChartComponent @ref="@chartComponentRef" StartDate="@StartDate" EndDate="@EndDate" TType="@type" AxisTitle="@column.AxisTitle" FormatString="@column.FormatString" 
                        Step="@TimeSpan.FromMinutes(column.StepInMinutes)" ChartSeries="@column.ChartSeries" ChartType="@column.ChartType"></ChartComponent></RadzenCard>  
                </div> 
            }
        }
    </div>
}
