@using System.Text.Json;
@using JXNippon.CentralizedDatabaseSystem.Domain.Grids
@using JXNippon.CentralizedDatabaseSystem.Domain.Views
@using JXNippon.CentralizedDatabaseSystem.Domain.Charts
@using ViewODataService.Affra.Service.View.Domain.Views

@inject IViewService ViewService

@foreach(var row in View.Rows)
{
    <div class="row">

        @if (row.Columns is null
            || row.Columns.Count == 0)
        {
             <div class="col py-3">
                    <RadzenCard></RadzenCard>  
             </div> 
        }

        @foreach(var col in row.Columns) 
        {   
            <div class="col py-3">
                <Card Size="medium">
                    <TitleTemplate>
                        <span>
                            <i class="@col.Icon"></i>
                            @col.Title
                        </span>
                    </TitleTemplate>
                    <Extra>
                        <a><i class="fa-solid fa-ellipsis-vertical"></i></a>
                    </Extra>
                    <Body>
                    @if (col.ComponentType ==  nameof(Chart))
                    {
                        Chart chart = JsonSerializer.Deserialize<Chart>(col.ColumnComponent);
                        string type = ViewService.GetTypeMapping()[chart.Type];
                        <ChartComponent @ref="@chartComponentRef" Title=@col.Title StartDate="@StartDate" EndDate="@EndDate" TType="@type" Subscription="@chart.Type" AxisTitle="@chart.AxisTitle" FormatString="@chart.FormatString" 
                            Step="@TimeSpan.FromMinutes(chart.StepInMinutes)" ValueAxisStep="@chart.ValueAxisStep" ChartSeries="@chart.ChartSeries"></ChartComponent>
                    }
                    else if (col.ComponentType ==  nameof(Grid))
                    {
                        Grid grid = JsonSerializer.Deserialize<Grid>(col.ColumnComponent);
                        string type = ViewService.GetTypeMapping()[grid.Type];
                        <DataGridComponent @ref="@gridComponentRef" TType="@type" Subscription="@grid.Type" StartDate="@StartDate" EndDate="@EndDate" GridColumns="@grid.GridColumns"></DataGridComponent>
                    }
                    </Body>
               </Card>  
           </div> 
        }
    </div>
}
