@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.OIMSummaries
@using JXNippon.CentralizedDatabaseSystem.Domain.Extensions
@using JXNippon.CentralizedDatabaseSystem.Shared.TemplateManagement
@using JXNippon.CentralizedDatabaseSystem.Shared.Commons

<div class="row">
    <div class="col">
        <DailyDataGrid @ref=DailyDataGrid LoadData="@LoadData" @bind-Items=@this.Data OnItemsChanged=DataChanged TItem="DailyHIPAndLWPSummary" TDialog="HIPAndLWPSummaryDialog" ReportDate="@this.ReportDate"
            PagerAlwaysVisible="@PagerAlwaysVisible">
            <Columns>
                <RadzenDataGridColumn TItem="DailyHIPAndLWPSummary" Property="Remark" Title="Remark">
                    <Template Context="item">
                        <p style="white-space:pre-wrap">@item.Remark</p>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyHIPAndLWPSummary" Property="Date" Title="Date" SortOrder="SortOrder.Descending" Visible="@ShowDateColumn">
                    <Template Context="item">
                        @string.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:d}", item.Date.ToLocalTime())
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </DailyDataGrid>  
    </div>
</div>