@using CentralizedDatabaseSystemODataService.Affra.Service.CentralizedDatabaseSystem.Domain.OIMSummaries
@using JXNippon.CentralizedDatabaseSystem.Domain.Extensions
@using JXNippon.CentralizedDatabaseSystem.Shared.TemplateManagement
@using JXNippon.CentralizedDatabaseSystem.Shared.Commons

<div class="row">
    <div class="col">
        <DailyDataGrid @ref=DailyDataGrid LoadData="@LoadData" Subscriptions=@(new string[] { "DailySK10Production", "DailyHIPProduction" }) 
            @bind-Items=@this.Data OnItemsChanged=OnDataChangedAsync TItem="DailyHIPAndLWPSummary"
            TDialog="HIPAndLWPSummaryDialog" ReportDate="@this.ReportDate" AllowSorting=false
            PagerAlwaysVisible="@PagerAlwaysVisible">
            <Columns>
                <RadzenDataGridColumn TItem="DailyHIPAndLWPSummary" Property="Row" Title="Row">
                    <Template Context="item">
                        <p style="white-space:pre-wrap">@((this.Data.ToList().IndexOf(item) + 1))</p>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyHIPAndLWPSummary" Property="Remark" Title="Remark">
                    <Template Context="item">
                        <p style="white-space:pre-wrap">@((MarkupString)@item.Remark)</p>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DailyHIPAndLWPSummary" Property="Date" Title="Date" SortOrder="SortOrder.Descending" Visible="@ShowDateColumn">
                    <Template Context="item">
                        @string.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:d}", item.Date.ToLocalTime())
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </DailyDataGrid>  
    </div>
</div>